<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.2">W4111 $-$ Introduction to Databases: <br>SQL Detail Examples and Data Modeling</h1>

In [110]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

In [2]:
import pymysql
import json

_default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuser',
        'db': 'lahman2017',
        'port': 3306
    }
_default_cnx = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)

In [3]:
def run_q(q, args=None, fields=None, fetch=True, cnx=None, commit=True, debug=True):
    """

    :param q: An SQL query string that may have %s slots for argument insertion. The string
        may also have {} after select for columns to choose.
    :param args: A tuple of values to insert in the %s slots.
    :param fetch: If true, return the result.
    :param cnx: A database connection. May be None
    :param commit: Do not worry about this for now. This is more wizard stuff.
    :return: A result set or None.
    """

    r = None
    
    try:
        # Use the connection in the object if no connection provided.
        if cnx is None:
            cnx = _default_cnx

        # Convert the list of columns into the form "col1, col2, ..." for following SELECT.
        if fields:
            q = q.format(",".join(fields))

        cursor = cnx.cursor()  # Just ignore this for now.

        if debug:
            print("Query = ", q)
            print("Args = ", str(args))
            print("Query send to DB = ", cursor.mogrify(q, args))

        cnt = cursor.execute(q, args)  # Execute the query.

        # Technically, INSERT, UPDATE and DELETE do not return results.
        # Sometimes the connector libraries return the number of created/deleted rows.
        if fetch:
            r = cursor.fetchall()  # Return all elements of the result.
        else:
            r = cnt

        if commit:                  # Do not worry about this for now.
            cnx.commit()
    except Exception as e:
        cnx.rollback()
        print("Exception e = ", e)
        raise e

    return r

In [4]:
run_q("select * from people where playerid = %s", args=('willite01'))

Query =  select * from people where playerid = %s
Args =  willite01
Query send to DB =  select * from people where playerid = 'willite01'

[{'DOB': datetime.date(1918, 8, 30),
  'DOD': datetime.date(2002, 7, 5),
  'bats': 'L',
  'bbrefID': 'willite01',
  'birthCity': 'San Diego',
  'birthCountry': 'USA',
  'birthDay': 30,
  'birthMonth': 8,
  'birthState': 'CA',
  'birthYear': 1918,
  'deathCity': 'Inverness',
  'deathCountry': 'USA',
  'deathDay': 5,
  'deathMonth': 7,
  'deathState': 'FL',
  'deathYear': 2002,
  'debut': '1939-04-20',
  'finalGame': '1960-09-28',
  'height': '75',
  'nameFirst': 'Ted',
  'nameGiven': 'Theodore Samuel',
  'nameLast': 'Williams',
  'playerID': 'willite01',
  'retroID': 'willt103',
  'throws': 'R',
  'weight': '205'}]

## Introduction


### Lecture Overview

- Questions. Discussion.

    
- HW2 discussion, driven by students.


- Review and examples of some advanced SQL.


- Data modeling design patterns.

### Questions, Discussion


### HW2 Discussion Driven by Students

## Advanced SQL

### Player Performance Summary (```LEFT JOIN```)

#### Concept

- Player annual performance is in several tables
    - ```Appearances```
    - ```Batting```
    - ```Fielding```
    - ```Pitching```
    
    
#### Appearances

- Pull together a summary of performance information. Start with ```Appearances.```

In [5]:
%sql select playerid, teamID, yearID, G_all as games from appearances \
    where playerID='willite01'

19 rows affected.

[('willite01', 'BOS', '1939', '149'),
 ('willite01', 'BOS', '1940', '144'),
 ('willite01', 'BOS', '1941', '143'),
 ('willite01', 'BOS', '1942', '150'),
 ('willite01', 'BOS', '1946', '150'),
 ('willite01', 'BOS', '1947', '156'),
 ('willite01', 'BOS', '1948', '137'),
 ('willite01', 'BOS', '1949', '155'),
 ('willite01', 'BOS', '1950', '89'),
 ('willite01', 'BOS', '1951', '148'),
 ('willite01', 'BOS', '1952', '6'),
 ('willite01', 'BOS', '1953', '37'),
 ('willite01', 'BOS', '1954', '117'),
 ('willite01', 'BOS', '1955', '98'),
 ('willite01', 'BOS', '1956', '136'),
 ('willite01', 'BOS', '1957', '132'),
 ('willite01', 'BOS', '1958', '129'),
 ('willite01', 'BOS', '1959', '103'),
 ('willite01', 'BOS', '1960', '113')]

#### Batting

- Batting performance: Now add information from ```Batting.```
    - A player may have multiple batting records for a team and year because of the weird ```Batting.stint.```
    - We have to flatten, aka ```group by```, to merge multiple stints into a single summary.

In [6]:
%sql select count(*) as stint_count, playerid, teamid, yearid \
    from batting group by playerid, teamid, yearid order by stint_count desc limit 10;

10 rows affected.

[(3, 'chouife01', 'BRF', '1914'),
 (2, 'portebo01', 'PIT', '1959'),
 (2, 'mcallsp01', 'DET', '1902'),
 (2, 'phillan01', 'CIN', '2008'),
 (2, 'kimby01', 'FLO', '2007'),
 (2, 'marshfr01', 'SLA', '1952'),
 (2, 'hatfigi01', 'NYP', '1890'),
 (2, 'duceyro01', 'PHI', '2000'),
 (2, 'hamilea01', 'SLA', '1916'),
 (2, 'huelsfr01', 'CHA', '1904')]

- Examine an individual player, team and year to get a feel.

In [10]:
%sql select * from batting where playerid='chouife01' and teamid='BRF' and yearid='1914'

3 rows affected.

[('chouife01', '1914', '1', 'BRF', 'FL', '3', '2', '1', '1', '0', '0', '0', '0', '0', '', '0', '0', '', '0', '0', '', ''),
 ('chouife01', '1914', '3', 'BRF', 'FL', '3', '7', '2', '4', '1', '0', '0', '1', '0', '', '0', '0', '', '0', '0', '', ''),
 ('chouife01', '1914', '5', 'BRF', 'FL', '26', '70', '4', '15', '0', '2', '0', '7', '3', '', '4', '13', '', '0', '2', '', '')]

- Convert into a summary for a playerid, teamid, yearid.

In [15]:
%%%sql
    select
        cast(sum(h) as unsigned) as Hits, 
        cast(sum(ab) as unsigned) as `At Bats`, 
        cast(sum(hr) as unsigned) as HRs, 
        cast(sum(rbi) as unsigned) as RBIs
    from batting where playerid='chouife01' and teamid='BRF' and yearid='1914' 
    group by playerid, teamid, yearid

1 rows affected.

[(20, 79, 0, 8)]

- Some observations:
    - Example uses [Aggregate Functions](http://www.mysqltutorial.org/mysql-aggregate-functions.aspx)
    - Aggregate Functions require ```GROUP BY```
    - The [```CAST``` function](https://dev.mysql.com/doc/refman/8.0/en/cast-functions.html)
        - Converts a value from its current type to the desired type. 
        - In this table, the values are still ```TEXT.```
        - ```sum()``` will convert to real numbers and add, which results in a ```.0```
        - So, we cast to unsigned (effectively an integer).
    - What about the back quotes? ``` `At Bats` ``` has a space and requires the back quote.
        - Schema elements use back single quote.
        - Strings where there are values, e.g. comparisons, use single or double quote.

- If we do not use cast, ...

In [18]:
%%%sql
    select
        cast(sum(h) as unsigned) as HitsAsInt,
        sum(h) as HitsAsAFloat
    from batting where playerid='chouife01' and teamid='BRF' and yearid='1914' 
    group by playerid, teamid, yearid

1 rows affected.

[(20, 20.0)]

- If we do not use single back quote

In [20]:
%sql select ab as at bats from hitting limit 10;

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'bats from hitting limit 10' at line 1") [SQL: 'select ab as at bats from hitting limit 10;']

In [21]:
%sql select ab as at-bats from hitting limit 10;

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-bats from hitting limit 10' at line 1") [SQL: 'select ab as at-bats from hitting limit 10;']

In [22]:
%sql select ab as "at bats" from hitting limit 10;

(pymysql.err.ProgrammingError) (1146, "Table 'lahman2017.hitting' doesn't exist") [SQL: 'select ab as "at bats" from hitting limit 10;']

- So, if you do not want the SQL compiler to get confused, ...

In [31]:
%%%sql
    select
        playerid as `¿¿Why is it a player id??  ¡¡¡It is a people ID!!!!`,
        ab as `at bats`,
        ab as `at-bats`,
        ab as `at/%,-*bats`
    from
        batting
    limit 10;

10 rows affected.

[('aardsda01', '1', '1', '1'),
 ('aardsda01', '1', '1', '1'),
 ('aardsda01', '0', '0', '0'),
 ('aardsda01', '2', '2', '2'),
 ('aardsda01', '0', '0', '0'),
 ('aardsda01', '0', '0', '0'),
 ('aardsda01', '0', '0', '0'),
 ('aardsda01', '0', '0', '0'),
 ('aardsda01', '0', '0', '0'),
 ('aaronha01', '603', '603', '603')]

####  ```JOIN```  ```Appearances``` and ```Batting```

- There are several ways to "appear"
    - Bat
    - Pitch
    - Field
    - (Run)
    

- If we just ```JOIN```, we may lose ```Appearance``` rows that do not have a matching ```Batting``` row. Are there any such rows?

In [32]:
%%%sql
SELECT 
	playerid, teamid, yearid FROM appearances
    where
    not exists (select playerid, teamid, yearid from batting where
		appearances.playerid=batting.playerid and
                appearances.teamid=batting.teamid and appearances.yearid=batting.yearid)

2 rows affected.

[('jennihu01', 'DET', '1910'), ('donnepe01', 'PH2', '1874')]

- OK, not too many and none recent, but still ...


- If we just ```JOIN```

In [37]:
%%%sql
    select
        appearances.playerid, appearances.teamid, appearances.yearid, G_all as games,
        ab, h, hr, rbi
    from
        appearances join batting
    using (playerid, teamid, yearid)
    where playerid='jennihu01'
    order by yearid;

20 rows affected.

[('jennihu01', 'LS2', '1891', '88', '351', '103', '1', '58'),
 ('jennihu01', 'LS3', '1892', '152', '594', '133', '2', '61'),
 ('jennihu01', 'BLN', '1893', '16', '55', '14', '1', '6'),
 ('jennihu01', 'LS3', '1893', '23', '88', '12', '0', '9'),
 ('jennihu01', 'BLN', '1894', '128', '501', '168', '4', '109'),
 ('jennihu01', 'BLN', '1895', '131', '529', '204', '4', '125'),
 ('jennihu01', 'BLN', '1896', '130', '521', '209', '0', '121'),
 ('jennihu01', 'BLN', '1897', '117', '439', '156', '2', '79'),
 ('jennihu01', 'BLN', '1898', '143', '534', '175', '1', '87'),
 ('jennihu01', 'BLN', '1899', '2', '8', '3', '0', '2'),
 ('jennihu01', 'BRO', '1899', '67', '41', '7', '0', '6'),
 ('jennihu01', 'BRO', '1899', '67', '175', '57', '0', '34'),
 ('jennihu01', 'BRO', '1900', '115', '441', '120', '1', '69'),
 ('jennihu01', 'PHI', '1901', '82', '302', '79', '1', '39'),
 ('jennihu01', 'PHI', '1902', '78', '290', '79', '1', '32'),
 ('jennihu01', 'BRO', '1903', '6', '17', '4', '0', '1'),
 ('jennihu01', 'DET', '1907', '1', '4', '1', '0', '0'),
 ('jennihu01', 'DET', '1909', '2', '4', '2', '0', '2'),
 ('jennihu01', 'DET', '1912', '1', '1', '0', '0', '0'),
 ('jennihu01', 'DET', '1918', '1', '0', '0', '0', '0')]

- If we ```LEFT JOIN```, we get information for 1910.

In [39]:
%%%sql
    select
        appearances.playerid, appearances.teamid, appearances.yearid, G_all as games,
        ab, h, hr, rbi
    from
        appearances left join batting
    using (playerid, teamid, yearid)
    where playerid='jennihu01'
    order by yearid;

21 rows affected.

[('jennihu01', 'LS2', '1891', '88', '351', '103', '1', '58'),
 ('jennihu01', 'LS3', '1892', '152', '594', '133', '2', '61'),
 ('jennihu01', 'BLN', '1893', '16', '55', '14', '1', '6'),
 ('jennihu01', 'LS3', '1893', '23', '88', '12', '0', '9'),
 ('jennihu01', 'BLN', '1894', '128', '501', '168', '4', '109'),
 ('jennihu01', 'BLN', '1895', '131', '529', '204', '4', '125'),
 ('jennihu01', 'BLN', '1896', '130', '521', '209', '0', '121'),
 ('jennihu01', 'BLN', '1897', '117', '439', '156', '2', '79'),
 ('jennihu01', 'BLN', '1898', '143', '534', '175', '1', '87'),
 ('jennihu01', 'BLN', '1899', '2', '8', '3', '0', '2'),
 ('jennihu01', 'BRO', '1899', '67', '41', '7', '0', '6'),
 ('jennihu01', 'BRO', '1899', '67', '175', '57', '0', '34'),
 ('jennihu01', 'BRO', '1900', '115', '441', '120', '1', '69'),
 ('jennihu01', 'PHI', '1901', '82', '302', '79', '1', '39'),
 ('jennihu01', 'PHI', '1902', '78', '290', '79', '1', '32'),
 ('jennihu01', 'BRO', '1903', '6', '17', '4', '0', '1'),
 ('jennihu01', 'DET', '1907', '1', '4', '1', '0', '0'),
 ('jennihu01', 'DET', '1909', '2', '4', '2', '0', '2'),
 ('jennihu01', 'DET', '1910', '1', None, None, None, None),
 ('jennihu01', 'DET', '1912', '1', '1', '0', '0', '0'),
 ('jennihu01', 'DET', '1918', '1', '0', '0', '0', '0')]

- Also, not using ```USING``` for _Natural Join_ on common column names.


- Let's put it all together.

In [41]:
%%%sql
    select
        a.*, Hits, `At Bats`, HRs, RBIs
    from
        (select playerID, teamID, yearID, G_all as Games from appearances) as a
    join
        (select
             playerID, teamID, yearID, 
             cast(sum(h) as unsigned) as Hits,
             cast(sum(ab) as unsigned) as `At Bats`, 
             cast(sum(hr) as unsigned) as HRs, 
             cast(sum(rbi) as unsigned) as RBIs
        from
             batting
        group by playerid, teamid, yearid) as b 
    on
        a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid
limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', '33', 0, 1, 0, 0),
 ('aardsda01', 'BOS', '2008', '47', 0, 1, 0, 0),
 ('aardsda01', 'CHA', '2007', '25', 0, 0, 0, 0),
 ('aardsda01', 'CHN', '2006', '45', 0, 2, 0, 0),
 ('aardsda01', 'NYA', '2012', '1', 0, 0, 0, 0),
 ('aardsda01', 'NYN', '2013', '43', 0, 0, 0, 0),
 ('aardsda01', 'SEA', '2009', '73', 0, 0, 0, 0),
 ('aardsda01', 'SEA', '2010', '53', 0, 0, 0, 0),
 ('aardsda01', 'SFN', '2004', '11', 0, 0, 0, 0),
 ('aaronha01', 'ATL', '1966', '158', 168, 603, 44, 127)]

- Some comments:
    - ```*``` means all columns. ```table_name.*``` means all columns from ```table_name.```
    - ```playerID```, ```teamID``` and ```yearID``` would be ambiguous.
    - The aliasing is necessary for the derived tables that comprise the ```JOIN.```

#### Pitching

- Pitching has the same weird ```stint``` thing.

In [42]:
%sql select count(*) as stint_count, playerid, teamid, yearid \
    from pitching group by playerid, teamid, yearid order by stint_count desc limit 10;

10 rows affected.

[(2, 'kimby01', 'FLO', '2007'),
 (2, 'mcmicgr01', 'NYN', '1998'),
 (2, 'hamilea01', 'SLA', '1916'),
 (2, 'leblawa01', 'LAA', '2014'),
 (2, 'johnsjo07', 'SFN', '1997'),
 (2, 'salvoma01', 'BSN', '1943'),
 (2, 'eastoja01', 'CL6', '1891'),
 (2, 'hatfigi01', 'NYP', '1890'),
 (2, 'cranddo01', 'NY1', '1913'),
 (2, 'pughti01', 'CIN', '1996')]

- Are there ```Appearances``` without matching ```Pitching?```

In [43]:
%sql select count(*) from appearances;

1 rows affected.

[(104256,)]

In [44]:
%sql select count(*) from pitching;

1 rows affected.

[(45806,)]

- The answer is clearly, "Yes."


- The ```Appearances LEFT JOIN Batting``` produces a table with record for each ```Appearances``` even if no batting record exists. We can play the same trick with ```JOIN``` and ```Pitching.```


- First, ```Group By``` to get team and year pitching information.

In [47]:
%sql select playerid, teamid, yearid, sum(w) as P_Wins, sum(l) as P_loss from pitching \
    group by playerid, teamid, yearid \
    limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', 1.0, 1.0),
 ('aardsda01', 'BOS', '2008', 4.0, 2.0),
 ('aardsda01', 'CHA', '2007', 2.0, 1.0),
 ('aardsda01', 'CHN', '2006', 3.0, 0.0),
 ('aardsda01', 'NYA', '2012', 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', 2.0, 2.0),
 ('aardsda01', 'SEA', '2009', 3.0, 6.0),
 ('aardsda01', 'SEA', '2010', 0.0, 6.0),
 ('aardsda01', 'SFN', '2004', 1.0, 0.0),
 ('aasedo01', 'BAL', '1985', 10.0, 6.0)]

- Now, let's put it all together.

In [50]:
%%%sql
    select c.*, d.P_wins, d.P_loss from
    (select
        a.*, Hits, `At Bats`, HRs, RBIs
    from
        (select playerID, teamID, yearID, G_all as Games from appearances) as a
    join
        (select
             playerID, teamID, yearID, 
             cast(sum(h) as unsigned) as Hits,
             cast(sum(ab) as unsigned) as `At Bats`, 
             cast(sum(hr) as unsigned) as HRs, 
             cast(sum(rbi) as unsigned) as RBIs
        from
             batting
        group by playerid, teamid, yearid) as b 
    on
        a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
    join
        (select playerid, teamid, yearid, sum(w) as P_Wins, sum(l) as P_loss from pitching 
            group by playerid, teamid, yearid) as d
    on
        c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid
limit 10;

10 rows affected.

[('aardsda01', 'ATL', '2015', '33', 0, 1, 0, 0, 1.0, 1.0),
 ('aardsda01', 'BOS', '2008', '47', 0, 1, 0, 0, 4.0, 2.0),
 ('aardsda01', 'CHA', '2007', '25', 0, 0, 0, 0, 2.0, 1.0),
 ('aardsda01', 'CHN', '2006', '45', 0, 2, 0, 0, 3.0, 0.0),
 ('aardsda01', 'NYA', '2012', '1', 0, 0, 0, 0, 0.0, 0.0),
 ('aardsda01', 'NYN', '2013', '43', 0, 0, 0, 0, 2.0, 2.0),
 ('aardsda01', 'SEA', '2009', '73', 0, 0, 0, 0, 3.0, 6.0),
 ('aardsda01', 'SEA', '2010', '53', 0, 0, 0, 0, 0.0, 6.0),
 ('aardsda01', 'SFN', '2004', '11', 0, 0, 0, 0, 1.0, 0.0),
 ('aasedo01', 'BAL', '1985', '54', 0, 0, 0, 0, 10.0, 6.0)]

#### Fielding

- You guessed it. Time to add ```Fielding.``` And, it has stints.

In [58]:
%%%sql select playerid, teamid, yearid, 
        cast(sum(PO) as unsigned) as `Put Outs`, 
        cast(sum(A) as unsigned) as Assists, 
        cast(sum(E) as unsigned) as Errors 
    from fielding 
    group by playerid, teamid, yearid 
    limit 5;

5 rows affected.

[('aardsda01', 'ATL', '2015', 0, 1, 1),
 ('aardsda01', 'BOS', '2008', 3, 6, 0),
 ('aardsda01', 'CHA', '2007', 2, 4, 1),
 ('aardsda01', 'CHN', '2006', 1, 5, 0),
 ('aardsda01', 'NYA', '2012', 0, 0, 0)]

- And the final ```JOIN``` is?

In [60]:
%%%sql
select e.*, `Put Outs`, Assists, Errors from 
	(select c.*, d.P_wins, d.P_loss from
		(select
			a.*, Hits, `At Bats`, HRs, RBIs
		from
			(select playerID, teamID, yearID, G_all as Games from appearances) as a
		left join
			(select
				 playerID, teamID, yearID, 
				 cast(sum(h) as unsigned) as Hits,
				 cast(sum(ab) as unsigned) as `At Bats`, 
				 cast(sum(hr) as unsigned) as HRs, 
				 cast(sum(rbi) as unsigned) as RBIs
			from
				 batting
			group by playerid, teamid, yearid) as b 
		on
			a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		left join
			(select playerid, teamid, yearid, sum(w) as P_Wins, sum(l) as P_loss from pitching 
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, 
			cast(sum(PO) as unsigned) as `Put Outs`, 
			cast(sum(A) as unsigned) as Assists, 
			cast(sum(E) as unsigned) as Errors 
		from fielding 
			group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid
where 
	e.playerid='willite01'

19 rows affected.

[('willite01', 'BOS', '1939', '149', 185, 565, 31, 145, None, None, 318, 11, 19),
 ('willite01', 'BOS', '1940', '144', 193, 561, 23, 113, 0.0, 0.0, 302, 15, 13),
 ('willite01', 'BOS', '1941', '143', 185, 456, 37, 120, None, None, 262, 11, 11),
 ('willite01', 'BOS', '1942', '150', 186, 522, 36, 137, None, None, 312, 15, 4),
 ('willite01', 'BOS', '1946', '150', 176, 514, 38, 123, None, None, 325, 7, 10),
 ('willite01', 'BOS', '1947', '156', 181, 528, 32, 114, None, None, 347, 10, 9),
 ('willite01', 'BOS', '1948', '137', 188, 509, 25, 127, None, None, 289, 9, 5),
 ('willite01', 'BOS', '1949', '155', 194, 566, 43, 159, None, None, 337, 12, 6),
 ('willite01', 'BOS', '1950', '89', 106, 334, 28, 97, None, None, 165, 7, 8),
 ('willite01', 'BOS', '1951', '148', 169, 531, 30, 126, None, None, 315, 12, 4),
 ('willite01', 'BOS', '1952', '6', 4, 10, 1, 3, None, None, 4, 0, 0),
 ('willite01', 'BOS', '1953', '37', 37, 91, 13, 34, None, None, 31, 1, 1),
 ('willite01', 'BOS', '1954', '117', 133, 386, 29, 89, None, None, 213, 5, 4),
 ('willite01', 'BOS', '1955', '98', 114, 320, 28, 83, None, None, 170, 5, 2),
 ('willite01', 'BOS', '1956', '136', 138, 400, 24, 82, None, None, 174, 7, 5),
 ('willite01', 'BOS', '1957', '132', 163, 420, 38, 87, None, None, 215, 2, 1),
 ('willite01', 'BOS', '1958', '129', 135, 411, 26, 85, None, None, 154, 3, 7),
 ('willite01', 'BOS', '1959', '103', 69, 272, 10, 43, None, None, 94, 4, 3),
 ('willite01', 'BOS', '1960', '113', 98, 310, 29, 72, None, None, 131, 6, 1)]

- What happens if you forget a ```LEFT```?

In [61]:
%%%sql
select e.*, `Put Outs`, Assists, Errors from 
	(select c.*, d.P_wins, d.P_loss from
		(select
			a.*, Hits, `At Bats`, HRs, RBIs
		from
			(select playerID, teamID, yearID, G_all as Games from appearances) as a
		left join
			(select
				 playerID, teamID, yearID, 
				 cast(sum(h) as unsigned) as Hits,
				 cast(sum(ab) as unsigned) as `At Bats`, 
				 cast(sum(hr) as unsigned) as HRs, 
				 cast(sum(rbi) as unsigned) as RBIs
			from
				 batting
			group by playerid, teamid, yearid) as b 
		on
			a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		join
			(select playerid, teamid, yearid, sum(w) as P_Wins, sum(l) as P_loss from pitching 
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, 
			cast(sum(PO) as unsigned) as `Put Outs`, 
			cast(sum(A) as unsigned) as Assists, 
			cast(sum(E) as unsigned) as Errors 
		from fielding 
			group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid
where 
	e.playerid='willite01'

1 rows affected.

[('willite01', 'BOS', '1940', '144', 193, 561, 23, 113, 0.0, 0.0, 302, 15, 13)]

- You lose 18 years of Ted Williams' performance information.


-  And, if you lose 18 years of Ted Williams' performance, the Marines get __very, very mad.__

| <img src="../../images/ted_marines.jpeg"> |
| :---: |
| __Nothing Good Happens when the Marines get Mad___ |


- And nothing good happens when Marines get mad.


| <img src="https://pbs.twimg.com/media/CzB6xXbWIAAR2o2.jpg" width="50%"> |
| :---: |
| __Nothing Good Happens when the Marines get Mad__ |

- And so do I.


| <img src="../../images/vader.jpg"> |
| :---: |
| __Me__|

#### What Does the Query Do?

| <img src="../../images/performance_summary_query.jpeg"> |
| :---: |
| __Performance Summary Query__ |

#### How Would I Use in REST?

- Create a view, which would make the information look like any table, at least for query.

In [68]:
%%%sql
create or replace view player_performance_summary as 
select e.*, `Put Outs`, Assists, Errors from 
	(select c.*, d.P_wins, d.P_loss from
		(select
			a.*, Hits, `At Bats`, HRs, RBIs
		from
			(select playerID, teamID, yearID, G_all as Games from appearances) as a
		left join
			(select
				 playerID, teamID, yearID, 
				 cast(sum(h) as unsigned) as Hits,
				 cast(sum(ab) as unsigned) as `At Bats`, 
				 cast(sum(hr) as unsigned) as HRs, 
				 cast(sum(rbi) as unsigned) as RBIs
			from
				 batting
			group by playerid, teamid, yearid) as b 
		on
			a.playerid=b.playerid and a.teamid=b.teamid and a.yearid=b.yearid) as c
		left join
			(select playerid, teamid, yearid, sum(w) as P_Wins, sum(l) as P_loss from pitching 
				group by playerid, teamid, yearid) as d
		on
			c.playerid=d.playerid and c.teamid=d.teamid and c.yearid=d.yearid) as e
	left join
		(select playerid, teamid, yearid, 
			cast(sum(PO) as unsigned) as `Put Outs`, 
			cast(sum(A) as unsigned) as Assists, 
			cast(sum(E) as unsigned) as Errors 
		from fielding 
			group by playerid, teamid, yearid) as f
	on
		e.playerid=f.playerid and e.teamid=f.teamid and e.yearid=f.yearid

0 rows affected.

[]

In [81]:
import requests

url = \
"http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2"
result = requests.get(url)
data = result.json()
print("Result = \n", json.dumps(data, indent=2))

Result =
 {
  "data": [
    {
      "playerID": "willite01",
      "teamID": "BOS",
      "yearID": "1952",
      "Games": "6",
      "Hits": 4,
      "At Bats": 10,
      "HRs": 1,
      "RBIs": 3,
      "P_wins": null,
      "P_loss": null,
      "Put Outs": 4,
      "Assists": 0,
      "Errors": 0
    },
    {
      "playerID": "willite01",
      "teamID": "BOS",
      "yearID": "1953",
      "Games": "37",
      "Hits": 37,
      "At Bats": 91,
      "HRs": 13,
      "RBIs": 34,
      "P_wins": null,
      "P_loss": null,
      "Put Outs": 31,
      "Assists": 1,
      "Errors": 1
    }
  ],
  "links": [
    {
      "rel": "next",
      "href": "http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2&offset=2"
    },
    {
      "rel": "self",
      "href": "http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2"
    }
  ]
}

In [82]:
url = \
"http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2&offset=2"

result = requests.get(url)
data = result.json()
print("Result = \n", json.dumps(data, indent=2))

Result =
 {
  "data": [
    {
      "playerID": "willite01",
      "teamID": "BOS",
      "yearID": "1959",
      "Games": "103",
      "Hits": 69,
      "At Bats": 272,
      "HRs": 10,
      "RBIs": 43,
      "P_wins": null,
      "P_loss": null,
      "Put Outs": 94,
      "Assists": 4,
      "Errors": 3
    },
    {
      "playerID": "willite01",
      "teamID": "BOS",
      "yearID": "1960",
      "Games": "113",
      "Hits": 98,
      "At Bats": 310,
      "HRs": 29,
      "RBIs": 72,
      "P_wins": null,
      "P_loss": null,
      "Put Outs": 131,
      "Assists": 6,
      "Errors": 1
    }
  ],
  "links": [
    {
      "rel": "previous",
      "href": "http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2&offset=0"
    },
    {
      "rel": "next",
      "href": "http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2&offset=4"
    },
    {
      "rel": "self",
      "href": "http://127.0.0.1:5000/api/lahman2017/player_performance_summary?playerID=willite01&orderby=Hits&limit=2&offset=2"
    }
  ]
}

- How would you handle ```PUT, DELETE,``` and ```POST.``` These operations are ```NOT IMPLEMENTED``` for this resource.

### Some Simple Set SQL

#### ```JOIN``` Reminder

| <img src="../../images/various_joins.png"> |
| :---: |
| [Types of JOIN](https://imgur.com/gallery/8u7fc) |

#### Intersection: Hunt for Traitors

"The Yankees–Red Sox rivalry is a Major League Baseball (MLB) rivalry between the New York Yankees and Boston Red Sox. The two teams have competed in MLB's American League (AL) for over 100 seasons and have since developed one of the fiercest rivalries in American sports.

... ...

This match-up is regarded by some sports journalists as the greatest rivalry in sports." (https://en.wikipedia.org/wiki/Yankees%E2%80%93Red_Sox_rivalry)



| <img src="../../images/bos_nyy.jpeg"> |
| :---: |
| __Red Sox $-$ Yankees Rivalry__ |

__There is good and there is evil in this world.__

| <img src="https://secure.milb.com/assets/images/9/9/8/272933998/cuts/640x360/cut.jpg"> |
| :---: |
| __Red Sox $-$ Yankees Rivalry__ |

- Players for the Red Sox since 2010.

In [111]:
%sql select playerid from appearances where teamid = 'BOS' and yearid >= '2010'

411 rows affected.

[('anderla03',),
 ('atchisc01',),
 ('bardda01',),
 ('beckejo02',),
 ('beltrad01',),
 ('bonsebo01',),
 ('bowdemi01',),
 ('browndu01',),
 ('buchhcl01',),
 ('cabrefe01',),
 ('camermi01',),
 ('cashke01',),
 ('coellro01',),
 ('delcama01',),
 ('doubrfe01',),
 ('drewjd01',),
 ('ellsbja01',),
 ('foxma01',),
 ('hallbi03',),
 ('hermije01',),
 ('hillri01',),
 ('kalisry01',),
 ('lackejo01',),
 ('lestejo01',),
 ('lopezfe01',),
 ('lowelmi01',),
 ('lowrije01',),
 ('manuero01',),
 ('martivi01',),
 ('matsuda01',),
 ('mcdonda02',),
 ('molingu01',),
 ('navada01',),
 ('navarya01',),
 ('nelsojo01',),
 ('okajihi01',),
 ('ortizda01',),
 ('papeljo01',),
 ('patteer01',),
 ('pedrodu01',),
 ('ramirra02',),
 ('reddijo01',),
 ('richadu02',),
 ('romerni01',),
 ('saltaja01',),
 ('sanchan02',),
 ('schoesc01',),
 ('scutama01',),
 ('shealry01',),
 ('vanevjo01',),
 ('varitja01',),
 ('wakefti01',),
 ('youklke01',),
 ('aceveal01',),
 ('alberma01',),
 ('anderla03',),
 ('atchisc01',),
 ('avilemi01',),
 ('bardda01',),
 ('beckejo02',),
 ('bedarer01',),
 ('bowdemi01',),
 ('buchhcl01',),
 ('camermi01',),
 ('crawfca02',),
 ('doubrfe01',),
 ('drewjd01',),
 ('ellsbja01',),
 ('gathrjo01',),
 ('gonzaad01',),
 ('hillri01',),
 ('hottoto01',),
 ('iglesjo01',),
 ('jacksco01',),
 ('jenksbo01',),
 ('lackejo01',),
 ('lavarry01',),
 ('lestejo01',),
 ('lowrije01',),
 ('matsuda01',),
 ('mcdonda02',),
 ('millean01',),
 ('milletr02',),
 ('moralfr01',),
 ('navarya01',),
 ('okajihi01',),
 ('ortizda01',),
 ('papeljo01',),
 ('pedrodu01',),
 ('reddijo01',),
 ('reyesde01',),
 ('saltaja01',),
 ('scutama01',),
 ('spearna01',),
 ('suttodr01',),
 ('tazawju01',),
 ('varitja01',),
 ('wakefti01',),
 ('weilaky01',),
 ('wheelda01',),
 ('willira01',),
 ('youklke01',),
 ('aceveal01',),
 ('alberma01',),
 ('anderla03',),
 ('atchisc01',),
 ('avilemi01',),
 ('bailean01',),
 ('bardda01',),
 ('beatope01',),
 ('beckejo02',),
 ('bowdemi01',),
 ('breslcr01',),
 ('buchhcl01',),
 ('byrdma01',),
 ('carpech02',),
 ('ciriape01',),
 ('cookaa01',),
 ('crawfca02',),
 ('dejesiv02',),
 ('doubrfe01',),
 ('ellsbja01',),
 ('germaju01',),
 ('gomezma01',),
 ('gonzaad01',),
 ('hillri01',),
 ('iglesjo01',),
 ('kalisry01',),
 ('lavarry01',),
 ('lestejo01',),
 ('lillibr01',),
 ('linch01',),
 ('loneyja01',),
 ('matsuda01',),
 ('mcdonda02',),
 ('melanma01',),
 ('middlwi01',),
 ('millean01',),
 ('moralfr01',),
 ('mortecl01',),
 ('navada01',),
 ('ortizda01',),
 ('padilvi01',),
 ('pedrodu01',),
 ('podsesc01',),
 ('puntoni01',),
 ('quirogu01',),
 ('repkoja01',),
 ('rossco01',),
 ('saltaja01',),
 ('shoppke01',),
 ('spearna01',),
 ('stewaza01',),
 ('sweenry01',),
 ('tazawju01',),
 ('thomaju01',),
 ('valenda01',),
 ('youklke01',),
 ('aceveal01',),
 ('bailean01',),
 ('bardda01',),
 ('beatope01',),
 ('berryqu01',),
 ('bogaexa01',),
 ('bradlja02',),
 ('breslcr01',),
 ('brittdr01',),
 ('buchhcl01',),
 ('carpmi01',),
 ('ciriape01',),
 ('delarru01',),
 ('delatjo01',),
 ('dempsry01',),
 ('diazjo02',),
 ('doubrfe01',),
 ('drewst01',),
 ('ellsbja01',),
 ('gomesjo01',),
 ('hanrajo01',),
 ('holtbr01',),
 ('iglesjo01',),
 ('lackejo01',),
 ('lavarry01',),
 ('lestejo01',),
 ('mcdonjo03',),
 ('middlwi01',),
 ('millean01',),
 ('moralfr01',),
 ('mortecl01',),
 ('napolmi01',),
 ('navada01',),
 ('ortizda01',),
 ('peavyja01',),
 ('pedrodu01',),
 ('rossda01',),
 ('saltaja01',),
 ('snydebr03',),
 ('tazawju01',),
 ('thornma01',),
 ('ueharko01',),
 ('victosh01',),
 ('villabr02',),
 ('webstal01',),
 ('wilsoal01',),
 ('workmbr01',),
 ('wrighst01',),
 ('badenbu01',),
 ('barnema01',),
 ('bettsmo01',),
 ('bogaexa01',),
 ('bradlja02',),
 ('brentbr01',),
 ('breslcr01',),
 ('brittdr01',),
 ('brownco01',),
 ('buchhcl01',),
 ('butleda01',),
 ('capuach01',),
 ('carpmi01',),
 ('castiru01',),
 ('cecchga01',),
 ('cespeyo01',),
 ('craigal01',),
 ('delarru01',),
 ('doubrfe01',),
 ('drewst01',),
 ('escobed02',),
 ('gomesjo01',),
 ('hassaal01',),
 ('hembrhe01',),
 ('herrejo03',),
 ('holtbr01',),
 ('johnske05',),
 ('kellyjo05',),
 ('lackejo01',),
 ('lavarry01',),
 ('layneto01',),
 ('lestejo01',),
 ('middlwi01',),
 ('millean01',),
 ('mujiced01',),
 ('napolmi01',),
 ('navada01',),
 ('ortizda01',),
 ('peavyja01',),
 ('pedrodu01',),
 ('pierzaj01',),
 ('ranauan01',),
 ('riverca02',),
 ('roberry01',),
 ('rossda01',),
 ('sizemgr01',),
 ('tazawju01',),
 ('ueharko01',),
 ('vazquch01',),
 ('victosh01',),
 ('webstal01',),
 ('weeksje01',),
 ('wilsoal01',),
 ('workmbr01',),
 ('wrighst01',),
 ('arojo01',),
 ('barnema01',),
 ('bettsmo01',),
 ('biancje01',),
 ('bogaexa01',),
 ('bradlja02',),
 ('breslcr01',),
 ('buchhcl01',),
 ('castiru01',),
 ('cecchga01',),
 ('cookry01',),
 ('craigal01',),
 ('deazaal01',),
 ('hanigry01',),
 ('hembrhe01',),
 ('hillri01',),
 ('hinojda01',),
 ('holtbr01',),
 ('jimenlu02',),
 ('johnsbr02',),
 ('kellyjo05',),
 ('layneto01',),
 ('leonsa01',),
 ('machije01',),
 ('marrede01',),
 ('masteju01',),
 ('mendero01',),
 ('mileywa01',),
 ('mujiced01',),
 ('napolmi01',),
 ('navada01',),
 ('ogandal01',),
 ('ortizda01',),
 ('owenshe02',),
 ('pedrodu01',),
 ('pegueca01',),
 ('porceri01',),
 ('ramirha01',),
 ('ramirno01',),
 ('rodried05',),
 ('rossro01',),
 ('rutlejo01',),
 ('sandopa01',),
 ('shawtr01',),
 ('swihabl01',),
 ('tazawju01',),
 ('ueharko01',),
 ('varvaan01',),
 ('victosh01',),
 ('weeksje01',),
 ('wrighst01',),
 ('abadfe01',),
 ('barnema01',),
 ('beninan01',),
 ('bettsmo01',),
 ('bogaexa01',),
 ('bradlja02',),
 ('brentbr01',),
 ('buchhcl01',),
 ('castiru01',),
 ('cuevawi01',),
 ('eliasro01',),
 ('hanigry01',),
 ('hembrhe01',),
 ('hernama02',),
 ('hillaa01',),
 ('holadbr01',),
 ('holtbr01',),
 ('kellyjo05',),
 ('kimbrcr01',),
 ('lamarry01',),
 ('layneto01',),
 ('leonsa01',),
 ('lightpa01',),
 ('marrede01',),
 ('martimi02',),
 ('millemi01',),
 ('moncayo01',),
 ('ortizda01',),
 ('osullse01',),
 ('owenshe02',),
 ('pedrodu01',),
 ('pomerdr01',),
 ('porceri01',),
 ('priceda01',),
 ('ramirha01',),
 ('ramirno01',),
 ('rodried05',),
 ('rossro01',),
 ('rutlejo01',),
 ('sandopa01',),
 ('scottro02',),
 ('shawtr01',),
 ('smithca02',),
 ('swihabl01',),
 ('tazawju01',),
 ('ueharko01',),
 ('vazquch01',),
 ('wrighst01',),
 ('youngch04',),
 ('zieglbr01',),
 ('abadfe01',),
 ('barnema01',),
 ('beninan01',),
 ('bettsmo01',),
 ('bogaexa01',),
 ('boyerbl01',),
 ('bradlja02',),
 ('darnach01',),
 ('davisra01',),
 ('deverra01',),
 ('eliasro01',),
 ('fistedo01',),
 ('hembrhe01',),
 ('hernama02',),
 ('holtbr01',),
 ('johnsbr02',),
 ('kellyjo05',),
 ('kendrky01',),
 ('kimbrcr01',),
 ('leonsa01',),
 ('lintz01',),
 ('maddoau01',),
 ('marrede01',),
 ('martiky01',),
 ('morelmi01',),
 ('nunezed02',),
 ('pedrodu01',),
 ('pomerdr01',),
 ('porceri01',),
 ('priceda01',),
 ('ramirha01',),
 ('ramirno01',),
 ('reedad01',),
 ('rodried05',),
 ('rossro01',),
 ('rutlejo01',),
 ('salech01',),
 ('sandopa01',),
 ('scottro02',),
 ('selskst01',),
 ('smithca02',),
 ('swihabl01',),
 ('taylobe03',),
 ('travisa01',),
 ('vazquch01',),
 ('velazhe01',),
 ('workmbr01',),
 ('wrighst01',),
 ('youngch04',)]

- Players who played for the NY Yankees since 2010

In [114]:
%sql select playerid from appearances where teamid = 'NYA' and yearid >= '2010'

410 rows affected.

[('aceveal01',),
 ('albaljo01',),
 ('berkmla01',),
 ('burneaj01',),
 ('canoro01',),
 ('cervefr01',),
 ('chambjo03',),
 ('curtico01',),
 ('gardnbr01',),
 ('gaudich01',),
 ('golsogr01',),
 ('grandcu01',),
 ('huffmch01',),
 ('hugheph01',),
 ('jeterde01',),
 ('johnsni01',),
 ('kearnau01',),
 ('loganbo02',),
 ('marteda01',),
 ('melanma01',),
 ('miranju01',),
 ('mitrese01',),
 ('moellch01',),
 ('moseldu01',),
 ('novaiv01',),
 ('nunezed02',),
 ('parkch01',),
 ('penara02',),
 ('pettian01',),
 ('posadjo01',),
 ('ringro01',),
 ('riverma01',),
 ('roberda08',),
 ('rodrial01',),
 ('russoke01',),
 ('sabatcc01',),
 ('sanchro01',),
 ('swishni01',),
 ('teixema01',),
 ('thamema01',),
 ('vazquja01',),
 ('winnra01',),
 ('woodke02',),
 ('ayalalu01',),
 ('betande01',),
 ('brackan01',),
 ('burneaj01',),
 ('canoro01',),
 ('carlybu01',),
 ('cervefr01',),
 ('chambjo03',),
 ('chaveer01',),
 ('colonba01',),
 ('dickech01',),
 ('garcifr02',),
 ('gardnbr01',),
 ('garrist01',),
 ('golsogr01',),
 ('gordobr01',),
 ('grandcu01',),
 ('hugheph01',),
 ('jeterde01',),
 ('jonesan01',),
 ('kontoge01',),
 ('laffeaa01',),
 ('lairdbr01',),
 ('loganbo02',),
 ('marquje01',),
 ('martiru01',),
 ('mitrese01',),
 ('molingu01',),
 ('monteje01',),
 ('noesihe01',),
 ('novaiv01',),
 ('nunezed02',),
 ('penara02',),
 ('pendlla01',),
 ('posadjo01',),
 ('proctsc01',),
 ('riverma01',),
 ('roberda08',),
 ('rodrial01',),
 ('rominau01',),
 ('sabatcc01',),
 ('sanitam01',),
 ('soriara01',),
 ('swishni01',),
 ('teixema01',),
 ('valdera02',),
 ('wadeco01',),
 ('whelake01',),
 ('aardsda01',),
 ('canoro01',),
 ('cervefr01',),
 ('chambjo03',),
 ('chaveer01',),
 ('dickech01',),
 ('eppleco01',),
 ('garcifr02',),
 ('gardnbr01',),
 ('grandcu01',),
 ('hugheph01',),
 ('ibanera01',),
 ('igarary01',),
 ('jeterde01',),
 ('jonesan01',),
 ('kurodhi01',),
 ('loganbo02',),
 ('lowede01',),
 ('martiru01',),
 ('mcdonda02',),
 ('mcgehca01',),
 ('mesame01',),
 ('mitchdj01',),
 ('nixja01',),
 ('novaiv01',),
 ('nunezed02',),
 ('pearcst01',),
 ('penara02',),
 ('pettian01',),
 ('phelpda01',),
 ('quallch01',),
 ('rapadcl01',),
 ('riverma01',),
 ('roberda08',),
 ('rodrial01',),
 ('sabatcc01',),
 ('soriara01',),
 ('stewach01',),
 ('suzukic01',),
 ('swishni01',),
 ('teixema01',),
 ('thomaju01',),
 ('wadeco01',),
 ('warread01',),
 ('wisede01',),
 ('adamsda02',),
 ('almonzo01',),
 ('betande01',),
 ('boescbr01',),
 ('bootcch01',),
 ('brignre01',),
 ('cabrace01',),
 ('canoro01',),
 ('cervefr01',),
 ('chambjo03',),
 ('claibpr01',),
 ('cruzlu01',),
 ('daleyma01',),
 ('eppleco01',),
 ('francbe01',),
 ('gardnbr01',),
 ('gonzaal03',),
 ('grandcu01',),
 ('hafnetr01',),
 ('huffda01',),
 ('hugheph01',),
 ('ishiktr01',),
 ('jeterde01',),
 ('josepco01',),
 ('kellesh01',),
 ('kurodhi01',),
 ('lillibr01',),
 ('loganbo02',),
 ('marshbr01',),
 ('mesame01',),
 ('milleji02',),
 ('murphjr01',),
 ('nealth01',),
 ('nelsoch01',),
 ('nixja01',),
 ('novaiv01',),
 ('nunezed02',),
 ('nunovi01',),
 ('overbly01',),
 ('pettian01',),
 ('phelpda01',),
 ('reynoma01',),
 ('riverma01',),
 ('roberda08',),
 ('rodrial01',),
 ('rominau01',),
 ('ryanbr01',),
 ('sabatcc01',),
 ('soriaal01',),
 ('stewach01',),
 ('suzukic01',),
 ('teixema01',),
 ('warread01',),
 ('wellsve01',),
 ('youklke01',),
 ('zagurmi01',),
 ('aceveal01',),
 ('almonzo01',),
 ('annade01',),
 ('beltrca01',),
 ('betande01',),
 ('billibr02',),
 ('cabrace01',),
 ('capuach01',),
 ('cervefr01',),
 ('claibpr01',),
 ('daleyma01',),
 ('drewst01',),
 ('ellsbja01',),
 ('francje01',),
 ('gardnbr01',),
 ('greensh02',),
 ('headlch01',),
 ('hillri01',),
 ('huffda01',),
 ('jeterde01',),
 ('johnske05',),
 ('kellesh01',),
 ('kurodhi01',),
 ('leblawa01',),
 ('lerouch01',),
 ('mccanbr01',),
 ('mccarbr01',),
 ('milleji02',),
 ('mitchbr01',),
 ('murphjr01',),
 ('novaiv01',),
 ('nunovi01',),
 ('outmajo01',),
 ('perezeu01',),
 ('phelpda01',),
 ('pinedmi01',),
 ('pireljo01',),
 ('pradoma01',),
 ('ramirjo02',),
 ('richaan01',),
 ('roberbr01',),
 ('roberda08',),
 ('roech01',),
 ('rogeres01',),
 ('rominau01',),
 ('ryanbr01',),
 ('sabatcc01',),
 ('sizemsc01',),
 ('solarya01',),
 ('soriaal01',),
 ('suzukic01',),
 ('tanakma01',),
 ('teixema01',),
 ('thornma01',),
 ('warread01',),
 ('wheelze01',),
 ('whitlch01',),
 ('youngch04',),
 ('ackledu01',),
 ('bailean01',),
 ('beltrca01',),
 ('betande01',),
 ('birdgr01',),
 ('burawda01',),
 ('capuach01',),
 ('carpeda01',),
 ('cothaca01',),
 ('davieky01',),
 ('depaujo02',),
 ('drewst01',),
 ('ellsbja01',),
 ('eovalna01',),
 ('figueco01',),
 ('florera02',),
 ('gardnbr01',),
 ('goodyni01',),
 ('gregodi01',),
 ('headlch01',),
 ('heathsl01',),
 ('jonesga02',),
 ('lindgja01',),
 ('martich02',),
 ('mccanbr01',),
 ('millean01',),
 ('mitchbr01',),
 ('morendi01',),
 ('murphjr01',),
 ('noelri01',),
 ('novaiv01',),
 ('pazosja01',),
 ('petitgr01',),
 ('pindebr01',),
 ('pinedmi01',),
 ('pireljo01',),
 ('ramirjo02',),
 ('refsnro01',),
 ('rodrial01',),
 ('rogeres01',),
 ('rominau01',),
 ('rumbeni01',),
 ('ryanbr01',),
 ('sabatcc01',),
 ('sanchga02',),
 ('santose01',),
 ('severlu01',),
 ('shrevch01',),
 ('tanakma01',),
 ('teixema01',),
 ('tracyma01',),
 ('warread01',),
 ('whitlch01',),
 ('willima07',),
 ('wilsoju10',),
 ('youngch04',),
 ('ackledu01',),
 ('austity01',),
 ('barbajo01',),
 ('beltrca01',),
 ('betande01',),
 ('bleieri01',),
 ('butlebi03',),
 ('castrst01',),
 ('cessalu01',),
 ('chapmar01',),
 ('clippty01',),
 ('cokeph01',),
 ('davisik02',),
 ('ellsbja01',),
 ('eovalna01',),
 ('gamelbe01',),
 ('gardnbr01',),
 ('goodyni01',),
 ('greench03',),
 ('gregodi01',),
 ('headlch01',),
 ('hellebe01',),
 ('hicksaa01',),
 ('holdejo02',),
 ('judgeaa01',),
 ('layneto01',),
 ('mccanbr01',),
 ('millean01',),
 ('mitchbr01',),
 ('mulleco01',),
 ('novaiv01',),
 ('olsonty01',),
 ('parkebl01',),
 ('parmech01',),
 ('pazosja01',),
 ('pindebr01',),
 ('pinedmi01',),
 ('refsnro01',),
 ('rodrial01',),
 ('rominau01',),
 ('sabatcc01',),
 ('sanchga02',),
 ('severlu01',),
 ('shrevch01',),
 ('solando01',),
 ('swarzan01',),
 ('tanakma01',),
 ('teixema01',),
 ('torrero01',),
 ('warread01',),
 ('willima07',),
 ('yateski01',),
 ('younger03',),
 ('andujmi01',),
 ('austity01',),
 ('betande01',),
 ('birdgr01',),
 ('cartech02',),
 ('castrst01',),
 ('cessalu01',),
 ('chapmar01',),
 ('choiji01',),
 ('clippty01',),
 ('coopega03',),
 ('ellsbja01',),
 ('fowledu01',),
 ('frazicl01',),
 ('frazito01',),
 ('gallegi01',),
 ('garcija02',),
 ('gardnbr01',),
 ('germado01',),
 ('grayso01',),
 ('greench03',),
 ('gregodi01',),
 ('headlch01',),
 ('hellebe01',),
 ('herrero01',),
 ('hicksaa01',),
 ('higasky01',),
 ('holdejo02',),
 ('hollima01',),
 ('judgeaa01',),
 ('kahnlto01',),
 ('kozmape01',),
 ('kratzer01',),
 ('layneto01',),
 ('mitchbr01',),
 ('montgjo01',),
 ('pinedmi01',),
 ('refsnro01',),
 ('roberda08',),
 ('rominau01',),
 ('sabatcc01',),
 ('sanchga02',),
 ('severlu01',),
 ('shrevch01',),
 ('smithca03',),
 ('tanakma01',),
 ('torrero01',),
 ('wadety01',),
 ('warread01',),
 ('webbty01',),
 ('willima07',)]

- The traitors are players who appeared for both teams since 2010.


- <u>Solution 1: ```INNER JOIN```</u>

In [115]:
%%%sql
select distinct * from
	(select playerid from appearances
		where teamid = 'NYA' and yearid >= '2010') as mordor
	JOIN
	(select playerid from appearances
		where teamid = 'BOS' and yearid >= '2010') as rivendell
	using
    (playerid)

18 rows affected.

[('aceveal01',),
 ('melanma01',),
 ('nunezed02',),
 ('molingu01',),
 ('mcdonda02',),
 ('thomaju01',),
 ('lillibr01',),
 ('youklke01',),
 ('capuach01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('johnske05',),
 ('thornma01',),
 ('youngch04',),
 ('bailean01',),
 ('millean01',),
 ('layneto01',)]

- <u>Solution 2: ```IN SUBQUERY```</u>

In [120]:
%%%sql 
select distinct playerid from appearances
	where teamid = 'NYA' and yearid >= '2010'
    and 
		playerid in (select playerid from appearances where
			 teamid = 'BOS' and yearid >= '2010');

18 rows affected.

[('aceveal01',),
 ('melanma01',),
 ('nunezed02',),
 ('molingu01',),
 ('mcdonda02',),
 ('thomaju01',),
 ('lillibr01',),
 ('youklke01',),
 ('capuach01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('johnske05',),
 ('thornma01',),
 ('youngch04',),
 ('bailean01',),
 ('millean01',),
 ('layneto01',)]

- <u>Solution 3: ```EXISTS SUBQUERY```</u>

In [119]:
%%%sql 
select distinct playerid from appearances as mordor
	where teamid = 'NYA' and yearid >= '2010' 
    and 
		exists (select playerid from appearances as rivendell where
			 mordor.playerid=rivendell.playerid and teamid = 'BOS' and yearid >= '2010');

18 rows affected.

[('aceveal01',),
 ('melanma01',),
 ('nunezed02',),
 ('molingu01',),
 ('mcdonda02',),
 ('thomaju01',),
 ('lillibr01',),
 ('youklke01',),
 ('capuach01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('johnske05',),
 ('thornma01',),
 ('youngch04',),
 ('bailean01',),
 ('millean01',),
 ('layneto01',)]

- Actually, you are only a traitor if you played for the Red Sox first and then the Yankees.

In [125]:
%%%sql
select distinct rivendell.playerid from
	(select playerid, yearid from appearances
		where teamid = 'NYA' and yearid >= '2010') as mordor
	JOIN
	(select playerid, yearid from appearances
		where teamid = 'BOS' and yearid >= '2010') as rivendell
    on
        (mordor.playerid = rivendell.playerid) and (mordor.yearid > rivendell.yearid)

13 rows affected.

[('molingu01',),
 ('mcdonda02',),
 ('lillibr01',),
 ('youklke01',),
 ('aceveal01',),
 ('drewst01',),
 ('ellsbja01',),
 ('hillri01',),
 ('thornma01',),
 ('bailean01',),
 ('capuach01',),
 ('millean01',),
 ('layneto01',)]

- I want the traitors' __names!__

In [129]:
%%%sql
select distinct rivendell.playerid,
    (select nameLast from people where people.playerid=rivendell.playerid) as nameLast,
    (select nameFirst from people where people.playerid=rivendell.playerid) as nameFirst
    from
	(select playerid, yearid from appearances
		where teamid = 'NYA' and yearid >= '2010') as mordor
	JOIN
	(select playerid, yearid from appearances
		where teamid = 'BOS' and yearid >= '2010') as rivendell
    on
        (mordor.playerid = rivendell.playerid) and (mordor.yearid > rivendell.yearid)

13 rows affected.

[('molingu01', 'Molina', 'Gustavo'),
 ('mcdonda02', 'McDonald', 'Darnell'),
 ('lillibr01', 'Lillibridge', 'Brent'),
 ('youklke01', 'Youkilis', 'Kevin'),
 ('aceveal01', 'Aceves', 'Alfredo'),
 ('drewst01', 'Drew', 'Stephen'),
 ('ellsbja01', 'Ellsbury', 'Jacoby'),
 ('hillri01', 'Hill', 'Rich'),
 ('thornma01', 'Thornton', 'Matt'),
 ('bailean01', 'Bailey', 'Andrew'),
 ('capuach01', 'Capuano', 'Chris'),
 ('millean01', 'Miller', 'Andrew'),
 ('layneto01', 'Layne', 'Tommy')]

- How does that query work?

| <img src="../../images/traitors_plan.jpeg"> |
| :---: |
| __Plan to Find Traitors__ |

- If you played for the Yankees first, you were liberated.

In [126]:
%%%sql
select distinct rivendell.playerid from
	(select playerid, yearid from appearances
		where teamid = 'NYA' and yearid >= '2010') as mordor
	JOIN
	(select playerid, yearid from appearances
		where teamid = 'BOS' and yearid >= '2010') as rivendell
    on
        (mordor.playerid = rivendell.playerid) and (mordor.yearid < rivendell.yearid)

5 rows affected.

[('aceveal01',), ('melanma01',), ('nunezed02',), ('hillri01',), ('youngch04',)]

- Were there any double traitors?

In [128]:
%%%sql
select * from
    (select distinct rivendell.playerid from
        (select playerid, yearid from appearances
            where teamid = 'NYA' and yearid >= '2010') as mordor
        JOIN
        (select playerid, yearid from appearances
            where teamid = 'BOS' and yearid >= '2010') as rivendell
        on
            (mordor.playerid = rivendell.playerid) and (mordor.yearid > rivendell.yearid)) as traitors
JOIN
    (select distinct rivendell.playerid from
        (select playerid, yearid from appearances
            where teamid = 'NYA' and yearid >= '2010') as mordor
        JOIN
        (select playerid, yearid from appearances
            where teamid = 'BOS' and yearid >= '2010') as rivendell
        on
            (mordor.playerid = rivendell.playerid) and (mordor.yearid < rivendell.yearid)) as liberated
 using (playerid)

2 rows affected.

[('aceveal01',), ('hillri01',)]

#### ```FULL JOIN```

- I want a table with:
    - playerID
    - Sum of games played for the Red Sox, if any.
    - Sum of games played for the Yankees if any.
    
    
- Well, getting the sums for individual teams is easy.

In [134]:
%%%sql
    select playerid, sum(g_all) as games from appearances
        where teamid='BOS' and yearid > 2010
        group by playerid
        limit 10;

10 rows affected.

[('abadfe01', 66.0),
 ('aceveal01', 135.0),
 ('alberma01', 96.0),
 ('anderla03', 12.0),
 ('arojo01', 6.0),
 ('atchisc01', 60.0),
 ('avilemi01', 174.0),
 ('badenbu01', 70.0),
 ('bailean01', 49.0),
 ('bardda01', 89.0)]

In [136]:
%%%sql
    select playerid, sum(g_all) as games from appearances
        where teamid='NYA' and yearid > 2010
        group by playerid
        limit 10;

10 rows affected.

[('aardsda01', 1.0),
 ('aceveal01', 10.0),
 ('ackledu01', 51.0),
 ('adamsda02', 43.0),
 ('almonzo01', 47.0),
 ('andujmi01', 5.0),
 ('annade01', 12.0),
 ('austity01', 51.0),
 ('ayalalu01', 52.0),
 ('bailean01', 10.0)]

- Remember, ```JOIN``` default behavior is "intersection." I need an ```OUTTER JOIN.```


- "You don't have FULL JOINS on MySQL, but you can sure emulate them." (https://stackoverflow.com/questions/7978663/mysql-full-join/36001694)

| <img src="../../images/sox_full_join_yankees.jpeg"> |
| :--: |
| __Fun with ```JOIN```__ |

- <u>```JOIN```</u>

In [143]:
%%%sql
    select a.playerid, a.sox_games, b.yankees_games from
(
(select playerid, sum(g_all)  as sox_games from appearances
						where teamid='BOS' and yearid >= 2010
						group by playerid) as a
join
(select playerid, sum(g_all) as yankees_games from appearances
						where teamid='NYA' and yearid >= 2010
						group by playerid) as b
using (playerid)) limit 10;

10 rows affected.

[('aceveal01', 135.0, 20.0),
 ('bailean01', 49.0, 10.0),
 ('capuach01', 28.0, 34.0),
 ('drewst01', 163.0, 177.0),
 ('ellsbja01', 384.0, 520.0),
 ('hillri01', 44.0, 14.0),
 ('johnske05', 10.0, 77.0),
 ('layneto01', 128.0, 48.0),
 ('lillibr01', 10.0, 11.0),
 ('mcdonda02', 234.0, 4.0)]

- <u>```LEFT JOIN```:</u> The Red Sox

In [155]:
%%%sql
select a.playerid, a.sox_games, b.yankees_games from
(
(select playerid, sum(g_all)  as sox_games from appearances
						where teamid='BOS' and yearid >= 2010
						group by playerid) as a
left join
(select playerid, sum(g_all) as yankees_games from appearances
						where teamid='NYA' and yearid >= 2010
						group by playerid) as b
using (playerid)) limit 20;

20 rows affected.

[('abadfe01', 66.0, None),
 ('aceveal01', 135.0, 20.0),
 ('alberma01', 96.0, None),
 ('anderla03', 30.0, None),
 ('arojo01', 6.0, None),
 ('atchisc01', 103.0, None),
 ('avilemi01', 174.0, None),
 ('badenbu01', 70.0, None),
 ('bailean01', 49.0, 10.0),
 ('bardda01', 162.0, None),
 ('barnema01', 169.0, None),
 ('beatope01', 14.0, None),
 ('beckejo02', 72.0, None),
 ('bedarer01', 8.0, None),
 ('beltrad01', 154.0, None),
 ('beninan01', 185.0, None),
 ('berryqu01', 13.0, None),
 ('bettsmo01', 508.0, None),
 ('biancje01', 3.0, None),
 ('bogaexa01', 623.0, None)]

- <u>```RIGHT JOIN```:</u> The Yankees

In [154]:
%%%sql
select b.playerid, a.sox_games, b.yankees_games from
(
(select playerid, sum(g_all)  as sox_games from appearances
						where teamid='BOS' and yearid >= 2010
						group by playerid) as a
right join
(select playerid, sum(g_all) as yankees_games from appearances
						where teamid='NYA' and yearid >= 2010
						group by playerid) as b
using (playerid)) limit 20;

20 rows affected.

[('aardsda01', None, 1.0),
 ('aceveal01', 135.0, 20.0),
 ('ackledu01', None, 51.0),
 ('adamsda02', None, 43.0),
 ('albaljo01', None, 10.0),
 ('almonzo01', None, 47.0),
 ('andujmi01', None, 5.0),
 ('annade01', None, 12.0),
 ('austity01', None, 51.0),
 ('ayalalu01', None, 52.0),
 ('bailean01', 49.0, 10.0),
 ('barbajo01', None, 13.0),
 ('beltrca01', None, 341.0),
 ('berkmla01', None, 37.0),
 ('betande01', None, 291.0),
 ('billibr02', None, 1.0),
 ('birdgr01', None, 94.0),
 ('bleieri01', None, 23.0),
 ('boescbr01', None, 23.0),
 ('bootcch01', None, 1.0)]

- <u>```FULL JOIN```:</u> All Together

In [159]:
%%%sql
select
	q.playerid,
    (select nameLast from people where q.playerid=people.playerid) as nameLast,
    (select nameFirst from people where q.playerid=people.playerid) as nameFirst,
    q.sox_games, q.yankees_games, q.total_games
from
	(
		select
			a.playerid, a.sox_games, b.yankees_games, 
			(ifnull(a.sox_games,0) + ifnull(b.yankees_games,0)) as total_games from
			(
				(select playerid, sum(g_all)  as sox_games from appearances
						where teamid='BOS' and yearid >= 2010
						group by playerid) as a
				left join
			(	select playerid, sum(g_all) as yankees_games from appearances
						where teamid='NYA' and yearid >= 2010
						group by playerid) as b
				using (playerid)
            )
union
		select b.playerid, a.sox_games, b.yankees_games, 
    (ifnull(a.sox_games,0) + ifnull(b.yankees_games,0)) as total_games from
(
(select playerid, sum(g_all)  as sox_games from appearances
						where teamid='BOS' and yearid >= 2010
						group by playerid) as a
right join
(select playerid, sum(g_all) as yankees_games from appearances
						where teamid='NYA' and yearid >= 2010
						group by playerid) as b
using (playerid))) as q
order by total_games desc

432 rows affected.

[('gardnbr01', 'Gardner', 'Brett', None, 1068.0, 1068.0),
 ('pedrodu01', 'Pedroia', 'Dustin', 1022.0, None, 1022.0),
 ('ortizda01', 'Ortiz', 'David', 957.0, None, 957.0),
 ('ellsbja01', 'Ellsbury', 'Jacoby', 384.0, 520.0, 904.0),
 ('teixema01', 'Teixeira', 'Mark', None, 802.0, 802.0),
 ('canoro01', 'Cano', 'Robinson', None, 640.0, 640.0),
 ('bogaexa01', 'Bogaerts', 'Xander', 623.0, None, 623.0),
 ('rodrial01', 'Rodriguez', 'Alex', None, 618.0, 618.0),
 ('jeterde01', 'Jeter', 'Derek', None, 609.0, 609.0),
 ('bradlja02', 'Bradley', 'Jackie', 527.0, None, 527.0),
 ('grandcu01', 'Granderson', 'Curtis', None, 513.0, 513.0),
 ('bettsmo01', 'Betts', 'Mookie', 508.0, None, 508.0),
 ('headlch01', 'Headley', 'Chase', None, 501.0, 501.0),
 ('swishni01', 'Swisher', 'Nick', None, 448.0, 448.0),
 ('gregodi01', 'Gregorius', 'Didi', None, 444.0, 444.0),
 ('navada01', 'Nava', 'Daniel', 424.0, None, 424.0),
 ('holtbr01', 'Holt', 'Brock', 419.0, None, 419.0),
 ('mccanbr01', 'McCann', 'Brian', None, 405.0, 405.0),
 ('ramirha01', 'Ramirez', 'Hanley', 385.0, None, 385.0),
 ('roberda08', 'Robertson', 'David', None, 362.0, 362.0),
 ('suzukic01', 'Suzuki', 'Ichiro', None, 360.0, 360.0),
 ('napolmi01', 'Napoli', 'Mike', 356.0, None, 356.0),
 ('saltaja01', 'Saltalamacchia', 'Jarrod', 355.0, None, 355.0),
 ('beltrca01', 'Beltran', 'Carlos', None, 341.0, 341.0),
 ('drewst01', 'Drew', 'Stephen', 163.0, 177.0, 340.0),
 ('youngch04', 'Young', 'Chris', 166.0, 163.0, 329.0),
 ('nunezed02', 'Nunez', 'Eduardo', 38.0, 270.0, 308.0),
 ('tazawju01', 'Tazawa', 'Junichi', 296.0, None, 296.0),
 ('youklke01', 'Youkilis', 'Kevin', 264.0, 28.0, 292.0),
 ('betande01', 'Betances', 'Dellin', None, 291.0, 291.0),
 ('gonzaad01', 'Gonzalez', 'Adrian', 282.0, None, 282.0),
 ('castrst01', 'Castro', 'Starlin', None, 263.0, 263.0),
 ('scutama01', 'Scutaro', 'Marco', 263.0, None, 263.0),
 ('millean01', 'Miller', 'Andrew', 158.0, 104.0, 262.0),
 ('martiru01', 'Martin', 'Russell', None, 258.0, 258.0),
 ('loganbo02', 'Logan', 'Boone', None, 256.0, 256.0),
 ('mcdonda02', 'McDonald', 'Darnell', 234.0, 4.0, 238.0),
 ('posadjo01', 'Posada', 'Jorge', None, 235.0, 235.0),
 ('middlwi01', 'Middlebrooks', 'Will', 232.0, None, 232.0),
 ('ueharko01', 'Uehara', 'Koji', 230.0, None, 230.0),
 ('warread01', 'Warren', 'Adam', None, 222.0, 222.0),
 ('sabatcc01', 'Sabathia', 'CC', None, 221.0, 221.0),
 ('drewjd01', 'Drew', 'J. D.', 220.0, None, 220.0),
 ('rominau01', 'Romine', 'Austin', None, 219.0, 219.0),
 ('hicksaa01', 'Hicks', 'Aaron', None, 211.0, 211.0),
 ('vazquch01', 'Vazquez', 'Christian', 211.0, None, 211.0),
 ('shawtr01', 'Shaw', 'Travis', 210.0, None, 210.0),
 ('cervefr01', 'Cervelli', 'Francisco', None, 205.0, 205.0),
 ('leonsa01', 'Leon', 'Sandy', 204.0, None, 204.0),
 ('riverma01', 'Rivera', 'Mariano', None, 198.0, 198.0),
 ('gomesjo01', 'Gomes', 'Jonny', 194.0, None, 194.0),
 ('breslcr01', 'Breslow', 'Craig', 189.0, None, 189.0),
 ('victosh01', 'Victorino', 'Shane', 185.0, None, 185.0),
 ('beninan01', 'Benintendi', 'Andrew', 185.0, None, 185.0),
 ('judgeaa01', 'Judge', 'Aaron', None, 182.0, 182.0),
 ('torrero01', 'Torreyes', 'Ronald', None, 180.0, 180.0),
 ('sanchga02', 'Sanchez', 'Gary', None, 177.0, 177.0),
 ('layneto01', 'Layne', 'Tommy', 128.0, 48.0, 176.0),
 ('avilemi01', 'Aviles', 'Mike', 174.0, None, 174.0),
 ('jonesan01', 'Jones', 'Andruw', None, 171.0, 171.0),
 ('chaveer01', 'Chavez', 'Eric', None, 171.0, 171.0),
 ('buchhcl01', 'Buchholz', 'Clay', 170.0, None, 170.0),
 ('barnema01', 'Barnes', 'Matt', 169.0, None, 169.0),
 ('chambjo03', 'Chamberlain', 'Joba', None, 167.0, 167.0),
 ('stewach01', 'Stewart', 'Chris', None, 164.0, 164.0),
 ('bardda01', 'Bard', 'Daniel', 162.0, None, 162.0),
 ('sandopa01', 'Sandoval', 'Pablo', 161.0, None, 161.0),
 ('crawfca02', 'Crawford', 'Carl', 161.0, None, 161.0),
 ('nixja01', 'Nix', 'Jayson', None, 161.0, 161.0),
 ('aceveal01', 'Aceves', 'Alfredo', 135.0, 20.0, 155.0),
 ('beltrad01', 'Beltre', 'Adrian', 154.0, None, 154.0),
 ('lestejo01', 'Lester', 'Jon', 150.0, None, 150.0),
 ('morelmi01', 'Moreland', 'Mitch', 149.0, None, 149.0),
 ('lowrije01', 'Lowrie', 'Jed', 143.0, None, 143.0),
 ('overbly01', 'Overbay', 'Lyle', None, 142.0, 142.0),
 ('shrevch01', 'Shreve', 'Chasen', None, 140.0, 140.0),
 ('novaiv01', 'Nova', 'Ivan', None, 131.0, 131.0),
 ('wellsve01', 'Wells', 'Vernon', None, 130.0, 130.0),
 ('ibanera01', 'Ibanez', 'Raul', None, 130.0, 130.0),
 ('rossco01', 'Ross', 'Cody', 130.0, None, 130.0),
 ('carpmi01', 'Carp', 'Mike', 128.0, None, 128.0),
 ('papeljo01', 'Papelbon', 'Jonathan', 128.0, None, 128.0),
 ('hembrhe01', 'Hembree', 'Heath', 128.0, None, 128.0),
 ('martivi01', 'Martinez', 'Victor', 127.0, None, 127.0),
 ('soriaal01', 'Soriano', 'Alfonso', None, 125.0, 125.0),
 ('kimbrcr01', 'Kimbrel', 'Craig', 124.0, None, 124.0),
 ('hallbi03', 'Hall', 'Bill', 120.0, None, 120.0),
 ('reddijo01', 'Reddick', 'Josh', 116.0, None, 116.0),
 ('rossro01', 'Ross', 'Robbie', 116.0, None, 116.0),
 ('kellesh01', 'Kelley', 'Shawn', None, 116.0, 116.0),
 ('murphjr01', 'Murphy', 'J. R.', None, 115.0, 115.0),
 ('ryanbr01', 'Ryan', 'Brendan', None, 113.0, 113.0),
 ('lackejo01', 'Lackey', 'John', 112.0, None, 112.0),
 ('soriara01', 'Soriano', 'Rafael', None, 111.0, 111.0),
 ('penara02', 'Pena', 'Ramiro', None, 111.0, 111.0),
 ('hugheph01', 'Hughes', 'Phil', None, 110.0, 110.0),
 ('kellyjo05', 'Kelly', 'Joe', 109.0, None, 109.0),
 ('marrede01', 'Marrero', 'Deven', 109.0, None, 109.0),
 ('swihabl01', 'Swihart', 'Blake', 109.0, None, 109.0),
 ('varitja01', 'Varitek', 'Jason', 107.0, None, 107.0),
 ('hollima01', 'Holliday', 'Matt', None, 105.0, 105.0),
 ('tanakma01', 'Tanaka', 'Masahiro', None, 105.0, 105.0),
 ('rutlejo01', 'Rutledge', 'Josh', 104.0, None, 104.0),
 ('ciriape01', 'Ciriaco', 'Pedro', 104.0, None, 104.0),
 ('atchisc01', 'Atchison', 'Scott', 103.0, None, 103.0),
 ('castiru01', 'Castillo', 'Rusney', 99.0, None, 99.0),
 ('iglesjo01', 'Iglesias', 'Jose', 98.0, None, 98.0),
 ('doubrfe01', 'Doubront', 'Felix', 98.0, None, 98.0),
 ('lavarry01', 'Lavarnway', 'Ryan', 97.0, None, 97.0),
 ('kurodhi01', 'Kuroda', 'Hiroki', None, 97.0, 97.0),
 ('alberma01', 'Albers', 'Matt', 96.0, None, 96.0),
 ('porceri01', 'Porcello', 'Rick', 94.0, None, 94.0),
 ('birdgr01', 'Bird', 'Greg', None, 94.0, 94.0),
 ('refsnro01', 'Refsnyder', 'Rob', None, 94.0, 94.0),
 ('moralfr01', 'Morales', 'Franklin', 93.0, None, 93.0),
 ('roberbr01', 'Roberts', 'Brian', None, 91.0, 91.0),
 ('hanigry01', 'Hanigan', 'Ryan', 89.0, None, 89.0),
 ('pinedmi01', 'Pineda', 'Michael', None, 89.0, 89.0),
 ('kalisry01', 'Kalish', 'Ryan', 89.0, None, 89.0),
 ('phelpda01', 'Phelps', 'David', None, 87.0, 87.0),
 ('johnske05', 'Johnson', 'Kelly', 10.0, 77.0, 87.0),
 ('rossda01', 'Ross', 'David', 86.0, None, 86.0),
 ('dickech01', 'Dickerson', 'Chris', None, 85.0, 85.0),
 ('chapmar01', 'Chapman', 'Aroldis', None, 83.0, 83.0),
 ('hafnetr01', 'Hafner', 'Travis', None, 82.0, 82.0),
 ('thamema01', 'Thames', 'Marcus', None, 82.0, 82.0),
 ('camermi01', 'Cameron', 'Mike', 81.0, None, 81.0),
 ('wadeco01', 'Wade', 'Cory', None, 79.0, 79.0),
 ('mujiced01', 'Mujica', 'Edward', 75.0, None, 75.0),
 ('solarya01', 'Solarte', 'Yangervis', None, 75.0, 75.0),
 ('wilsoju10', 'Wilson', 'Justin', None, 74.0, 74.0),
 ('lowelmi01', 'Lowell', 'Mike', 73.0, None, 73.0),
 ('beckejo02', 'Beckett', 'Josh', 72.0, None, 72.0),
 ('pierzaj01', 'Pierzynski', 'A. J.', 72.0, None, 72.0),
 ('workmbr01', 'Workman', 'Brandon', 72.0, None, 72.0),
 ('rapadcl01', 'Rapada', 'Clay', None, 70.0, 70.0),
 ('badenbu01', 'Badenhop', 'Burke', 70.0, None, 70.0),
 ('clippty01', 'Clippard', 'Tyler', None, 69.0, 69.0),
 ('burneaj01', 'Burnett', 'A. J.', None, 67.0, 67.0),
 ('abadfe01', 'Abad', 'Fernando', 66.0, None, 66.0),
 ('frazito01', 'Frazier', 'Todd', None, 66.0, 66.0),
 ('rodried05', 'Rodriguez', 'Eduardo', 66.0, None, 66.0),
 ('thornma01', 'Thornton', 'Matt', 20.0, 46.0, 66.0),
 ('craigal01', 'Craig', 'Allen', 65.0, None, 65.0),
 ('puntoni01', 'Punto', 'Nick', 65.0, None, 65.0),
 ('wakefti01', 'Wakefield', 'Tim', 65.0, None, 65.0),
 ('severlu01', 'Severino', 'Luis', None, 64.0, 64.0),
 ('ogandal01', 'Ogando', 'Alexi', 64.0, None, 64.0),
 ('scottro02', 'Scott', 'Robby', 64.0, None, 64.0),
 ('podsesc01', 'Podsednik', 'Scott', 63.0, None, 63.0),
 ('sweenry01', 'Sweeney', 'Ryan', 63.0, None, 63.0),
 ('pettian01', 'Pettitte', 'Andy', None, 63.0, 63.0),
 ('okajihi01', 'Okajima', 'Hideki', 63.0, None, 63.0),
 ('cartech02', 'Carter', 'Chris', None, 62.0, 62.0),
 ('claibpr01', 'Claiborne', 'Preston', None, 62.0, 62.0),
 ('capuach01', 'Capuano', 'Chris', 28.0, 34.0, 62.0),
 ('hernama02', 'Hernandez', 'Marco', 61.0, None, 61.0),
 ('eppleco01', 'Eppley', 'Cody', None, 61.0, 61.0),
 ('deazaal01', 'De Aza', 'Alejandro', 60.0, None, 60.0),
 ('bailean01', 'Bailey', 'Andrew', 49.0, 10.0, 59.0),
 ('deverra01', 'Devers', 'Rafael', 58.0, None, 58.0),
 ('hillri01', 'Hill', 'Rich', 44.0, 14.0, 58.0),
 ('jonesga02', 'Jones', 'Garrett', None, 57.0, 57.0),
 ('garcifr02', 'Garcia', 'Freddy', None, 56.0, 56.0),
 ('wrighst01', 'Wright', 'Steven', 56.0, None, 56.0),
 ('wisede01', 'Wise', 'Dewayne', None, 56.0, 56.0),
 ('padilvi01', 'Padilla', 'Vicente', 56.0, None, 56.0),
 ('hermije01', 'Hermida', 'Jeremy', 52.0, None, 52.0),
 ('sizemgr01', 'Sizemore', 'Grady', 52.0, None, 52.0),
 ('greench03', 'Green', 'Chad', None, 52.0, 52.0),
 ('ayalalu01', 'Ayala', 'Luis', None, 52.0, 52.0),
 ('cespeyo01', 'Cespedes', 'Yoenis', 51.0, None, 51.0),
 ('priceda01', 'Price', 'David', 51.0, None, 51.0),
 ('austity01', 'Austin', 'Tyler', None, 51.0, 51.0),
 ('eovalna01', 'Eovaldi', 'Nathan', None, 51.0, 51.0),
 ('ackledu01', 'Ackley', 'Dustin', None, 51.0, 51.0),
 ('mortecl01', 'Mortensen', 'Clayton', 50.0, None, 50.0),
 ('delcama01', 'Delcarmen', 'Manny', 48.0, None, 48.0),
 ('mitchbr01', 'Mitchell', 'Bryan', None, 48.0, 48.0),
 ('shoppke01', 'Shoppach', 'Kelly', 48.0, None, 48.0),
 ('wheelda01', 'Wheeler', 'Dan', 47.0, None, 47.0),
 ('almonzo01', 'Almonte', 'Zoilo', None, 47.0, 47.0),
 ('hillaa01', 'Hill', 'Aaron', 47.0, None, 47.0),
 ('pomerdr01', 'Pomeranz', 'Drew', 46.0, None, 46.0),
 ('patteer01', 'Patterson', 'Eric', 45.0, None, 45.0),
 ('holdejo02', 'Holder', 'Jonathan', None, 45.0, 45.0),
 ('wilsoal01', 'Wilson', 'Alex', 44.0, None, 44.0),
 ('matsuda01', 'Matsuzaka', 'Daisuke', 44.0, None, 44.0),
 ('ramirra02', 'Ramirez', 'Ramon', 44.0, None, 44.0),
 ('pireljo01', 'Pirela', 'Jose', None, 44.0, 44.0),
 ('melanma01', 'Melancon', 'Mark', 41.0, 2.0, 43.0),
 ('adamsda02', 'Adams', 'David', None, 43.0, 43.0),
 ('herrejo03', 'Herrera', 'Jonathan', 42.0, None, 42.0),
 ('yateski01', 'Yates', 'Kirby', None, 41.0, 41.0),
 ('huffda01', 'Huff', 'David', None, 41.0, 41.0),
 ('frazicl01', 'Frazier', 'Clint', None, 39.0, 39.0),
 ('pradoma01', 'Prado', 'Martin', None, 37.0, 37.0),
 ('gomezma01', 'Gomez', 'Mauro', 37.0, None, 37.0),
 ('berkmla01', 'Berkman', 'Lance', None, 37.0, 37.0),
 ('kearnau01', 'Kearns', 'Austin', None, 36.0, 36.0),
 ('reynoma01', 'Reynolds', 'Mark', None, 36.0, 36.0),
 ('rogeres01', 'Rogers', 'Esmil', None, 36.0, 36.0),
 ('navarya01', 'Navarro', 'Yamaico', 36.0, None, 36.0),
 ('brentbr01', 'Brentz', 'Bryce', 34.0, None, 34.0),
 ('goodyni01', 'Goody', 'Nick', None, 34.0, 34.0),
 ('byrdma01', 'Byrd', 'Marlon', 34.0, None, 34.0),
 ('travisa01', 'Travis', 'Sam', 33.0, None, 33.0),
 ('ramirno01', 'Ramirez', 'Noe', 33.0, None, 33.0),
 ('zieglbr01', 'Ziegler', 'Brad', 33.0, None, 33.0),
 ('miranju01', 'Miranda', 'Juan', None, 33.0, 33.0),
 ('golsogr01', 'Golson', 'Greg', None, 33.0, 33.0),
 ('salech01', 'Sale', 'Chris', 32.0, None, 32.0),
 ('kahnlto01', 'Kahnle', 'Tommy', None, 32.0, 32.0),
 ('boyerbl01', 'Boyer', 'Blaine', 32.0, None, 32.0),
 ('dempsry01', 'Dempster', 'Ryan', 32.0, None, 32.0),
 ('mileywa01', 'Miley', 'Wade', 32.0, None, 32.0),
 ('curtico01', 'Curtis', 'Colin', None, 31.0, 31.0),
 ('mitrese01', 'Mitre', 'Sergio', None, 31.0, 31.0),
 ('suttodr01', 'Sutton', 'Drew', 31.0, None, 31.0),
 ('russoke01', 'Russo', 'Kevin', None, 31.0, 31.0),
 ('vazquja01', 'Vazquez', 'Javier', None, 31.0, 31.0),
 ('delarru01', 'De La Rosa', 'Rubby', 30.0, None, 30.0),
 ('noesihe01', 'Noesi', 'Hector', None, 30.0, 30.0),
 ('wadety01', 'Wade', 'Tyler', None, 30.0, 30.0),
 ('bowdemi01', 'Bowden', 'Michael', 30.0, None, 30.0),
 ('loneyja01', 'Loney', 'James', 30.0, None, 30.0),
 ('gaudich01', 'Gaudin', 'Chad', None, 30.0, 30.0),
 ('marteda01', 'Marte', 'Damaso', None, 30.0, 30.0),
 ('peavyja01', 'Peavy', 'Jake', 30.0, None, 30.0),
 ('anderla03', 'Anderson', 'Lars', 30.0, None, 30.0),
 ('colonba01', 'Colon', 'Bartolo', None, 29.0, 29.0),
 ('wheelze01', 'Wheeler', 'Zelous', None, 29.0, 29.0),
 ('cashke01', 'Cash', 'Kevin', 29.0, None, 29.0),
 ('reedad01', 'Reed', 'Addison', 29.0, None, 29.0),
 ('winnra01', 'Winn', 'Randy', None, 29.0, 29.0),
 ('montgjo01', 'Montgomery', 'Jordan', None, 29.0, 29.0),
 ('whitlch01', 'Whitley', 'Chase', None, 28.0, 28.0),
 ('cessalu01', 'Cessa', 'Luis', None, 27.0, 27.0),
 ('snydebr03', 'Snyder', 'Brandon', 27.0, None, 27.0),
 ('parkch01', 'Park', 'Chan Ho', None, 27.0, 27.0),
 ('richadu02', 'Richardson', 'Dustin', 26.0, None, 26.0),
 ('pindebr01', 'Pinder', 'Branden', None, 26.0, 26.0),
 ('machije01', 'Machi', 'Jean', 26.0, None, 26.0),
 ('brittdr01', 'Britton', 'Drake', 26.0, None, 26.0),
 ('swarzan01', 'Swarzak', 'Anthony', None, 26.0, 26.0),
 ('willima07', 'Williams', 'Mason', None, 25.0, 25.0),
 ('lintz01', 'Lin', 'Tzu-Wei', 25.0, None, 25.0),
 ('woodke02', 'Wood', 'Kerry', None, 24.0, 24.0),
 ('johnsni01', 'Johnson', 'Nick', None, 24.0, 24.0),
 ('martich02', 'Martin', 'Chris', None, 24.0, 24.0),
 ('bleieri01', 'Bleier', 'Richard', None, 23.0, 23.0),
 ('boescbr01', 'Boesch', 'Brennan', None, 23.0, 23.0),
 ('carpeda01', 'Carpenter', 'David', None, 22.0, 22.0),
 ('mcgehca01', 'McGehee', 'Casey', None, 22.0, 22.0),
 ('nunovi01', 'Nuno', 'Vidal', None, 22.0, 22.0),
 ('vanevjo01', 'Van Every', 'Jonathan', 22.0, None, 22.0),
 ('lillibr01', 'Lillibridge', 'Brent', 10.0, 11.0, 21.0),
 ('francbe01', 'Francisco', 'Ben', None, 21.0, 21.0),
 ('daleyma01', 'Daley', 'Matt', None, 20.0, 20.0),
 ('petitgr01', 'Petit', 'Gregorio', None, 20.0, 20.0),
 ('jenksbo01', 'Jenks', 'Bobby', 19.0, None, 19.0),
 ('webstal01', 'Webster', 'Allen', 19.0, None, 19.0),
 ('hellebe01', 'Heller', 'Ben', None, 19.0, 19.0),
 ('fistedo01', 'Fister', 'Doug', 18.0, None, 18.0),
 ('masteju01', 'Masterson', 'Justin', 18.0, None, 18.0),
 ('pazosja01', 'Pazos', 'James', None, 18.0, 18.0),
 ('monteje01', 'Montero', 'Jesus', None, 18.0, 18.0),
 ('cookaa01', 'Cook', 'Aaron', 18.0, None, 18.0),
 ('weeksje01', 'Weeks', 'Jemile', 17.0, None, 17.0),
 ('rumbeni01', 'Rumbelow', 'Nick', None, 17.0, 17.0),
 ('davisra01', 'Davis', 'Rajai', 17.0, None, 17.0),
 ('brignre01', 'Brignac', 'Reid', None, 17.0, 17.0),
 ('heathsl01', 'Heathcott', 'Slade', None, 17.0, 17.0),
 ('lowede01', 'Lowe', 'Derek', None, 17.0, 17.0),
 ('moseldu01', 'Moseley', 'Dustin', None, 16.0, 16.0),
 ('owenshe02', 'Owens', 'Henry', 16.0, None, 16.0),
 ('cruzlu01', 'Cruz', 'Luis', None, 16.0, 16.0),
 ('gallegi01', 'Gallegos', 'Giovanny', None, 16.0, 16.0),
 ('parkebl01', 'Parker', 'Blake', None, 16.0, 16.0),
 ('schoesc01', 'Schoeneweis', 'Scott', 15.0, None, 15.0),
 ('greensh02', 'Greene', 'Shane', None, 15.0, 15.0),
 ('noelri01', 'Noel', 'Rico', None, 15.0, 15.0),
 ('taylobe03', 'Taylor', 'Ben', 14.0, None, 14.0),
 ('mccarbr01', 'McCarthy', 'Brandon', None, 14.0, 14.0),
 ('holadbr01', 'Holaday', 'Bryan', 14.0, None, 14.0),
 ('beatope01', 'Beato', 'Pedro', 14.0, None, 14.0),
 ('richaan01', 'Richardson', 'Antoan', None, 13.0, 13.0),
 ('berryqu01', 'Berry', 'Quintin', 13.0, None, 13.0),
 ('gonzaal03', 'Gonzalez', 'Alberto', None, 13.0, 13.0),
 ('coopega03', 'Cooper', 'Garrett', None, 13.0, 13.0),
 ('maddoau01', 'Maddox', 'Austin', 13.0, None, 13.0),
 ('cecchga01', 'Cecchini', 'Garin', 13.0, None, 13.0),
 ('barbajo01', 'Barbato', 'Johnny', None, 13.0, 13.0),
 ('annade01', 'Anna', 'Dean', None, 12.0, 12.0),
 ('butlebi03', 'Butler', 'Billy', None, 12.0, 12.0),
 ('cabrace01', 'Cabral', 'Cesar', None, 12.0, 12.0),
 ('florera02', 'Flores', 'Ramon', None, 12.0, 12.0),
 ('pearcst01', 'Pearce', 'Steve', None, 12.0, 12.0),
 ('jacksco01', 'Jackson', 'Conor', 12.0, None, 12.0),
 ('cothaca01', 'Cotham', 'Caleb', None, 12.0, 12.0),
 ('pendlla01', 'Pendleton', 'Lance', None, 11.0, 11.0),
 ('ramirjo02', 'Ramirez', 'Jose', None, 11.0, 11.0),
 ('grayso01', 'Gray', 'Sonny', None, 11.0, 11.0),
 ('laffeaa01', 'Laffey', 'Aaron', None, 11.0, 11.0),
 ('smithca02', 'Smith', 'Carson', 11.0, None, 11.0),
 ('kozmape01', 'Kozma', 'Pete', None, 11.0, 11.0),
 ('lairdbr01', 'Laird', 'Brandon', None, 11.0, 11.0),
 ('thomaju01', 'Thomas', 'Justin', 7.0, 4.0, 11.0),
 ('albaljo01', 'Albaladejo', 'Jonathan', None, 10.0, 10.0),
 ('nelsoch01', 'Nelson', 'Chris', None, 10.0, 10.0),
 ('valenda01', 'Valencia', 'Danny', 10.0, None, 10.0),
 ('manuero01', 'Manuel', 'Robert', 10.0, None, 10.0),
 ('smithca03', 'Smith', 'Caleb', None, 9.0, 9.0),
 ('outmajo01', 'Outman', 'Josh', None, 9.0, 9.0),
 ('solando01', 'Solano', 'Donovan', None, 9.0, 9.0),
 ('hanrajo01', 'Hanrahan', 'Joel', 9.0, None, 9.0),
 ('varvaan01', 'Varvaro', 'Anthony', 9.0, None, 9.0),
 ('moellch01', 'Moeller', 'Chad', None, 9.0, 9.0),
 ('higasky01', 'Higashioka', 'Kyle', None, 9.0, 9.0),
 ('huffmch01', 'Huffman', 'Chad', None, 9.0, 9.0),
 ('linch01', 'Lin', 'Che-Hsuan', 9.0, None, 9.0),
 ('hottoto01', 'Hottovy', 'Tommy', 8.0, None, 8.0),
 ('moncayo01', 'Moncada', 'Yoan', 8.0, None, 8.0),
 ('nelsojo01', 'Nelson', 'Joe', 8.0, None, 8.0),
 ('selskst01', 'Selsky', 'Steve', 8.0, None, 8.0),
 ('bedarer01', 'Bedard', 'Erik', 8.0, None, 8.0),
 ('proctsc01', 'Proctor', 'Scott', None, 8.0, 8.0),
 ('roberry01', 'Roberts', 'Ryan', 8.0, None, 8.0),
 ('garcija02', 'Garcia', 'Jaime', None, 8.0, 8.0),
 ('quallch01', 'Qualls', 'Chad', None, 8.0, 8.0),
 ('carpech02', 'Carpenter', 'Chris', 8.0, None, 8.0),
 ('dejesiv02', 'De Jesus', 'Ivan', 8.0, None, 8.0),
 ('velazhe01', 'Velazquez', 'Hector', 8.0, None, 8.0),
 ('carlybu01', 'Carlyle', 'Buddy', None, 8.0, 8.0),
 ('davisik02', 'Davis', 'Ike', None, 8.0, 8.0),
 ('mesame01', 'Mesa', 'Melky', None, 8.0, 8.0),
 ('browndu01', 'Brown', 'Dusty', 7.0, None, 7.0),
 ('kontoge01', 'Kontos', 'George', None, 7.0, 7.0),
 ('lindgja01', 'Lindgren', 'Jacob', None, 7.0, 7.0),
 ('delatjo01', 'De La Torre', 'Jose', 7.0, None, 7.0),
 ('weilaky01', 'Weiland', 'Kyle', 7.0, None, 7.0),
 ('butleda01', 'Butler', 'Dan', 7.0, None, 7.0),
 ('gathrjo01', 'Gathright', 'Joey', 7.0, None, 7.0),
 ('germado01', 'German', 'Domingo', None, 7.0, 7.0),
 ('webbty01', 'Webb', 'Tyler', None, 7.0, 7.0),
 ('molingu01', 'Molina', 'Gustavo', 4.0, 3.0, 7.0),
 ('ranauan01', 'Ranaudo', 'Anthony', 7.0, None, 7.0),
 ('spearna01', 'Spears', 'Nate', 7.0, None, 7.0),
 ('willira01', 'Williams', 'Randy', 7.0, None, 7.0),
 ('parmech01', 'Parmelee', 'Chris', None, 6.0, 6.0),
 ('arojo01', 'Aro', 'Jonathan', 6.0, None, 6.0),
 ('lamarry01', 'LaMarre', 'Ryan', 6.0, None, 6.0),
 ('choiji01', 'Choi', 'Ji-Man', None, 6.0, 6.0),
 ('gamelbe01', 'Gamel', 'Ben', None, 6.0, 6.0),
 ('johnsbr02', 'Johnson', 'Brian', 6.0, None, 6.0),
 ('valdera02', 'Valdes', 'Raul', None, 6.0, 6.0),
 ('younger03', 'Young', 'Eric', None, 6.0, 6.0),
 ('coellro01', 'Coello', 'Robert', 6.0, None, 6.0),
 ('sizemsc01', 'Sizemore', 'Scott', None, 6.0, 6.0),
 ('mcdonjo03', 'McDonald', 'John', 6.0, None, 6.0),
 ('cookry01', 'Cook', 'Ryan', 5.0, None, 5.0),
 ('ringro01', 'Ring', 'Royce', None, 5.0, 5.0),
 ('diazjo02', 'Diaz', 'Jonathan', 5.0, None, 5.0),
 ('osullse01', "O'Sullivan", 'Sean', 5.0, None, 5.0),
 ('repkoja01', 'Repko', 'Jason', 5.0, None, 5.0),
 ('shealry01', 'Shealy', 'Ryan', 5.0, None, 5.0),
 ('andujmi01', 'Andujar', 'Miguel', None, 5.0, 5.0),
 ('pegueca01', 'Peguero', 'Carlos', 4.0, None, 4.0),
 ('morendi01', 'Moreno', 'Diego', None, 4.0, 4.0),
 ('nealth01', 'Neal', 'Thomas', None, 4.0, 4.0),
 ('perezeu01', 'Perez', 'Eury', None, 4.0, 4.0),

- What does this query do?

| <img src="../../images/full_join_plan.jpeg"> |
| :---: |
| __```FULL JOIN``` Plan__ |

- Some even numbers

In [88]:
%sql select * from w4111f19.even_integers

17 rows affected.

[(2,),
 (4,),
 (6,),
 (8,),
 (10,),
 (12,),
 (14,),
 (16,),
 (18,),
 (20,),
 (22,),
 (24,),
 (26,),
 (28,),
 (30,),
 (32,),
 (34,)]

- Some prime numbers

In [86]:
%sql select * from w4111f19.prime_numbers

11 rows affected.

[(2,), (3,), (5,), (7,), (11,), (13,), (17,), (19,), (23,), (29,), (31,)]

- Some Fibonacci Numbers

In [87]:
%sql select * from w4111f19.fib_numbers

9 rows affected.

[(0,), (1,), (2,), (3,), (5,), (8,), (13,), (21,), (34,)]

#### Intersection

- MySQL does not support the SQL ```INTERSECT``` operator.


- There are a lot of ways to simulate ```INTERSECT.``` 


- The simplest is ```JOIN```

In [89]:
%sql use w4111f19;

0 rows affected.

[]

- Even prime numbers.

In [91]:
%sql select * from prime_numbers join even_integers using(number);

1 rows affected.

[(2,)]

- Numbers that are Fibonacci Numbers and Prime

In [92]:
%sql select * from prime_numbers join fib_numbers using(number);

4 rows affected.

[(2,), (3,), (5,), (13,)]

- You will often find queries where ```JOIN``` seems awkward.


- You do not want to ```JOIN``` rows. You just want to find rows in both "sets."


- Let's do a contrived example.


- Find the ```People``` were born in 'CA'

In [93]:
%sql use Lahman2017;

0 rows affected.

[]

In [94]:
%sql select * from people where birthState='CA' limit 10;

10 rows affected.

[('aasedo01', 1954, 9, 8, 'USA', 'CA', 'Orange', None, None, None, '', '', '', 'Don', 'Aase', 'Donald William', '190', '75', 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01', None, datetime.date(1954, 9, 8)),
 ('abbotpa01', 1967, 9, 15, 'USA', 'CA', 'Van Nuys', None, None, None, '', '', '', 'Paul', 'Abbott', 'Paul David', '185', '75', 'R', 'R', '1990-08-21', '2004-08-07', 'abbop001', 'abbotpa01', None, datetime.date(1967, 9, 15)),
 ('abernbi01', 1929, 1, 30, 'USA', 'CA', 'Torrance', 2006, 2, 19, 'USA', 'CA', 'Yucaipa', 'Bill', 'Abernathie', 'William Edward', '190', '70', 'R', 'R', '1952-09-27', '1952-09-27', 'aberb101', 'abernbi01', datetime.date(2006, 2, 19), datetime.date(1929, 1, 30)),
 ('abreujo01', 1913, 5, 24, 'USA', 'CA', 'Oakland', 1993, 3, 17, 'USA', 'CA', 'Hayward', 'Joe', 'Abreu', 'Joseph Lawrence', '160', '68', 'R', 'R', '1942-04-23', '1942-07-11', 'abrej101', 'abreujo01', datetime.date(1993, 3, 17), datetime.date(1913, 5, 24)),
 ('acrema01', 1968, 9, 16, 'USA', 'CA', 'Concord', None, None, None, '', '', '', 'Mark', 'Acre', 'Mark Robert', '235', '80', 'R', 'R', '1994-05-13', '1997-05-10', 'acrem001', 'acrema01', None, datetime.date(1968, 9, 16)),
 ('adamsac01', 1910, 3, 2, 'USA', 'CA', 'Willows', 2006, 2, 26, 'USA', 'GA', 'Albany', 'Ace', 'Adams', 'Ace Townsend', '182', '70', 'R', 'R', '1941-04-15', '1946-04-24', 'adama101', 'adamsac01', datetime.date(2006, 2, 26), datetime.date(1910, 3, 2)),
 ('adamsbo03', 1921, 12, 14, 'USA', 'CA', 'Tuolumne', 1997, 2, 13, 'USA', 'WA', 'Gig Harbor', 'Bobby', 'Adams', 'Robert Henry', '160', '70', 'R', 'R', '1946-04-16', '1959-04-22', 'adamb103', 'adamsbo03', datetime.date(1997, 2, 13), datetime.date(1921, 12, 14)),
 ('adamsdi01', 1920, 4, 8, 'USA', 'CA', 'Tuolumne', 2016, 9, 14, 'USA', 'CA', 'Fallbrook', 'Dick', 'Adams', 'Richard Leroy', '185', '72', 'R', 'L', '1947-05-20', '1947-09-28', 'adamd102', 'adamsdi01', datetime.date(2016, 9, 14), datetime.date(1920, 4, 8)),
 ('adamshe01', 1928, 4, 14, 'USA', 'CA', 'Hollywood', 2012, 2, 1, 'USA', 'OK', 'Tulsa', 'Herb', 'Adams', 'Herbert Loren', '160', '69', 'L', 'L', '1948-09-17', '1950-08-30', 'adamh101', 'adamshe01', datetime.date(2012, 2, 1), datetime.date(1928, 4, 14)),
 ('adamsjo02', 1971, 7, 2, 'USA', 'CA', 'Lakewood', None, None, None, '', '', '', 'Joel', 'Adamson', 'Joel Lee', '185', '76', 'L', 'L', '1996-04-10', '1998-04-26', 'adamj001', 'adamsjo02', None, datetime.date(1971, 7, 2))]

- Find the people in the Hall of Fame elected as managers.

In [95]:
%sql SELECT * FROM lahman2017.HallOfFame where category='manager'

74 rows affected.

[('alstowa01', '1983', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('andersp01', '2000', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('coxbo01', '2014', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('durocle01', '1948', 'BBWAA', '121', '91', '1', 'N', 'Manager', '', 0),
 ('durocle01', '1952', 'BBWAA', '234', '176', '1', 'N', 'Manager', '', 0),
 ('durocle01', '1956', 'BBWAA', '193', '145', '1', 'N', 'Manager', '', 0),
 ('durocle01', '1958', 'BBWAA', '266', '200', '28', 'N', 'Manager', '', 0),
 ('durocle01', '1960', 'BBWAA', '269', '202', '10', 'N', 'Manager', '', 0),
 ('durocle01', '1962', 'BBWAA', '160', '120', '1', 'N', 'Manager', '', 0),
 ('durocle01', '1994', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('fosteru99', '1981', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('hanlone01', '1996', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('harribu01', '1938', 'BBWAA', '262', '197', '1', 'N', 'Manager', '', 0),
 ('harribu01', '1939', 'BBWAA', '274', '206', '1', 'N', 'Manager', '', 0),
 ('harribu01', '1948', 'BBWAA', '121', '91', '3', 'N', 'Manager', '', 0),
 ('harribu01', '1950', 'BBWAA', '168', '126', '4', 'N', 'Manager', '', 0),
 ('harribu01', '1951', 'BBWAA', '226', '170', '9', 'N', 'Manager', '', 0),
 ('harribu01', '1952', 'BBWAA', '234', '176', '12', 'N', 'Manager', '', 0),
 ('harribu01', '1953', 'BBWAA', '264', '198', '21', 'N', 'Manager', '', 0),
 ('harribu01', '1958', 'BBWAA', '266', '200', '45', 'N', 'Manager', '', 0),
 ('harribu01', '1960', 'BBWAA', '269', '202', '31', 'N', 'Manager', '', 0),
 ('harribu01', '1975', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('herzowh01', '2010', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('huggimi01', '1937', 'BBWAA', '201', '151', '5', 'N', 'Manager', '', 0),
 ('huggimi01', '1938', 'BBWAA', '262', '197', '48', 'N', 'Manager', '', 0),
 ('huggimi01', '1939', 'BBWAA', '274', '206', '97', 'N', 'Manager', '', 0),
 ('huggimi01', '1942', 'BBWAA', '233', '175', '111', 'N', 'Manager', '', 0),
 ('huggimi01', '1945', 'BBWAA', '247', '186', '133', 'N', 'Manager', '', 0),
 ('huggimi01', '1948', 'BBWAA', '121', '91', '4', 'N', 'Manager', '', 0),
 ('huggimi01', '1950', 'BBWAA', '168', '126', '2', 'N', 'Manager', '', 0),
 ('huggimi01', '1964', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('larusto01', '2014', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('lasorto01', '1997', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('lopezal01', '1952', 'BBWAA', '234', '176', '2', 'N', 'Manager', '', 0),
 ('lopezal01', '1953', 'BBWAA', '264', '198', '2', 'N', 'Manager', '', 0),
 ('lopezal01', '1956', 'BBWAA', '193', '145', '1', 'N', 'Manager', '', 0),
 ('lopezal01', '1958', 'BBWAA', '266', '200', '34', 'N', 'Manager', '', 0),
 ('lopezal01', '1960', 'BBWAA', '269', '202', '26', 'N', 'Manager', '', 0),
 ('lopezal01', '1962', 'BBWAA', '160', '120', '11', 'N', 'Manager', '', 0),
 ('lopezal01', '1966', 'BBWAA', '302', '227', '109', 'N', 'Manager', '', 0),
 ('lopezal01', '1977', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('mackco01', '1937', 'Centennial', '', '', '', 'Y', 'Manager', '', 1),
 ('mccarjo99', '1939', 'BBWAA', '274', '206', '3', 'N', 'Manager', '', 0),
 ('mccarjo99', '1947', 'BBWAA', '161', '121', '2', 'N', 'Manager', '', 0),
 ('mccarjo99', '1951', 'BBWAA', '226', '170', '1', 'N', 'Manager', '', 0),
 ('mccarjo99', '1953', 'BBWAA', '264', '198', '1', 'N', 'Manager', '', 0),
 ('mccarjo99', '1957', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('mccarjo99', '1958', 'BBWAA', '266', '200', '2', 'N', 'Manager', '', 0),
 ('mcgrajo01', '1937', 'BBWAA', '201', '151', '5', 'N', 'Manager', '', 0),
 ('mcgrajo01', '1937', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('mckecbi01', '1945', 'BBWAA', '247', '186', '2', 'N', 'Manager', '', 0),
 ('mckecbi01', '1950', 'BBWAA', '168', '126', '1', 'N', 'Manager', '', 0),
 ('mckecbi01', '1951', 'BBWAA', '226', '170', '8', 'N', 'Manager', '', 0),
 ('mckecbi01', '1962', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('robinwi01', '1937', 'BBWAA', '201', '151', '5', 'N', 'Manager', '', 0),
 ('robinwi01', '1938', 'BBWAA', '262', '197', '17', 'N', 'Manager', '', 0),
 ('robinwi01', '1939', 'BBWAA', '274', '206', '46', 'N', 'Manager', '', 0),
 ('robinwi01', '1942', 'BBWAA', '233', '175', '89', 'N', 'Manager', '', 0),
 ('robinwi01', '1945', 'BBWAA', '247', '186', '81', 'N', 'Manager', '', 0),
 ('robinwi01', '1945', 'Old Timers', '', '', '', 'Y', 'Manager', '', 1),
 ('seleefr99', '1999', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('southbi01', '2008', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('stengca01', '1938', 'BBWAA', '262', '197', '2', 'N', 'Manager', '', 0),
 ('stengca01', '1939', 'BBWAA', '274', '206', '6', 'N', 'Manager', '', 0),
 ('stengca01', '1945', 'BBWAA', '247', '186', '2', 'N', 'Manager', '', 0),
 ('stengca01', '1948', 'BBWAA', '121', '91', '1', 'N', 'Manager', '', 0),
 ('stengca01', '1950', 'BBWAA', '168', '126', '3', 'N', 'Manager', '', 0),
 ('stengca01', '1951', 'BBWAA', '226', '170', '8', 'N', 'Manager', '', 0),
 ('stengca01', '1952', 'BBWAA', '234', '176', '27', 'N', 'Manager', '', 0),
 ('stengca01', '1953', 'BBWAA', '264', '198', '61', 'N', 'Manager', '', 0),
 ('stengca01', '1966', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('torrejo01', '2014', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('weaveea99', '1996', 'Veterans', '', '', '', 'Y', 'Manager', '', 1),
 ('willidi02', '2008', 'Veterans', '', '', '', 'Y', 'Manager', '', 1)]

- I could ```JOIN``` these two derived tables.


- Another approach is ```EXISTS```


- To start, find the names and birthStates of people elected to the Hall of Fame as Managers.

In [99]:
%%%sql
SELECT
    halloffame.playerid, category, inducted, 
    (select birthState from people where people.playerid=halloffame.playerid) as state,
    (select sum(w) from managers where managers.playerid=halloffame.playerid) as total_wins,
    (select nameLast from people where people.playerid=halloffame.playerid) as nameLast,
    (select nameFirst from people where people.playerid=halloffame.playerid) as nameFirst
FROM HallOfFame where category='manager' and inducted='Y';

23 rows affected.

[('alstowa01', 'Manager', 'Y', 'OH', 2040.0, 'Alston', 'Walter'),
 ('andersp01', 'Manager', 'Y', 'SD', 2194.0, 'Anderson', 'Sparky'),
 ('coxbo01', 'Manager', 'Y', 'OK', 2504.0, 'Cox', 'Bobby'),
 ('durocle01', 'Manager', 'Y', 'MA', 2008.0, 'Durocher', 'Leo'),
 ('fosteru99', 'Manager', 'Y', 'TX', None, 'Foster', 'Rube'),
 ('hanlone01', 'Manager', 'Y', 'CT', 1313.0, 'Hanlon', 'Ned'),
 ('harribu01', 'Manager', 'Y', 'NY', 2158.0, 'Harris', 'Bucky'),
 ('herzowh01', 'Manager', 'Y', 'IL', 1281.0, 'Herzog', 'Whitey'),
 ('huggimi01', 'Manager', 'Y', 'OH', 1413.0, 'Huggins', 'Miller'),
 ('larusto01', 'Manager', 'Y', 'FL', 2728.0, 'LaRussa', 'Tony'),
 ('lasorto01', 'Manager', 'Y', 'PA', 1599.0, 'Lasorda', 'Tom'),
 ('lopezal01', 'Manager', 'Y', 'FL', 1410.0, 'Lopez', 'Al'),
 ('mackco01', 'Manager', 'Y', 'MA', 3731.0, 'Mack', 'Connie'),
 ('mccarjo99', 'Manager', 'Y', 'PA', 2125.0, 'McCarthy', 'Joe'),
 ('mcgrajo01', 'Manager', 'Y', 'NY', 2763.0, 'McGraw', 'John'),
 ('mckecbi01', 'Manager', 'Y', 'PA', 1896.0, 'McKechnie', 'Bill'),
 ('robinwi01', 'Manager', 'Y', 'MA', 1399.0, 'Robinson', 'Wilbert'),
 ('seleefr99', 'Manager', 'Y', 'NH', 1284.0, 'Selee', 'Frank'),
 ('southbi01', 'Manager', 'Y', 'NE', 1044.0, 'Southworth', 'Billy'),
 ('stengca01', 'Manager', 'Y', 'MO', 1905.0, 'Stengel', 'Casey'),
 ('torrejo01', 'Manager', 'Y', 'NY', 2326.0, 'Torre', 'Joe'),
 ('weaveea99', 'Manager', 'Y', 'MO', 1480.0, 'Weaver', 'Earl'),
 ('willidi02', 'Manager', 'Y', 'MO', 1571.0, 'Williams', 'Dick')]

- Now just the ones born in MA

In [101]:
%%%sql
SELECT
    halloffame.playerid, category, inducted, 
    (select birthState from people where people.playerid=halloffame.playerid) as state,
    (select sum(w) from managers where managers.playerid=halloffame.playerid) as total_wins,
    (select nameLast from people where people.playerid=halloffame.playerid) as nameLast,
    (select nameFirst from people where people.playerid=halloffame.playerid) as nameFirst
FROM HallOfFame where category='manager' and inducted='Y'
and
exists (select playerid from people where birthState='MA' and playerid=halloffame.playerid)

3 rows affected.

[('durocle01', 'Manager', 'Y', 'MA', 2008.0, 'Durocher', 'Leo'),
 ('mackco01', 'Manager', 'Y', 'MA', 3731.0, 'Mack', 'Connie'),
 ('robinwi01', 'Manager', 'Y', 'MA', 1399.0, 'Robinson', 'Wilbert')]

#### DIFFERENCE

- Find the elements in ```A``` not in ```B.```


- Fibonacci Numbers that are not prime.

In [103]:
%%%sql
    select * from w4111f19.fib_numbers
    where
    not exists (select * from w4111f19.prime_numbers where number=w4111f19.fib_numbers.number)

5 rows affected.

[(0,), (1,), (8,), (21,), (34,)]

- Fibonacci Numbers that are not Even

In [106]:
%%%sql
    select * from w4111f19.fib_numbers
    where
    not exists (select * from w4111f19.even_integers where number=w4111f19.fib_numbers.number)

6 rows affected.

[(0,), (1,), (3,), (5,), (13,), (21,)]

#### Symmetric Difference

- Lot's of ways to do this ...

In [107]:
%sql use w4111f19;

0 rows affected.

[]

In [108]:
%%%sql
    select * from
        (select * from prime_numbers
        union
        select * from fibonacci_numbers) as a
    where
        (not (a.number in select number from fib_numbers)
         and
         (not (a.number in select number from prime_numbers)

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select number from fib_numbers)\n         and\n         (not (a.number in select n' at line 6") [SQL: 'select * from\n        (select * from prime_numbers\n        union\n        select * from fibonacci_numbers) as a\n    where\n        (not (a.number in select number from fib_numbers)\n         and\n         (not (a.number in select number from prime_numbers)']

## Your Questions

- Any queries you want to build?