<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.2">W4111 Introduction to Databases $-$ Lecture 2:<br>Begin Working with Data, Data Modeling, Databases and Applications</h1>

## Set Up Environment

In [1]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30))]

- To run the examples that use %sql, you will have to install an extension to your iPython/Jupyter notebooks.


- The extension and installation instruction are at: https://pypi.org/project/ipython-sql/


- You can come to office hours (CAs, mine) if you need help.

| <img src="../../images/install_wizard.jpg"> |
| :---: |
| __Installation Wizard__ |

## Explanation

- Three interesting and illuminating program statements.

```
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'
```
<br><br>

| <img src="../../images/what-is-this-sorcery.jpg" > |
| :---: |
| __Some Sorcery__ |

### iPython/Jupyter Notebook Architecture

| <img src="../../images/notebook_components.png" > |
| :---: |
| [iPython Notebook Architecture](https://jupyter.readthedocs.io/en/latest/architecture/how_jupyter_ipython_work.html) |


- There are several good explanations of interactive Python, iPython notebooks, etc:
    - https://jupyter.readthedocs.io/en/latest/architecture/how_jupyter_ipython_work.html
    - https://ipython-books.github.io/chapter-3-mastering-the-jupyter-notebook/
    
    
- You do not need to understand this material for the course.


- In lectures, I am using Jupyter notebooks.
    - There is an ecosystem of plug-ins and extensions that add features to the base notebook capabilities.
    - The ```%sql magic function``` is one of the extensions. 
    
    
- "IPython will treat any line whose first character is a % as a special call to a ‘magic’ function. These allow you to control the behavior of IPython itself, plus a lot of system-type features. They are all prefixed with a % character, but parameters are given without parentheses or quote." (https://ipython.readthedocs.io/en/stable/interactive/reference.html#magic)

In [2]:
%magic

- ```%load_ext sql``` is calling the magic function ```load_extension.``` This
    - Loads the extension module
    - The ```%sql``` magic function.
  
  
- This is all FYI. The [iPython](https://ipython.readthedocs.io/en/stable/config/custommagics.html?highlight=magic) documentation explains how to implement Magics.

### Databases and Connections

- What about ```%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017```?

| <img src="../../images/db-connection.jpg"> |
| :---: |
| __Database Server and Connection__ |


- There are typically two processes (running programs) in a database application.
    - The database server, which processes database commands.
    - The client application that sends commands to and receives responses from the database server.
    
    
- The magic statement defines a database connection.


"A Database connection is facility in computer science that allows client software to talk to database server software, whether on the same machine or not. A connection is required to send commands and receive answers, usually in the form of a result set.

Connections are a key concept in data-centric programming. Since some DBMS engines require considerable time to connect connection pooling was invented to improve performance. No command can be performed against a database without an "open and available" connection to it.

Connections are built by supplying an underlying driver or provider with a connection string, which is a way of addressing a specific database or server and instance as well as user authentication credentials (for example, Server=sql_box;Database=Common;User ID=uid;Pwd=password;). Once a connection has been built it can be opened and closed at will, and properties (such as the command time-out length, or transaction, if one exists) can be set. The Connection String is composed of a set of key/value pairs as dictated by the data access interface and data provider being used." (https://en.wikipedia.org/wiki/Database_connection)


- Again, this is just FYI.

### The Command

- And, ```%sql select * from people where playerid='willite01'``` simply runs a [Structured Query Language (SQL)](https://en.wikipedia.org/wiki/SQL) statement.


- The optional (recommended) text book _Ramakrishnan and Gehrke,_ chapter 5 discusses SQL.


- SQL is the main topic in this and the next few lectures.

## Common Database Concepts

- Almost all database engines and models have the concepts of
    - Objects that are some form of array of (name, value) pairs.
    - Sets of similar or related objects.
    - Four basic (CRUD) operations on a set
        - CREATE a new object and add to a set.
        - RETRIEVE an object in a set based on a criteria.
        - UPDATE an object in a set, e.g. change the data in the object.
        - DELETE an object from a set, specifying the object(s) by some criteria.
        
        
- In the file systems/CSV model (HW 1a)
    - A set is a file, e.g. People.csv.
    - Each object is a row in the file.
    - The header row gives the names of each column.
    - The CRUD processing involves writing a program that reads the file, changes the two-dimensional array and writing the file.
        - CREATE: Append a row and save the file.
        - RETRIEVE: Scan the table and apply some kind of IF statement.
        - UPDATE: Change a row in the two dimensional array.
        - DELETE: Remove a row from the array.
        

- In the "pure" relational model
    - A set is a _relation_.
    - An object is a _row_ or _tuple_.
    - There is no support for CREATE, UPDATE or DELETE.
    - There is an _algebra_ and language from producing a new relation from existing relations that implements a support set of RETRIEVE.
    
    
- In SQL,
    - A set is a _table_.
    - An object is a _row_ or _tuple_.
    - INSERT is the create operation.
    - UPDATE is the delete operation.
    - DELETE is the delete operation.
    - SELECT is the statement that realizes the relational _algebra_.
    
    
- In [Representational state transfer](https://en.wikipedia.org/wiki/Representational_state_transfer) REST.
    - A set is a _resource_ that is a collection of _resources._
    - An object is a resource.
    - CREATE is HTTP POST
    - RETRIEVE is HTTP GET
    - UPDATE is HTTP PUT (or PATCH)
    - DELETE is HTTP DELETE.

## The Relational Model $-$ I

### Overview

References: Ramakrishnan and Gehrke, section 3.1

There are two perspectives on the relational model:
- Formal language and algebra.
- A standard implementation language, Structure Query Language [(SQL)](https://en.wikipedia.org/wiki/SQL)


- The relational model and SQL language (and most DB engines) have two sub-languages/models:
    - Data definition
    - Data manipulation
    
    
- MySQL and other database engines also have an API/language for administration and security.

| <img src="../../images/db_engine_apis.jpeg"> |
| :---: |
| __DB Engine Interfaces__ |

<hr>

| <img src="../../images/slide03.jpg"> |
| :---: |
| __Relational Model__ |

<hr>

| <img src="../../images/slide04.jpg"> |
| :---: |
| __Relational Model__ |

### Defining Data

#### Relational Model

- _Relational Schema_ defines and provides metadata describing what is/can be in "the file" (called a _relation_), e.g.<br>


\begin{equation}
Employees(\overline{employeeNumber}:integer, \ lastName:string, \ firstName:string, \ extension:string, \ email:string, \ officeCode:integer, \ reportsTo:integer, \ jobTitle: string)
\end{equation}


- The formal relational model is imprecise about allowed types for fields/columns. The types must be elementary (atomic) types, e.g. integer, string, char, ...


- The $\overline{overline}$ indicates the _key columns,_ which we will cover later.


- A _Relational Instance_ is a "table" of data that conforms to a relation schema, e.g.<br><br>


| <img src="../../images/employee_relation.jpeg" width="900px%"> |
| :---: |
| __Employee Relational Instance__ |

#### SQL

- Structured Query Language (SQL) is a well-defined programming language that realizes a superset of the relation model.


- There are two sub-languages
    - Data Definition Language (DDL) corresponds to relational schema.
    - Data Manipulation Language corresponds to relational algebra (covered later).
    

- DML statements are how you create/modify tables in SQL.


- Defining a table in SQL, specifically MySQL: 

```

CREATE TABLE `employees` (
  `employeeNumber` int(11) NOT NULL,
  `lastName` varchar(50) NOT NULL,
  `firstName` varchar(50) NOT NULL,
  `extension` varchar(10) NOT NULL,
  `email` varchar(100) NOT NULL,
  `officeCode` varchar(10) NOT NULL,
  `reportsTo` int(11) DEFAULT NULL,
  `jobTitle` varchar(50) NOT NULL,
  PRIMARY KEY (`employeeNumber`),
  UNIQUE KEY `email_UNIQUE` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


```

- The back, single quotes are a sometimes useful/sometimes annoying aspect of MySQL's implementation of the SQL standard.
    - Anything in between single back quotes is a _schema element._
    - Allows attributes and table names of the form \`My Table\` \`My-Table\` and makes clear that \`My-Table\` is a schema element and not an attempt to subtract the variable `Table` from the variable `My` 


- SQL has a superset of the relational model's schema definition capability. An improved table definition could be


- Some observations on SQL relative to the base relational schema definition.
    1. More precise definition of attribute sizes
        - Allows the database engine to more efficiently allocate disk/storage space and place records on disk.
        - This is not important for a relation with a few thousand rows requiring a couple of MB.
        - But, some scenarios have millions or billions of rows requiring TBs of storage.
    1. Integrity Constraints: The database engine will not allow creates or updates that produce obviously invalid data, e.g.
        - You cannot create an employee that does not have a first and last name.
        - You cannot set the ```reportsTo``` column to "canary."
        - Two different employees cannot have the same email address.
    1. There are many, many additional capabilities to enforce integrity constraints, which we will cover.
        
        
- There are some design or best practice issues with this table, which we will discuss later.
        
        
- The SQL DML
    - Has many other operations/statements.
        - DROP
        - ALTER
    - Operates on more than just a table's attributes, e.g.
        - Constraints
        - Triggers
        - Indexes


- We will go into DML and defining data in much more detail.

### Manipulating and Processing Information

#### Computer Languages

- A [declarative language's](https://en.wikipedia.org/wiki/Declarative_programming) programs describe their desired results without explicitly listing commands or steps that must be performed


- An [imperative language](https://en.wikipedia.org/wiki/Imperative_programming) program consists of commands for the computer to perform. Imperative programming focuses on describing how a program operates.


- The most distinguishing feature is that declarative languages do not have control-flow constructs, e.g.
    - ```if {...} else {...}```
    - ```for (...) {...}```


- The relation model, SQL and many DB languages are (primarily) [declarative languages.](https://en.wikipedia.org/wiki/Declarative_programming)

#### Algebraic Query Language

Reference: Ramkrishan and Gherke, section 2.4.

Both the abstract relational model/theory and SQL are __algebras__.

##### Algebra

"... abstract algebra (occasionally called modern algebra) is the study of algebraic structures." (https://en.wikipedia.org/wiki/Abstract_algebra) 

"In mathematics, and more specifically in abstract algebra, an algebraic structure is a set (called carrier set or underlying set) with one or more operations defined on it that satisfies a list of axioms." (https://en.wikipedia.org/wiki/Algebraic_structure)

__Group is an Example__ (http://mathworld.wolfram.com/Group.html)

"A group G is a finite or infinite set of elements together with a binary operation (called the group operation) that together satisfy the four fundamental properties of closure, associativity, the identity property, and the inverse property. The operation with respect to which a group is defined is often called the "group operation," and a set is said to be a group "under" this operation. Elements A, B, C, ... with binary operation between A and B denoted AB form a group if

1. Closure: If A and B are two elements in G, then the product AB is also in G.
<br><br>
2. Associativity: The defined multiplication is associative, i.e., for all A,B,C in G, (AB)C=A(BC).
<br><br>
3. Identity: There is an identity element I (a.k.a. 1, E, or e) such that IA=AI=A for every element A in G.
<br><br>
4. Inverse: There must be an inverse (a.k.a. reciprocal) of each element. Therefore, for each element A of G, the set contains an element B=A<sup>-1</sup> such that <br>AA<sup>-1</sup>=A<sup>-1</sup>A=I.

##### Why a Special Query Language? Why a Formal Language? Why an Algebra

- Computing has a formal mathemetical model.


- Programming languages derive from the model and have their own formal definition.


- Almost every time someone publishes a new language, my reaction is, "What? Why another language? Can't we just pick one, use it and get it right?"


- Relational algebra is less powerful and expressive than Java, C, ... and other programming languages.


- __The simplicity and constrained capabilities is actually the core of the value,__ enabling
    - Vastly simplified programming and supporting tools that yields increased productivity.
    - Development of algorithms that process the data definitions and query statements to automatically produce optimal execution plans, which are better than what a programmer can directly code.
    
    
- We will see these benefits in coming lectures.


_Simple Tool Example_ that enables "citizen programmers" to maniuplate data.

| <img src="../../images/ss_1.jpeg"> |
| :---: |
| __Data Processing and Cleansing Tools__ |

<br><br>
_Simple Tool Example_ for enabling business professionals to analyze and report on data.

| <img src="../../images/quicksight.jpeg" width="85%"> |
| :---: |
| [QuickSight](https://aws.amazon.com/quicksight/) Analysis Tool |

#### Relational Algebra

- There are two notations or representations of the algebra:
    - The original, formal theory.
    - SQL
    
##### Original, Formal Relational Notation

Ramakrishnan and Gehrke, section 4.2


- The "set" in the relational algebra is the set of _relations_.


- The operations are:
    - Common set operations:
        - Union: $\cup$
        - Intersection: $\cap$
        - Difference: $-$
    - Projection: $\pi$
    - Selection: $\sigma$
    - Cartesian Product: $\times$
    - Join: $\bowtie$
    - Rename/Alias
    

- The formal notation does not support create, update or delete of tuples/rows in a relation. You could emulate the operations by
    - Defining new relations containing the created, updated or delete tuples.
    - Using $\cup$, $\cap$, $-$ on the original relation and created/deleted/updated tuple relation.
    
    
- This is an algebra $\Rightarrow$ that $R_1\ OP\ R_2 \rightarrow R_3 ,$ where $R_1 , R_2 , $ and $R_3$ are relations ( aka tables). Relationa algebra is closed. Algebra statements operate on relations and produce relations.
    
    
##### SQL Notation

Ramakrishnan and Gehrke, sections 5.1, 5.2

- The "set" in the relational algebra is the catalog of _tables_.


- The operations are:
    - Common set operations:
        - Union: UNION
        - Intersection: INTERSECT
        - Difference: EXCEPT
    - Selection, Projection, Cartesian Product, Rename/Alias and Join are clauses within a SELECT statement.
    
    ```SELECT <project clause> FROM <table> [JOIN <table> [ON <join condition]] WHERE <select condition>```
    
    
- SQL supports additional operations, e.g
    - GROUP BY
    - ORDER BY

### Selection and Projection

#### Relational Model

- <span style="color: red;">Projection</span> produces a new relation that
    - Has the same rows as the original table
    - But only containing the requested columns/fields
    
    
- <span style="color: red;">Selection</span> produces a new relation that
    - Has the same columns as the original relation
    - But only contains rows with column values matching a predicate.

##### Selection

- The selection operator is $\sigma$


- The selection predicate operators are: $\lt, \gt, =, \ne, \ge, \le$


- $\sigma(Players)$ selects all of the rows/tuples in the player relation.


- The predicate/condition is a "subscript," e.g.
    - $\sigma$<sub>playerID=napolmi01</sub>$(Players)$ selects all players with _playerID=napolmi01_
    - $\sigma$<sub>((nameLast=Williams)$\land(throws=L))\lor(birthYear\ne1914)$</sub>$(Players)$ selects all players with
        - Last name williams who threw lefthanded
        - Birth year not equal to 1914
        
        
- This notation is a little clunky. You can think of the selection predicate being similar to what goes in an _if()_ statement if you were looping through an array testing for a match.

###### Projection

- The projection operator is $\pi$


- The requested columns are subscripts on the operator, e.g. $\pi$<sub>$nameLast,nameFirst,throws$</sub>$(Players)$ returns a table
    - Containing the $nameLast, nameFirst, throws$ column values, in that order
    - For all tuples in the $Players$ table.

##### An Algebra

- Because the relational model is an algebra, composition is possible.


- Like algebras, there are instances where composition support _commutativity,_ _associativity,_ _distribution_ and other algebra rules. 


- For example, $\pi$ and $\sigma$ are commutative.
\begin{equation}
\pi_{nameLast,nameFirst,birthYear}(\sigma_{birthYear=1960}(Players)) = \sigma_{birthYear=1960}(\pi_{nameLast,nameFirst,birthYear}(Players))
\end{equation}


- The fact that some algebra rules apply will become important in query optimization later in the course.

#### SQL

- The core syntax of the SQL SELECT statement is
```
SELECT [DISTINCT] column-list
    FROM table-list
    WHERE qualification
```

- All RDB products implement the core syntax but with extensions.


- The MYSQL syntax is

```
SELECT
    [ALL | DISTINCT | DISTINCTROW ]
      [HIGH_PRIORITY]
      [STRAIGHT_JOIN]
      [SQL_SMALL_RESULT] [SQL_BIG_RESULT] [SQL_BUFFER_RESULT]
      SQL_NO_CACHE [SQL_CALC_FOUND_ROWS]
    select_expr [, select_expr ...]
    [FROM table_references
      [PARTITION partition_list]
    [WHERE where_condition]
    [GROUP BY {col_name | expr | position}, ... [WITH ROLLUP]]
    [HAVING where_condition]
    [WINDOW window_name AS (window_spec)
        [, window_name AS (window_spec)] ...]
    [ORDER BY {col_name | expr | position}
      [ASC | DESC], ... [WITH ROLLUP]]
    [LIMIT {[offset,] row_count | row_count OFFSET offset}]
    [INTO OUTFILE 'file_name'
        [CHARACTER SET charset_name]
        export_options
      | INTO DUMPFILE 'file_name'
      | INTO var_name [, var_name]]
    [FOR {UPDATE | SHARE} [OF tbl_name [, tbl_name] ...] [NOWAIT | SKIP LOCKED] 
      | LOCK IN SHARE MODE]]
```


- __Examples are the easiest way to master the syntax and behavior.__


- A reminder of the ```Lahman2017.People``` table.

```
CREATE TABLE `people` (
  `playerID` varchar(12) NOT NULL,
  `birthYear` char(4) DEFAULT NULL,
  `birthMonth` char(2) DEFAULT NULL,
  `birthDay` char(2) DEFAULT NULL,
  `birthCountry` varchar(64) DEFAULT NULL,
  `birthState` varchar(32) DEFAULT NULL,
  `birthCity` varchar(64) DEFAULT NULL,
  `deathYear` char(4) DEFAULT NULL,
  `deathMonth` char(2) DEFAULT NULL,
  `deathDay` char(2) DEFAULT NULL,
  `deathCountry` varchar(64) DEFAULT NULL,
  `deathState` varchar(32) DEFAULT NULL,
  `deathCity` varchar(64) DEFAULT NULL,
  `nameFirst` varchar(64) NOT NULL,
  `nameLast` varchar(64) NOT NULL,
  `nameGiven` varchar(128) DEFAULT NULL,
  `weight` char(3) DEFAULT NULL,
  `height` char(3) DEFAULT NULL,
  `bats` char(1) DEFAULT NULL,
  `throws` char(1) DEFAULT NULL,
  `debut` varchar(16) DEFAULT NULL,
  `finalGame` varchar(16) DEFAULT NULL,
  `retroID` varchar(12) DEFAULT NULL,
  `bbrefID` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`playerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- __NOTE:__ All of the single back quotes are:
    - MySQL specific
    - Optional in most cases, and only required if a table or column name has a space or some other icky character, e.g. ``` `First Name` ```, ```First-Name```

<u>Select all People with last name 'Williams'</ul>

In [6]:
%sql select * from People where nameLast='Williams';

80 rows affected.

[('williac01', 1917, 3, 18, 'USA', 'NJ', 'Montclair', 1999, 9, 16, 'USA', 'FL', 'Fort Myers', 'Ace', 'Williams', 'Robert Fulton', '174', '74', 'R', 'L', '1940-07-15', '1946-04-22', 'willa103', 'williac01', datetime.date(1999, 9, 16), datetime.date(1917, 3, 18)),
 ('willial02', 1914, 5, 11, 'USA', 'AL', 'Valhermosa Springs', 1969, 7, 19, 'USA', 'TX', 'Groves', 'Al', 'Williams', 'Almon Edward', '200', '75', 'R', 'R', '1937-04-19', '1938-09-04', 'willa101', 'willial02', datetime.date(1969, 7, 19), datetime.date(1914, 5, 11)),
 ('willial03', 1954, 5, 6, 'Nicaragua', 'Atlantico Sur', 'Pearl Lagoon', None, None, None, '', '', '', 'Albert', 'Williams', 'Albert Hamilton', '190', '76', 'R', 'R', '1980-05-07', '1984-09-26', 'willa001', 'willial03', None, datetime.date(1954, 5, 6)),
 ('williar01', 1877, 8, 24, 'USA', 'MA', 'Somerville', 1941, 5, 16, 'USA', 'VA', 'Arlington', 'Art', 'Williams', 'Arthur Frank', '', '', 'L', 'R', '1902-05-07', '1902-09-01', 'willa104', 'williar01', datetime.date(1941, 5, 16), datetime.date(1877, 8, 24)),
 ('willibe01', 1948, 10, 8, 'USA', 'CA', 'Alameda', None, None, None, '', '', '', 'Bernie', 'Williams', 'Bernard', '175', '73', 'R', 'R', '1970-09-07', '1974-05-12', 'willb105', 'willibe01', None, datetime.date(1948, 10, 8)),
 ('willibe02', 1968, 9, 13, 'P.R.', '', 'San Juan', None, None, None, '', '', '', 'Bernie', 'Williams', 'Bernabe', '180', '74', 'B', 'R', '1991-07-07', '2006-10-01', 'willb002', 'willibe02', None, datetime.date(1968, 9, 13)),
 ('willibi01', 1938, 6, 15, 'USA', 'AL', 'Whistler', None, None, None, '', '', '', 'Billy', 'Williams', 'Billy Leo', '175', '73', 'L', 'R', '1959-08-06', '1976-10-02', 'willb104', 'willibi01', None, datetime.date(1938, 6, 15)),
 ('willibi02', 1932, 6, 13, 'USA', 'SC', 'Newberry', 2013, 6, 11, 'USA', 'CA', 'Berkeley', 'Billy', 'Williams', 'William', '195', '75', 'L', 'R', '1969-08-15', '1969-08-20', 'willb102', 'willibi02', datetime.date(2013, 6, 11), datetime.date(1932, 6, 13)),
 ('willibo01', 1884, 4, 27, 'USA', 'OH', 'Monday', 1962, 8, 6, 'USA', 'OH', 'Nelsonville', 'Bob', 'Williams', 'Robert Elias', '190', '72', 'R', 'R', '1911-07-03', '1913-09-30', 'willb103', 'willibo01', datetime.date(1962, 8, 6), datetime.date(1884, 4, 27)),
 ('willibr01', 1969, 2, 15, 'USA', 'SC', 'Lancaster', None, None, None, '', '', '', 'Brian', 'Williams', "Brian O'Neal", '205', '75', 'R', 'R', '1991-09-16', '2000-07-05', 'willb001', 'willibr01', None, datetime.date(1969, 2, 15)),
 ('willich01', 1947, 10, 11, 'USA', 'NY', 'Flushing', 2015, 1, 27, 'USA', 'FL', 'Port Orange', 'Charlie', 'Williams', 'Charles Prosek', '200', '74', 'R', 'R', '1971-04-23', '1978-09-11', 'willc101', 'willich01', datetime.date(2015, 1, 27), datetime.date(1947, 10, 11)),
 ('willicy01', 1887, 12, 21, 'USA', 'IN', 'Wadena', 1974, 4, 23, 'USA', 'WI', 'Eagle River', 'Cy', 'Williams', 'Fred', '180', '74', 'L', 'L', '1912-07-18', '1930-09-22', 'willc103', 'willicy01', datetime.date(1974, 4, 23), datetime.date(1887, 12, 21)),
 ('willida01', 1855, 10, 6, 'USA', 'KY', 'Ludlow', 1939, 10, 22, 'USA', 'KY', 'Covington', 'Dale', 'Williams', 'Elisha Alphonso', '175', '69', 'R', 'R', '1876-08-12', '1876-09-09', 'willd106', 'willida01', datetime.date(1939, 10, 22), datetime.date(1855, 10, 6)),
 ('willida02', 1881, 2, 7, 'USA', 'PA', 'Scranton', 1918, 4, 25, 'USA', 'AR', 'Hot Springs', 'Dave', 'Williams', 'David Owen', '167', '71', 'R', 'L', '1902-07-02', '1902-08-03', 'willd103', 'willida02', datetime.date(1918, 4, 25), datetime.date(1881, 2, 7)),
 ('willida03', 1927, 11, 2, 'USA', 'TX', 'Dallas', 2009, 8, 17, 'USA', 'TX', 'Farmers Branch', 'Davey', 'Williams', 'David Carlous', '160', '70', 'R', 'R', '1949-09-16', '1955-07-31', 'willd102', 'willida03', datetime.date(2009, 8, 17), datetime.date(1927, 11, 2)),
 ('willida05', 1958, 2, 28, 'USA', 'NY', 'Brooklyn', None, None, None, '', '', '', 'Dallas', 'Williams', 'Dallas McKinley', '165', '71', 'L', 'L', '1981-09-19', '1983-10-02', 'willd101', 'willida05', None, datetime.date(1958, 2, 28)),
 ('willida06', 1963, 3, 20, 'USA', 'WV', 'Weirton', None, None, None, '', '', '', 'Dana', 'Williams', 'Dana Lamont', '170', '70', 'R', 'R', '1989-06-19', '1989-07-02', 'willd001', 'willida06', None, datetime.date(1963, 3, 20)),
 ('willida07', 1979, 3, 12, 'USA', 'AK', 'Anchorage', None, None, None, '', '', '', 'David', 'Williams', 'David Aaron', '215', '75', 'L', 'L', '2001-06-06', '2007-09-24', 'willd002', 'willida07', None, datetime.date(1979, 3, 12)),
 ('willide01', 1896, 12, 13, 'USA', 'OR', 'Portland', 1929, 3, 23, 'USA', 'CA', 'San Clemente', 'Denny', 'Williams', 'Evon Daniel', '150', '68', 'L', 'R', '1921-04-15', '1928-07-18', 'willd105', 'willide01', datetime.date(1929, 3, 23), datetime.date(1896, 12, 13)),
 ('willide02', 1916, 2, 5, 'USA', 'NC', 'Durham', 2000, 3, 19, 'USA', 'ND', 'Williston', 'Dewey', 'Williams', 'Dewey Edgar', '160', '72', 'R', 'R', '1944-06-28', '1948-09-26', 'willd109', 'willide02', datetime.date(2000, 3, 19), datetime.date(1916, 2, 5)),
 ('willidi01', 1910, 1, 19, 'USA', 'AR', 'Greenbrier', 1992, 4, 2, 'USA', 'AR', 'Searcy', 'Dib', 'Williams', 'Edwin Dibrell', '175', '71', 'R', 'R', '1930-04-27', '1935-09-29', 'willd107', 'willidi01', datetime.date(1992, 4, 2), datetime.date(1910, 1, 19)),
 ('willidi02', 1929, 5, 7, 'USA', 'MO', 'St. Louis', 2011, 7, 7, 'USA', 'NV', 'Las Vegas', 'Dick', 'Williams', 'Richard Hirschfeld', '190', '72', 'R', 'R', '1951-06-10', '1964-10-01', 'willd104', 'willidi02', datetime.date(2011, 7, 7), datetime.date(1929, 5, 7)),
 ('willido01', 1931, 9, 14, 'USA', 'VA', 'Floyd', 2011, 10, 16, 'USA', 'VA', 'Floyd', 'Don', 'Williams', 'Don Fred', '180', '74', 'R', 'R', '1958-09-12', '1962-08-23', 'willd108', 'willido01', datetime.date(2011, 10, 16), datetime.date(1931, 9, 14)),
 ('willido02', 1935, 9, 2, 'USA', 'CA', 'Los Angeles', 1991, 12, 20, 'USA', 'CA', 'La Jolla', 'Don', 'Williams', 'Donald Reid', '218', '77', 'R', 'R', '1963-08-04', '1963-08-17', 'willd110', 'willido02', datetime.date(1991, 12, 20), datetime.date(1935, 9, 2)),
 ('williea01', 1903, 1, 27, 'USA', 'TN', 'Cumberland Gap', 1958, 3, 10, 'USA', 'TN', 'Knoxville', 'Earl', 'Williams', 'Earl Baxter', '185', '72', 'R', 'R', '1928-05-27', '1928-06-02', 'wille102', 'williea01', datetime.date(1958, 3, 10), datetime.date(1903, 1, 27)),
 ('williea02', 1948, 7, 14, 'USA', 'NJ', 'Newark', 2013, 1, 28, 'USA', 'NJ', 'Somerset', 'Earl', 'Williams', 'Earl Craig', '215', '75', 'R', 'R', '1970-09-13', '1977-09-25', 'wille101', 'williea02', datetime.date(2013, 1, 28), datetime.date(1948, 7, 14)),
 ('willied01', 1964, 11, 1, 'USA', 'LA', 'Shreveport', None, None, None, '', '', '', 'Eddie', 'Williams', 'Edward Laquan', '175', '72', 'R', 'R', '1986-04-18', '1998-05-27', 'wille001', 'willied01', None, datetime.date(1964, 11, 1)),
 ('willifr01', 1958, 2, 13, 'USA', 'WA', 'Seattle', 2009, 1, 9, 'CAN', 'BC', 'Victoria', 'Frank', 'Williams', 'Frank Lee', '180', '73', 'R', 'R', '1984-04-05', '1989-09-27', 'willf001', 'willifr01', datetime.date(2009, 1, 9), datetime.date(1958, 2, 13)),
 ('willige01', 1939, 10, 23, 'USA', 'MI', 'Detroit', 2009, 5, 14, 'USA', 'MI', 'Detroit', 'George', 'Williams', 'George', '165', '71', 'R', 'R', '1961-07-16', '1964-07-05', 'willg101', 'willige01', datetime.date(2009, 5, 14), datetime.date(1939, 10, 23)),
 ('willige02', 1966, 8, 10, 'USA', 'LA', 'New Orleans', None, None, None, '', '', '', 'Gerald', 'Williams', 'Gerald Floyd', '190', '74', 'R', 'R', '1992-09-15', '2005-10-02', 'willg001', 'willige02', None, datetime.date(1966, 8, 10)),
 ('willige03', 1969, 4, 22, 'USA', 'WI', 'La Crosse', None, None, None, '', '', '', 'George', 'Williams', 'George Erik', '190', '70', 'B', 'R', '1995-07-14', '2000-09-13', 'willg002', 'willige03', None, datetime.date(1969, 4, 22)),
 ('willigl01', 1977, 7, 18, 'Australia', 'New South Wales', 'Gosford', None, None, None, '', '', '', 'Glenn', 'Williams', 'Glenn David', '195', '74', 'B', 'R', '2005-06-07', '2005-06-28', 'willg003', 'willigl01', None, datetime.date(1977, 7, 18)),
 ('willigu01', 1870, None, None, 'USA', 'NY', 'New York', 1890, 10, 14, 'USA', 'NY', 'New York', 'Gus', 'Williams', 'Augustine H.', '170', '71', '', '', '1890-04-18', '1890-04-22', 'willg102', 'willigu01', datetime.date(1890, 10, 14), None),
 ('willigu02', 1888, 5, 7, 'USA', 'NE', 'Omaha', 1964, 4, 16, 'USA', 'IL', 'Sterling', 'Gus', 'Williams', 'August Joseph', '185', '72', 'L', 'L', '1911-04-12', '1915-06-18', 'willg103', 'willigu02', datetime.date(1964, 4, 16), datetime.date(1888, 5, 7)),
 ('williha01', 1890, 6, 23, 'USA', 'NE', 'Omaha', 1963, 12, 21, 'USA', 'CA', 'Huntington Park', 'Harry', 'Williams', 'Harry Peter', '200', '73', 'R', 'R', '1913-08-07', '1914-06-30', 'willh103', 'williha01', datetime.date(1963, 12, 21), datetime.date(1890, 6, 23)),
 ('willija01', 1986, 5, 14, 'USA', 'OK', 'Tulsa', None, None, None, '', '', '', 'Jackson', 'Williams', 'Jackson Thomas', '200', '70', 'R', 'R', '2014-08-27', '2015-10-04', 'willj005', 'willija01', None, datetime.date(1986, 5, 14)),
 ('willije01', 1972, 6, 6, 'Australia', 'Capital Territory', 'Canberra', None, None, None, '', '', '', 'Jeff', 'Williams', 'Jeffrey F.', '185', '72', 'R', 'L', '1999-09-12', '2002-09-28', 'willj002', 'willije02', None, datetime.date(1972, 6, 6)),
 ('willije02', 1981, 12, 4, 'USA', 'HI', 'Honolulu', None, None, None, '', '', '', 'Jerome', 'Williams', 'Jerome Lee', '260', '75', 'R', 'R', '2003-04-26', '2016-09-26', 'willj003', 'willije01', None, datetime.date(1981, 12, 4)),
 ('williji01', 1876, 12, 20, 'USA', 'MO', 'St. Louis', 1965, 1, 16, 'USA', 'FL', 'St. Petersburg', 'Jimmy', 'Williams', 'James Thomas', '175', '69', 'R', 'R', '1899-04-15', '1909-10-03', 'willj106', 'williji01', datetime.date(1965, 1, 16), datetime.date(1876, 12, 20)),
 ('williji03', 1943, 10, 4, 'USA', 'CA', 'Santa Maria', None, None, None, '', '', '', 'Jimy', 'Williams', 'James Francis', '170', '70', 'R', 'R', '1966-04-26', '1967-09-21', 'willj107', 'williji03', None, datetime.date(1943, 10, 4)),
 ('williji04', 1947, 4, 29, 'USA', 'LA', 'Zachary', None, None, None, '', '', '', 'Jim', 'Williams', 'James Alfred', '190', '74', 'R', 'R', '1969-09-08', '1970-09-30', 'willj108', 'williji04', None, datetime.date(1947, 4, 29)),
 ('williji99', 1847, 1, 4, 'USA', 'OH', 'Catawba', 1918, 10, 23, 'USA', 'NY', 'Westbury', 'Jimmy', 'Williams', 'James Andrew', '', '', '', '', '', '', 'willj801', 'williji99', datetime.date(1918, 10, 23), datetime.date(1847, 1, 4)),
 ('willijo02', 1889, 7, 16, 'USA', 'HI', 'Honolulu', 1963, 9, 8, 'USA', 'CA', 'Long Beach', 'Johnnie', 'Williams', 'John Brodie', '180', '72', 'R', 'R', '1914-04-21', '1914-08-19', 'willj101', 'willijo02', datetime.date(1963, 9, 8), datetime.date(1889, 7, 16)),
 ('willijo99', 1885, 4, 6, 'USA', 'TX', 'Seguin', 1951, 2, 25, 'USA', 'NY', 'New York', 'Smokey Joe', 'Williams', 'Joseph', '190', '76', 'R', 'R', '', '', '', 'willijo99', datetime.date(1951, 2, 25), datetime.date(1885, 4, 6)),
 ('willike01', 1890, 6, 28, 'USA', 'OR', 'Grants Pass', 1959, 1, 22, 'USA', 'OR', 'Grants Pass', 'Ken', 'Williams', 'Kenneth Roy', '170', '72', 'L', 'R', '1915-07-14', '1929-08-10', 'willk101', 'willike01', datetime.date(1959, 1, 22), datetime.date(1890, 6, 28)),
 ('willike02', 1964, 4, 6, 'USA', 'CA', 'Berkeley', None, None, None, '', '', '', 'Ken', 'Williams', 'Kenneth Royal', '187', '74', 'R', 'R', '1986-09-02', '1991-10-04', 'willk001', 'willike02', None, datetime.date(1964, 4, 6)),
 ('willike03', 1972, 4, 21, 'USA', 'PA', 'Bedford', None, None, None, '', '', '', 'Keith', 'Williams', 'David Keith', '190', '72', 'R', 'R', '1996-06-07', '1996-06-23', 'willk002', 'willike03', None, datetime.date(1972, 4, 21)),
 ('willile01', 1893, 3, 9, 'USA', 'MO', 'Aurora', 1959, 11, 4, 'USA', 'CA', 'Laguna Beach', 'Lefty', 'Williams', 'Claude Preston', '160', '69', 'R', 'L', '1913-09-17', '1920-09-25', 'willl104', 'willile01', datetime.date(1959, 11, 4), datetime.date(1893, 3, 9)),
 ('willile03', 1905, 12, 2, 'USA', 'GA', 'Macon', 1984, 11, 20, 'USA', 'GA', 'Atlanta', 'Leon', 'Williams', 'Leon Theo', '154', '70', 'L', 'L', '1926-05-26', '1926-09-06', 'willl101', 'willile03', datetime.date(1984, 11, 20), datetime.date(1905, 12, 2)),
 ('willima01', 1893, 2, 21, 'USA', 'NC', 'Faison', 1935, 2, 22, 'USA', 'AZ', 'Tucson', 'Marsh', 'Williams', 'Marshall McDiarmid', '180', '72', 'R', 'R', '1916-07-07', '1916-08-25', 'willm104', 'willima01', datetime.date(1935, 2, 22), datetime.date(1893, 2, 21)),
 ('willima02', 1953, 7, 28, 'USA', 'NY', 'Elmira', None, None, None, '', '', '', 'Mark', 'Williams', 'Mark Westley', '180', '72', 'L', 'L', '1977-05-20', '1977-05-22', 'willm105', 'willima02', None, datetime.date(1953, 7, 28)),
 ('willima03', 1959, 7, 25, 'USA', 'TX', 'Houston', None, None, None, '', '', '', 'Matt', 'Williams', 'Matthew Evan', '200', '73', 'R', 'R', '1983-08-02', '1985-10-05', 'willm001', 'willima03', None, datetime.date(1959, 7, 25)),
 ('willima04', 1965, 11, 28, 'USA', 'CA', 'Bishop', None, None, None, '', '', '', 'Matt', 'Williams', 'Matthew Derrick', '205', '74', 'R', 'R', '1987-04-11', '2003-05-31', 'willm003', 'willima04', None, datetime.date(1965, 11, 28)),
 ('willima06', 1971, 4, 12, 'USA', 'VA', 'Virginia Beach', None, None, None, '', '', '', 'Matt', 'Williams', 'Matt Taylor', '185', '72', 'B', 'L', '2000-04-05', '2000-04-29', 'willm006', 'willima09', None, datetime.date(1971, 4, 12)),
 ('willima07', 1991, 8, 21, 'USA', 'RI', 'Pawtucket', None, None, None, '', '', '', 'Mason', 'Williams', 'Mason', '195', '73', 'L', 'R', '2015-06-12', '2017-06-25', 'willm007', 'willima10', None, datetime.date(1991, 8, 21)),
 ('willimi02', 1964, 11, 17, 'USA', 'CA', 'Santa Ana', None, None, None, '', '', '', 'Mitch', 'Williams', 'Mitchell Steven', '180', '75', 'L', 'L', '1986-04-09', '1997-05-10', 'willm002', 'willimi02', None, datetime.date(1964, 11, 17)),
 ('willimi03', 1968, 7, 29, 'USA', 'VA', 'Radford', None, None, None, '', '', '', 'Mike', 'Williams', 'Michael Darren', '190', '74', 'R', 'R', '1992-06-30', '2003-09-28', 'willm005', 'willimi03', None, datetime.date(1968, 7, 29)),
 ('willimu01', 1892, 7, 31, 'USA', 'AR', 'Ozark', 1962, 3, 30, 'USA', 'AR', 'Fayetteville', 'Mutt', 'Williams', 'David Carter', '195', '75', 'R', 'R', '1913-10-04', '1914-10-01', 'willm103', 'willimu01', datetime.date(1962, 3, 30), datetime.date(1892, 7, 31)),
 ('willini01', 1993, 9, 8, 'USA', 'TX', 'Galveston', None, None, None, '', '', '', 'Nick', 'Williams', 'Billy Nicholas', '195', '75', 'L', 'L', '2017-06-30', '2017-10-01', 'willn001', 'willini01', None, datetime.date(1993, 9, 8)),
 ('williot01', 1877, 11, 2, 'USA', 'NJ', 'Newark', 1937, 3, 19, 'USA', 'NE', 'Omaha', 'Otto', 'Williams', 'Otto George', '165', '68', 'R', 'R', '1902-10-05', '1906-06-09', 'willo101', 'williot01', datetime.date(1937, 3, 19), datetime.date(1877, 11, 2)),
 ('willipa01', 1913, 7, 17, 'USA', 'MS', 'Meridian', 1993, 11, 2, 'USA', 'MS', 'Meridian', 'Papa', 'Williams', 'Fred', '200', '73', 'R', 'R', '1945-04-19', '1945-07-08', 'willp102', 'willipa01', datetime.date(1993, 11, 2), datetime.date(1913, 7, 17)),
 ('willipo01', 1874, 5, 19, 'USA', 'ME', 'Bowdoinham', 1959, 8, 4, 'USA', 'ME', 'Topsham', 'Pop', 'Williams', 'Walter Merrill', '190', '71', 'R', 'L', '1898-09-14', '1903-09-15', 'willp101', 'willipo01', datetime.date(1959, 8, 4), datetime.date(1874, 5, 19)),
 ('willira01', 1975, 9, 18, 'USA', 'TX', 'Harlingen', None, None, None, '', '', '', 'Randy', 'Williams', 'Randall Duane', '200', '75', 'L', 'L', '2004-09-11', '2011-08-05', 'willr003', 'willira01', None, datetime.date(1975, 9, 18)),
 ('willire01', 1960, 8, 29, 'USA', 'TN', 'Memphis', None, None, None, '', '', '', 'Reggie', 'Williams', 'Reginald Dewayne', '185', '71', 'R', 'R', '1985-09-02', '1988-10-02', 'willr001', 'willire01', None, datetime.date(1960, 8, 29)),
 ('willire02', 1966, 5, 5, 'USA', 'SC', 'Laurens', None, None, None, '', '', '', 'Reggie', 'Williams', 'Reginald Bernard', '180', '73', 'B', 'R', '1992-09-08', '1999-07-25', 'willr002', 'willire02', None, datetime.date(1966, 5, 5)),
 ('williri01', 1882, 1, 31, 'USA', 'IL', 'Carthage', 1933, 7, 23, 'USA', 'IA', 'Keokuk', 'Rip', 'Williams', 'Alva Mitchell', '187', '71', 'R', 'R', '1911-04-12', '1918-06-09', 'willr104', 'williri01', datetime.date(1933, 7, 23), datetime.date(1882, 1, 31)),
 ('williri02', 1893, 12, 18, 'USA', 'CA', 'Santa Cruz', 1966, 4, 24, 'USA', 'AZ', 'Cottonwood', 'Rinaldo', 'Williams', 'Rinaldo Louis', '', '', 'L', 'R', '1914-10-08', '1914-10-10', 'willr103', 'williri02', datetime.date(1966, 4, 24), datetime.date(1893, 12, 18)),
 ('williri03', 1952, 11, 9, 'USA', 'CA', 'Merced', None, None, None, '', '', '', 'Rick', 'Williams', 'Richard Allen', '180', '73', 'R', 'R', '1978-06-12', '1979-09-26', 'willr101', 'williri03', None, datetime.date(1952, 11, 9)),
 ('willish01', 1971, 3, 10, 'USA', 'CA', 'Fresno', None, None, None, '', '', '', 'Shad', 'Williams', 'Shad Clayton', '185', '72', 'R', 'R', '1996-05-18', '1997-07-22', 'wills001', 'willish01', None, datetime.date(1971, 3, 10)),
 ('willist01', 1892, 1, 31, 'USA', 'MT', 'Cascade', 1979, 6, 29, 'USA', 'MN', 'Deer River', 'Steamboat', 'Williams', 'Rees Gephardt', '170', '71', 'L', 'R', '1914-07-12', '1916-10-01', 'wills101', 'willist01', datetime.date(1979, 6, 29), datetime.date(1892, 1, 31)),
 ('willist02', 1936, 9, 14, 'USA', 'NH', 'Enfield', None, None, None, '', '', '', 'Stan', 'Williams', 'Stanley Wilson', '230', '77', 'R', 'R', '1958-05-17', '1972-08-01', 'wills102', 'willist02', None, datetime.date(1936, 9, 14)),
 ('willita01', 1991, 7, 21, 'USA', 'WA', 'Vancouver', None, None, None, '', '', '', 'Taylor', 'Williams', 'Taylor Grant', '195', '71', 'B', 'R', '2017-09-06', '2017-10-01', 'willt003', 'willita01', None, datetime.date(1991, 7, 21)),
 ('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(2002, 7, 5), datetime.date(1918, 8, 30)),
 ('willito01', 1870, 8, 19, 'USA', 'OH', 'Minersville', 1940, 7, 27, 'USA', 'OH', 'Columbus', 'Tom', 'Williams', 'Thomas C.', '', '', '', '', '1892-05-01', '1893-09-14', 'willt101', 'willito01', datetime.date(1940, 7, 27), datetime.date(1870, 8, 19)),
 ('willito02', 1971, 2, 13, 'USA', 'NY', 'Syracuse', None, None, None, '', '', '', 'Todd', 'Williams', 'Todd Michael', '185', '75', 'R', 'R', '1995-04-29', '2007-06-15', 'willt001', 'willito02', None, datetime.date(1971, 2, 13)),
 ('willitr01', 1992, 4, 25, 'USA', 'CA', 'San Diego', None, None, None, '', '', '', 'Trevor', 'Williams', 'Trevor Anthony', '230', '75', 'R', 'R', '2016-09-07', '2017-09-26', 'willt002', 'willitr01', None, datetime.date(1992, 4, 25)),
 ('williwa01', None, None, None, 'USA', 'PA', 'Philadelphia', None, None, None, '', '', '', 'Wash', 'Williams', 'Washington J.', '180', '71', '', '', '1884-08-05', '1885-06-08', 'willw102', 'williwa01', None, None),
 ('williwa02', 1943, 12, 19, 'USA', 'TX', 'Brownwood', 2016, 1, 23, 'USA', 'TX', 'Abilene', 'Walt', 'Williams', 'Walter Allen', '165', '66', 'R', 'R', '1964-04-21', '1975-09-22', 'willw103', 'williwa02', datetime.date(2016, 1, 23), datetime.date(1943, 12, 19)),
 ('williwo01', 1912, 8, 21, 'USA', 'VA', 'Pamplin', 1995, 2, 24, 'USA', 'VA', 'Appomattox', 'Woody', 'Williams', 'Woodrow Wilson', '175', '71', 'R', 'R', '1938-09-05', '1945-09-30', 'willw101', 'williwo01', datetime.date(1995, 2, 24), datetime.date(1912, 8, 21)),
 ('williwo02', 1966, 8, 19, 'USA', 'TX', 'Houston', None, None, None, '', '', '', 'Woody', 'Williams', 'Gregory Scott', '180', '72', 'R', 'R', '1993-05-14', '2007-09-22', 'willw001', 'williwo02', None, datetime.date(1966, 8, 19))]

- I am using a special plug-in [ipython-sql](https://pypi.org/project/ipython-sql/) for running SQL directly from a code cell in the Jupyter notebook.


- I can use the SQL command from many database clients.

| <img src="../../images/sql_query_1.jpeg"> |
| :---: |
| __Query MySQL Workbench__ |

| <img src="../../images/sql_select_terminal_1.jpeg"> |
| :---: |
| __Query MySQL Terminal Client__ |

- From Python code

In [23]:
import pymysql.cursors
import pandas as pd
import json

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.


# Connect to the database over the network. Use the connection
# to send commands to the DB.
default_cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2017',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)


def run_q(q, args=None, fields= None, fetch=True, cnx=None):
    """

    :param q: An SQL query string that may have %s slots for argument insertion.
    :param args: A tuple of values to insert in the %s slots.
    :param fetch: If true, return the result.
    :param cnx: A database connection. May be None
    :return: A result set or None.
    """

    if cnx is None:
        cnx = default_cnx

    if fields:
        q = q.format(",".join(fields))

    cursor=cnx.cursor()             # Just ignore this for now.

    print("Query = ", cursor.mogrify(q, args))
    cursor.execute(q, args)         # Execute the query.
    
    if fetch:
        r = cursor.fetchall()       # Return all elements of the result.
    else:
        r = None

    return r

In [24]:
result = run_q("select * from people where nameLast='Williams';")
print("Result = ")
print(result)

Query =  select * from people where nameLast='Williams';
Result =

- OK. That output is kind of icky.


- The Python function json.dumps() makes the output a little cleaner.

<u>A more complex example that includes PROJECT</ul>

In [18]:
q ='''SELECT nameLast as last_name, nameFirst as firstName, birthYear as birth_year  
    from people where 
    nameLast='Williams' and birthYear > '1920';'''
result = run_q(q)
print("Result = ")
print(json.dumps(result, indent=2))

Query =  SELECT nameLast as last_name, nameFirst as firstName, birthYear as birth_year
    from people where
    nameLast='Williams' and birthYear > '1920';
Result =
[
  {
    "last_name": "Williams",
    "firstName": "Albert",
    "birth_year": 1954
  },
  {
    "last_name": "Williams",
    "firstName": "Bernie",
    "birth_year": 1948
  },
  {
    "last_name": "Williams",
    "firstName": "Bernie",
    "birth_year": 1968
  },
  {
    "last_name": "Williams",
    "firstName": "Billy",
    "birth_year": 1938
  },
  {
    "last_name": "Williams",
    "firstName": "Billy",
    "birth_year": 1932
  },
  {
    "last_name": "Williams",
    "firstName": "Brian",
    "birth_year": 1969
  },
  {
    "last_name": "Williams",
    "firstName": "Charlie",
    "birth_year": 1947
  },
  {
    "last_name": "Williams",
    "firstName": "Davey",
    "birth_year": 1927
  },
  {
    "last_name": "Williams",
    "firstName": "Dallas",
    "birth_year": 1958
  },
  {
    "last_name": "Williams",
    "firstName": "Dana",
    "birth_year": 1963
  },
  {
    "last_name": "Williams",
    "firstName": "David",
    "birth_year": 1979
  },
  {
    "last_name": "Williams",
    "firstName": "Dick",
    "birth_year": 1929
  },
  {
    "last_name": "Williams",
    "firstName": "Don",
    "birth_year": 1931
  },
  {
    "last_name": "Williams",
    "firstName": "Don",
    "birth_year": 1935
  },
  {
    "last_name": "Williams",
    "firstName": "Earl",
    "birth_year": 1948
  },
  {
    "last_name": "Williams",
    "firstName": "Eddie",
    "birth_year": 1964
  },
  {
    "last_name": "Williams",
    "firstName": "Frank",
    "birth_year": 1958
  },
  {
    "last_name": "Williams",
    "firstName": "George",
    "birth_year": 1939
  },
  {
    "last_name": "Williams",
    "firstName": "Gerald",
    "birth_year": 1966
  },
  {
    "last_name": "Williams",
    "firstName": "George",
    "birth_year": 1969
  },
  {
    "last_name": "Williams",
    "firstName": "Glenn",
    "birth_year": 1977
  },
  {
    "last_name": "Williams",
    "firstName": "Jackson",
    "birth_year": 1986
  },
  {
    "last_name": "Williams",
    "firstName": "Jeff",
    "birth_year": 1972
  },
  {
    "last_name": "Williams",
    "firstName": "Jerome",
    "birth_year": 1981
  },
  {
    "last_name": "Williams",
    "firstName": "Jimy",
    "birth_year": 1943
  },
  {
    "last_name": "Williams",
    "firstName": "Jim",
    "birth_year": 1947
  },
  {
    "last_name": "Williams",
    "firstName": "Ken",
    "birth_year": 1964
  },
  {
    "last_name": "Williams",
    "firstName": "Keith",
    "birth_year": 1972
  },
  {
    "last_name": "Williams",
    "firstName": "Mark",
    "birth_year": 1953
  },
  {
    "last_name": "Williams",
    "firstName": "Matt",
    "birth_year": 1959
  },
  {
    "last_name": "Williams",
    "firstName": "Matt",
    "birth_year": 1965
  },
  {
    "last_name": "Williams",
    "firstName": "Matt",
    "birth_year": 1971
  },
  {
    "last_name": "Williams",
    "firstName": "Mason",
    "birth_year": 1991
  },
  {
    "last_name": "Williams",
    "firstName": "Mitch",
    "birth_year": 1964
  },
  {
    "last_name": "Williams",
    "firstName": "Mike",
    "birth_year": 1968
  },
  {
    "last_name": "Williams",
    "firstName": "Nick",
    "birth_year": 1993
  },
  {
    "last_name": "Williams",
    "firstName": "Randy",
    "birth_year": 1975
  },
  {
    "last_name": "Williams",
    "firstName": "Reggie",
    "birth_year": 1960
  },
  {
    "last_name": "Williams",
    "firstName": "Reggie",
    "birth_year": 1966
  },
  {
    "last_name": "Williams",
    "firstName": "Rick",
    "birth_year": 1952
  },
  {
    "last_name": "Williams",
    "firstName": "Shad",
    "birth_year": 1971
  },
  {
    "last_name": "Williams",
    "firstName": "Stan",
    "birth_year": 1936
  },
  {
    "last_name": "Williams",
    "firstName": "Taylor",
    "birth_year": 1991
  },
  {
    "last_name": "Williams",
    "firstName": "Todd",
    "birth_year": 1971
  },
  {
    "last_name": "Williams",
    "firstName": "Trevor",
    "birth_year": 1992
  },
  {
    "last_name": "Williams",
    "firstName": "Walt",
    "birth_year": 1943
  },
  {
    "last_name": "Williams",
    "firstName": "Woody",
    "birth_year": 1966
  }
]

<u>Using Arguments</u>

- If you want to pass parameters into a query string, there are two options:
    1. String concatentation functions.
    2. %s templates and arguments


- You cannot insert schema terms, like table name or columns using %s substitution. So, you using string formatting or concatenation.

In [20]:
q = "select {} from {} where nameLast=%s and throws=%s"
q2 = q.format(",".join(['playerId', 'nameLast', 'nameFirst', 'throws']), "People")
print("q2 = ", q2)

q2 =  select playerId,nameLast,nameFirst,throws from People where nameLast=%s and throws=%s

In [22]:
cur = cnx.cursor()
cur.execute(q2, ('Williams', 'R'))
result = cur.fetchall()
print("Result = ", json.dumps(result, indent=2))

Result =  [
  {
    "playerId": "willial02",
    "nameLast": "Williams",
    "nameFirst": "Al",
    "throws": "R"
  },
  {
    "playerId": "willial03",
    "nameLast": "Williams",
    "nameFirst": "Albert",
    "throws": "R"
  },
  {
    "playerId": "williar01",
    "nameLast": "Williams",
    "nameFirst": "Art",
    "throws": "R"
  },
  {
    "playerId": "willibe01",
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "throws": "R"
  },
  {
    "playerId": "willibe02",
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "throws": "R"
  },
  {
    "playerId": "willibi01",
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "throws": "R"
  },
  {
    "playerId": "willibi02",
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "throws": "R"
  },
  {
    "playerId": "willibo01",
    "nameLast": "Williams",
    "nameFirst": "Bob",
    "throws": "R"
  },
  {
    "playerId": "willibr01",
    "nameLast": "Williams",
    "nameFirst": "Brian",
    "throws": "R"
  },
  {
    "playerId": "willich01",
    "nameLast": "Williams",
    "nameFirst": "Charlie",
    "throws": "R"
  },
  {
    "playerId": "willida01",
    "nameLast": "Williams",
    "nameFirst": "Dale",
    "throws": "R"
  },
  {
    "playerId": "willida03",
    "nameLast": "Williams",
    "nameFirst": "Davey",
    "throws": "R"
  },
  {
    "playerId": "willida06",
    "nameLast": "Williams",
    "nameFirst": "Dana",
    "throws": "R"
  },
  {
    "playerId": "willide01",
    "nameLast": "Williams",
    "nameFirst": "Denny",
    "throws": "R"
  },
  {
    "playerId": "willide02",
    "nameLast": "Williams",
    "nameFirst": "Dewey",
    "throws": "R"
  },
  {
    "playerId": "willidi01",
    "nameLast": "Williams",
    "nameFirst": "Dib",
    "throws": "R"
  },
  {
    "playerId": "willidi02",
    "nameLast": "Williams",
    "nameFirst": "Dick",
    "throws": "R"
  },
  {
    "playerId": "willido01",
    "nameLast": "Williams",
    "nameFirst": "Don",
    "throws": "R"
  },
  {
    "playerId": "willido02",
    "nameLast": "Williams",
    "nameFirst": "Don",
    "throws": "R"
  },
  {
    "playerId": "williea01",
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "throws": "R"
  },
  {
    "playerId": "williea02",
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "throws": "R"
  },
  {
    "playerId": "willied01",
    "nameLast": "Williams",
    "nameFirst": "Eddie",
    "throws": "R"
  },
  {
    "playerId": "willifr01",
    "nameLast": "Williams",
    "nameFirst": "Frank",
    "throws": "R"
  },
  {
    "playerId": "willige01",
    "nameLast": "Williams",
    "nameFirst": "George",
    "throws": "R"
  },
  {
    "playerId": "willige02",
    "nameLast": "Williams",
    "nameFirst": "Gerald",
    "throws": "R"
  },
  {
    "playerId": "willige03",
    "nameLast": "Williams",
    "nameFirst": "George",
    "throws": "R"
  },
  {
    "playerId": "willigl01",
    "nameLast": "Williams",
    "nameFirst": "Glenn",
    "throws": "R"
  },
  {
    "playerId": "williha01",
    "nameLast": "Williams",
    "nameFirst": "Harry",
    "throws": "R"
  },
  {
    "playerId": "willija01",
    "nameLast": "Williams",
    "nameFirst": "Jackson",
    "throws": "R"
  },
  {
    "playerId": "willije02",
    "nameLast": "Williams",
    "nameFirst": "Jerome",
    "throws": "R"
  },
  {
    "playerId": "williji01",
    "nameLast": "Williams",
    "nameFirst": "Jimmy",
    "throws": "R"
  },
  {
    "playerId": "williji03",
    "nameLast": "Williams",
    "nameFirst": "Jimy",
    "throws": "R"
  },
  {
    "playerId": "williji04",
    "nameLast": "Williams",
    "nameFirst": "Jim",
    "throws": "R"
  },
  {
    "playerId": "willijo02",
    "nameLast": "Williams",
    "nameFirst": "Johnnie",
    "throws": "R"
  },
  {
    "playerId": "willijo99",
    "nameLast": "Williams",
    "nameFirst": "Smokey Joe",
    "throws": "R"
  },
  {
    "playerId": "willike01",
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "throws": "R"
  },
  {
    "playerId": "willike02",
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "throws": "R"
  },
  {
    "playerId": "willike03",
    "nameLast": "Williams",
    "nameFirst": "Keith",
    "throws": "R"
  },
  {
    "playerId": "willima01",
    "nameLast": "Williams",
    "nameFirst": "Marsh",
    "throws": "R"
  },
  {
    "playerId": "willima03",
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "throws": "R"
  },
  {
    "playerId": "willima04",
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "throws": "R"
  },
  {
    "playerId": "willima07",
    "nameLast": "Williams",
    "nameFirst": "Mason",
    "throws": "R"
  },
  {
    "playerId": "willimi03",
    "nameLast": "Williams",
    "nameFirst": "Mike",
    "throws": "R"
  },
  {
    "playerId": "willimu01",
    "nameLast": "Williams",
    "nameFirst": "Mutt",
    "throws": "R"
  },
  {
    "playerId": "williot01",
    "nameLast": "Williams",
    "nameFirst": "Otto",
    "throws": "R"
  },
  {
    "playerId": "willipa01",
    "nameLast": "Williams",
    "nameFirst": "Papa",
    "throws": "R"
  },
  {
    "playerId": "willire01",
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "throws": "R"
  },
  {
    "playerId": "willire02",
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "throws": "R"
  },
  {
    "playerId": "williri01",
    "nameLast": "Williams",
    "nameFirst": "Rip",
    "throws": "R"
  },
  {
    "playerId": "williri02",
    "nameLast": "Williams",
    "nameFirst": "Rinaldo",
    "throws": "R"
  },
  {
    "playerId": "williri03",
    "nameLast": "Williams",
    "nameFirst": "Rick",
    "throws": "R"
  },
  {
    "playerId": "willish01",
    "nameLast": "Williams",
    "nameFirst": "Shad",
    "throws": "R"
  },
  {
    "playerId": "willist01",
    "nameLast": "Williams",
    "nameFirst": "Steamboat",
    "throws": "R"
  },
  {
    "playerId": "willist02",
    "nameLast": "Williams",
    "nameFirst": "Stan",
    "throws": "R"
  },
  {
    "playerId": "willita01",
    "nameLast": "Williams",
    "nameFirst": "Taylor",
    "throws": "R"
  },
  {
    "playerId": "willite01",
    "nameLast": "Williams",
    "nameFirst": "Ted",
    "throws": "R"
  },
  {
    "playerId": "willito02",
    "nameLast": "Williams",
    "nameFirst": "Todd",
    "throws": "R"
  },
  {
    "playerId": "willitr01",
    "nameLast": "Williams",
    "nameFirst": "Trevor",
    "throws": "R"
  },
  {
    "playerId": "williwa02",
    "nameLast": "Williams",
    "nameFirst": "Walt",
    "throws": "R"
  },
  {
    "playerId": "williwo01",
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "throws": "R"
  },
  {
    "playerId": "williwo02",
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "throws": "R"
  }
]

## Connections, Cursors and Fetch...

- We previously, briefly discussed connections.


- Section 6.1.2 in Ramakrishnan and Gherke discuss cursors (p. 189, 191)


"SQL is a set-based language, meaning operations are completed on all or rows of the result.  However, there are times, when you want to do operation on a row by row basis.  This is where cursors come in to play.

... ...

A database cursor can be thought of as a pointer to a specific row within a query result.  The pointer can be moved from one row to the next.  Depending on the type of cursor, you may be even able to move it to the previous row." (https://www.essentialsql.com/database-cursor/)


- Cursors are fundamental to relational database APIs, and many other types of databases.


- The details are often hidden and not explicit, and programmers use them in advanced scenarios. But, they are always (logically) created. 


| <img src = "../../images/cursor.png"> |
| :---: |
| [Cursor Concept](https://codeandwork.github.io/courses/java/sp_cursors_triggers_indexes.html) |

- Concept is similar to an iterator in programming languages/libraries.


- ```cursor.execute(...)``` sends the command to the database and produces the result set. The common operations on the result set are:
    - ```fetchall()```
    - ```fetchone()```
    - ```fetchmany(size=...)```
    
    
- ```cursor.mogrify(q, args)``` returns the actual query string that will be sent to the database.


- The details are PyMySQL library specific but the concepts apply in general to all connection libraries.

## INSERT, UPDATE, DELETE

### Overview

- All databases support some form of Create-Retrieve-Update-Delete (CRUD)


- ```SELECT``` is the SQL retrieve operation.


- The verbs for the other operations are:
    - ```INSERT``` for Create
    - ```UPDATE```
    - ```DELETE```
    
### INSERT

#### Overview

- The basic form is

```
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```

- If you are passing a value for every column, in the order in which the columns are defined in the table, you can skip the columns list because it is implied.

```
INSERT INTO table_name
VALUES (value1, value2, value3, ...);
```

- For MySQL and most RDB engines, the ```INSERT``` statement has many more options. The MySQL version is

```
INSERT [LOW_PRIORITY | DELAYED | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    [(col_name [, col_name] ...)]
    {VALUES | VALUE} (value_list) [, (value_list)] ...
    [ON DUPLICATE KEY UPDATE assignment_list]

INSERT [LOW_PRIORITY | DELAYED | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    SET assignment_list
    [ON DUPLICATE KEY UPDATE assignment_list]

INSERT [LOW_PRIORITY | HIGH_PRIORITY] [IGNORE]
    [INTO] tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    [(col_name [, col_name] ...)]
    SELECT ...
    [ON DUPLICATE KEY UPDATE assignment_list]

value:
    {expr | DEFAULT}

value_list:
    value [, value] ...

assignment:
    col_name = value

assignment_list:
    assignment [, assignment] ...
```

- We will not cover most of the options in the course.

#### Examples

__Note:__ We will switch to a simple table to demonstrate ```INSERT, UPDATE``` and ```DELETE.```

In [28]:
%sql select * from classiccars.offices

7 rows affected.

[('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'),
 ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'),
 ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'),
 ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'),
 ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA')]

In [29]:
%%sql
    INSERT INTO classiccars.offices
    values(8, 'New York', '+1 212 555-1212', 'W 166th Street', 'and Broadway', 'NY', 'USA', '10027', 'NA')

1 rows affected.

[]

In [30]:
%sql select * from classiccars.offices

8 rows affected.

[('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'),
 ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'),
 ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'),
 ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'),
 ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA'),
 ('8', 'New York', '+1 212 555-1212', 'W 166th Street', 'and Broadway', 'NY', 'USA', '10027', 'NA')]

- Example insert with explicitly enumerated columns:

In [32]:
%%sql
    INSERT INTO classiccars.offices
    (city, officeCode, country, phone, territory, addressLine1, postalCode)
    values('Boston', 9, 'USA', '+1 617 555 1212', 'NA', '1 Government Plaza', '02101')

1 rows affected.

[]

In [33]:
%sql select * from classiccars.offices

9 rows affected.

[('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'),
 ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'),
 ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'),
 ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'),
 ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA'),
 ('8', 'New York', '+1 212 555-1212', 'W 166th Street', 'and Broadway', 'NY', 'USA', '10027', 'NA'),
 ('9', 'Boston', '+1 617 555 1212', '1 Government Plaza', None, None, 'USA', '02101', 'NA')]

- <u>Code Example: Starting to flesh out some of HW1.</u>

In [13]:
import abc as ABC

import pymysql

class BaseDataTable():
    """
    The implementation classes (XXXDataTable) for CSV database, relational, etc. with extend the
    base class and implement the abstract methods.
    """

    def __init__(self, table_name, connect_info, key_columns):
        """

        :param table_name: Logical, programmer defined name for the data table.
        :param connect_info: Dictionary of parameters necessary to connect to the data.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
        """
        self._table_name = table_name
        self._connect_info = connect_info
        self._key_columns = key_columns

In [20]:
class RDBDataTable(BaseDataTable):
    """
    The implementation classes (XXXDataTable) for CSV database, relational, etc. with extend the
    base class and implement the abstract methods.
    """

    _default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuser',
        'db': 'lahman2017',
        'port': 3306
    }

    def __init__(self, table_name, key_columns, connect_info=None):
        """

        :param table_name: Logical, programmer defined name for the data table.
        :param connect_info: Dictionary of parameters necessary to connect to the data.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
        """
        super().__init__(table_name, connect_info, key_columns)

        if connect_info is None:
            self._connect_info = RDBDataTable._default_connect_info

        self._cnx = default_cnx = pymysql.connect(
            host=self._connect_info['host'],
            user=self._connect_info['user'],
            password=self._connect_info['password'],
            db=self._connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)


    def __str__(self):
        result = "Key fields: " + str(self._key_columns)
        return result

    def _run_q(self, q, args=None, fields=None, fetch=True, cnx=None):
        """

        :param q: An SQL query string that may have %s slots for argument insertion.
        :param args: A tuple of values to insert in the %s slots.
        :param fetch: If true, return the result.
        :param cnx: A database connection. May be None
        :return: A result set or None.
        """

        if cnx is None:
            cnx = self._cnx

        if fields:
            q = q.format(",".join(fields))

        cursor = cnx.cursor()  # Just ignore this for now.
        print("Query = ", cursor.mogrify(q, args))

        cursor.execute(q, args)  # Execute the query.
        if fetch:
            r = cursor.fetchall()  # Return all elements of the result.
        else:
            r = None
            
        cnx.commit()

        return r

    def _run_insert(self, table_name, column_list, values_list):
        try:
            q = "insert into " + table_name + " "

            if column_list is not None:
                q += "(" + ",".join(column_list) + ") "

            values = ["%s"] * len(values_list)
            values = " ( " + ",".join(values) + ") "
            values = "values" + values
            q += values

            self._run_q(q, args=values_list, fields=None, fetch=False, cnx=None)

        except Exception as e:
            print("Got exception = ", e)

    def find_by_primary_key(self, key_fields, field_list):
        """

        :param key_fields: The values for the key_columns, in order, to use to find a record.
        :param field_list: A subset of the fields of the record to return.
        :return: None, or a dictionary containing the request fields for the record identified
            by the key.
        """
        pass

    #
    def _template_to_where_clause(self, t):
        terms = []
        args = []
        w_clause = ""

        for k, v in t.items():
            temp_s = k + "=%s "
            terms.append(temp_s)
            args.append(v)

        if len(terms) > 0:
            w_clause = "WHERE " + " AND ".join(terms)
        else:
            w_clause = ""
            args = None

        return w_clause, args

    def find_by_template(self, template, field_list=None, limit=None, offset=None, order_by=None):
        """

        :param template: A dictionary of the form { "field1" : value1, "field2": value2, ...}
        :param field_list: A list of request fields of the form, ['fielda', 'fieldb', ...]
        :param limit: Do not worry about this for now.
        :param offset: Do not worry about this for now.
        :param order_by: Do not worry about this for now.
        :return: A list containing dictionaries. A dictionary is in the list representing each record
            that matches the template. The dictionary only contains the requested fields.
        """
        pass

    def delete(self, template):
        """

        Deletes all records that match the template.

        :param template: A template.
        :return: A count of the rows deleted.
        """
        pass

    def insert(self, new_record):
        """

        :param new_record: A dictionary representing a row to add to the set of records.
        :return: None
        """
        column_list = list(new_record.keys())
        value_list = list(new_record.values())
        t_name = self._table_name

        self._run_insert(t_name, column_list, value_list)

    def update(self, template, new_values):
        """

        :param template: A template that defines which matching rows to update.
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records.
        :return: The number of rows updates.
        """
        pass

In [21]:
hw1_start = RDBDataTable('classiccars.offices', None, None)

In [22]:
new_row = {
    "officeCode": 11,
    "city": "Cambridge",
    "phone": "+1 617 555 1212",
    "addressLine1": "Kendall Square",
    "state": "MA",
    "country": "USA",
    "postalCode": "02102",
    "territory": "NA"
}
hw1_start.insert(new_row)

Query =  insert into classiccars.offices (officeCode,city,phone,addressLine1,state,country,postalCode,territory) values ( 11,'Cambridge','+1 617 555 1212','Kendall Square','MA','USA','02102','NA')

In [23]:
%sql select * from classiccars.offices where officeCode=11

1 rows affected.

[('11', 'Cambridge', '+1 617 555 1212', 'Kendall Square', None, 'MA', 'USA', '02102', 'NA')]

### UPDATE

#### Overview

- The basic syntax is:

```
UPDATE table_name
    SET column1 = value1, column2 = value2, ...
    WHERE condition;
```

- The ```WHERE``` condition syntax and behavior is exactly the same as the ```WHERE``` clause in a ```SELECT.```


- There ```WHERE``` clause determines the matching rows. The ```SET``` changes the values of the specified columns.


- The full MySQL syntax is a little more complicated.

```
UPDATE [LOW_PRIORITY] [IGNORE] table_reference
    SET assignment_list
    [WHERE where_condition]
    [ORDER BY ...]
    [LIMIT row_count]

value:
    {expr | DEFAULT}

assignment:
    col_name = value

assignment_list:
    assignment [, assignment] ...
```

#### Examples

##### Example 1: Simple

- Change of the zip code for the office with officeCode=11.

In [25]:
%sql select * from classiccars.offices where officeCode=11

1 rows affected.

[('11', 'Cambridge', '+1 617 555 1212', 'Kendall Square', None, 'MA', 'USA', '02102', 'NA')]

In [28]:
%sql update classiccars.offices set postalCode='02142' where officeCode=11

1 rows affected.

[]

In [29]:
%sql select * from classiccars.offices where officeCode=11

1 rows affected.

[('11', 'Cambridge', '+1 617 555 1212', 'Kendall Square', None, 'MA', 'USA', '02142', 'NA')]

##### Example 2: More Complex

- Increase the MSRP for products from ```productLine``` Motorcycles and ```productScale``` 1:10 by 5%.


- First, let's get a feel for the ```products``` table.

In [32]:
%sql select count(*) as productCount from classiccars.products;

1 rows affected.

[(110,)]

- There are 110 products. Let's just look at the first 10 to understand structure.

In [30]:
%sql select * from classiccars.products limit 10;

10 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70')),
 ('S10_1949', '1952 Alpine Renault 1300', 'Classic Cars', '1:10', 'Classic Metal Creations', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, Decimal('98.58'), Decimal('214.30')),
 ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 6625, Decimal('68.99'), Decimal('118.94')),
 ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 5582, Decimal('91.02'), Decimal('193.66')),
 ('S10_4757', '1972 Alfa Romeo GTA', 'Classic Cars', '1:10', 'Motor City Art Classics', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3252, Decimal('85.68'), Decimal('136.00')),
 ('S10_4962', '1962 LanciaA Delta 16V', 'Classic Cars', '1:10', 'Second Gear Diecast', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 6791, Decimal('103.42'), Decimal('147.74')),
 ('S12_1099', '1968 Ford Mustang', 'Classic Cars', '1:12', 'Autoart Studio Design', 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 68, Decimal('95.34'), Decimal('194.57')),
 ('S12_1108', '2001 Ferrari Enzo', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3619, Decimal('95.59'), Decimal('207.80')),
 ('S12_1666', '1958 Setra Bus', 'Trucks and Buses', '1:12', 'Welly Diecast Productions', 'Model features 30 windows, skylights & glare resistant glass, working steering system, original logos', 1579, Decimal('77.90'), Decimal('136.67')),
 ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, lu ... (82 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 9997, Decimal('66.27'), Decimal('150.62'))]

- Just for verification, let's find the set of rows we plan to update.

In [33]:
%sql SELECT * FROM classiccars.products where productLine='Motorcycles' and productScale='1:10';

3 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70')),
 ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 6625, Decimal('68.99'), Decimal('118.94')),
 ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 5582, Decimal('91.02'), Decimal('193.66'))]

- Now perform the update:

In [34]:
%%sql
update classiccars.products set MSRP=(1.05*MSRP) where productLine='Motorcycles' and productScale='1:10';

3 rows affected.

/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'MSRP' at row 1")
  result = self._query(query)
/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'MSRP' at row 3")
  result = self._query(query)
/Users/donaldferguson/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1265, "Data truncated for column 'MSRP' at row 4")
  result = self._query(query)

[]

In [35]:
%sql SELECT * FROM classiccars.products where productLine='Motorcycles' and productScale='1:10';

3 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('100.49')),
 ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 6625, Decimal('68.99'), Decimal('124.89')),
 ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 5582, Decimal('91.02'), Decimal('203.34'))]

- The truncated warning is due to the fact that:
    - The MSRP columns is of type DECIMAL(10,2).
    - Multiplying by 1.05 produces real numbers with more than two digits after the decimal. 
    - The value is truncated to DECIMAL(10,2)
    

- We can fix several ways. The easiest way is to round the result to two decimal places.

In [36]:
%%sql
update classiccars.products set MSRP=round((1.05*MSRP),2) where productLine='Motorcycles' and productScale='1:10';

3 rows affected.

[]

In [37]:
%sql SELECT * FROM classiccars.products where productLine='Motorcycles' and productScale='1:10';

3 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('105.51')),
 ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 6625, Decimal('68.99'), Decimal('131.13')),
 ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 5582, Decimal('91.02'), Decimal('213.51'))]

### DELETE

#### Overview

- Very similar to ```SELECT``` and ```UPDATE.```

```
DELETE FROM table_name WHERE condition;
```

- The more complex, full MySQL syntax is:

```
DELETE [LOW_PRIORITY] [QUICK] [IGNORE] FROM tbl_name
    [PARTITION (partition_name [, partition_name] ...)]
    [WHERE where_condition]
    [ORDER BY ...]
    [LIMIT row_count]
```

#### Example

- I do not want to delete, or try to delete, too much of the various databases I have installed.


- I am going to delete a couple of the rows that I previously inserted.

In [38]:
%sql select * from classiccars.offices where officeCode=11

1 rows affected.

[('11', 'Cambridge', '+1 617 555 1212', 'Kendall Square', None, 'MA', 'USA', '02142', 'NA')]

- Just to show a slightly more complex example of ```DELETE```

In [40]:
%%sql
delete from classiccars.offices where city='Cambridge' and addressLine1='Kendall Square'

1 rows affected.

[]

In [41]:
%sql select * from classiccars.offices where officeCode=11

0 rows affected.

[]

## The Assignment:  HW1

### Overview

| <img src="../../images/hw1oo.jpeg"> |
| :---: |
| __HW 1 UML for Part 1 and Part 2__ |

- The homework has three parts:
    - I have defined a provided an (abstract) base class: ```BaseDataTable.``` The class defines five methods:
        1. ```find_by_primary_key```
        1. ```find_by_template```
        1. ```insert```
        1. ```update```
        1. ```delete```
    - Part 1 is to implement the five methods using SQL and a relational database.
    - Part 2 is to implement the five methods on top of comma separated value files.
    - Part 3: Write a function that uses the data in the CSV files to compute the 10 best hitters in baseball using algorithm I defined below.
    
    
- The "derived table" is a class that wraps an array of dictionaries representing rows, and only supports ```find_by_template().``` 
    - Subset of the function of ```CSVDataTable.```
    - Cannot be created except as a result of a query (```find_by_template()```).

        
- The test database tables and CSV files are:

| <img src="../../images/lahman2017-1.jpeg" width="100%"><br><br>   |
| :--: |
| __Initial Subset__ |


- Your application should work for any relational table and any CSV file.


- The three comma separated value files ```People.csv, Master.csv, Appearances.csv``` are on [CourseWorks](https://courseworks2.columbia.edu/courses/79571/files/4010124/download?verifier=MDGnSZcfUhe1vQsWK28U91ISImJylxIVLGsQ5ySn&wrap=1).

### Base Data Table

In [ ]:
# Import package to enable defining abstract classes in Python.
# Do not worry about understanding abstract base classes. This is just a class that defines
# some methods that subclasses must implement.
from abc import ABC, abstractmethod


class BaseDataTable(ABC):
    """
    The implementation classes (XXXDataTable) for CSV database, relational, etc. will extend the
    base class and implement the abstract methods.
    """

    def __init__(self, table_name, connect_info, key_columns):
        """

        :param table_name: Name of the table. This is the table name for an RDB table or the file name for
            a CSV file holding data.
        :param connect_info: Dictionary of parameters necessary to connect to the data. See examples in subclasses.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
            A primary key is a set of columns whose values are unique and uniquely identify a row. For Appearances,
            the columns are ['playerID', 'teamID', 'yearID']
        """
        self._table_name = table_name
        self._connect_info = connect_info
        self._key_columns = key_columns

    @abstractmethod
    def find_by_primary_key(self, key_fields, field_list):
        """

        :param key_fields: The values for the key_columns, in order, to use to find a record. For example,
            for Appearances this could be ['willite01', 'BOS', '1960']
        :param field_list: A subset of the fields of the record to return. The CSV file or RDB table may have many
            additional columns, but the caller only requests this subset.
        :return: None, or a dictionary containing the columns/values for the row.
        """
        pass

    @abstractmethod
    def find_by_template(self, template, field_list, limit, offset, order_by):
        """

        :param template: A dictionary of the form { "field1" : value1, "field2": value2, ...}. The function will return
            a derived table containing the rows that match the template.
        :param field_list: A list of requested fields of the form, ['fielda', 'fieldb', ...]
        :param limit: Do not worry about this for now.
        :param offset: Do not worry about this for now.
        :param order_by: Do not worry about this for now.
        :return: A derived table containing the computed rows.
        """
        pass

    @abstractmethod
    def delete(self, template):
        """

        Deletes all records that match the template.

        :param template: A template.
        :return: A count of the rows deleted.
        """
        pass

    @abstractmethod
    def insert(self, new_record):
        """

        :param new_record: A dictionary representing a row to add to the set of records. Raised an exception if this
            creates a duplicate primary key.
        :return: None
        """
        pass

    @abstractmethod
    def update(self, template, new_values):
        """

        :param template: A template that defines which matching rows to update.
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records. This returns an error if the update would create a duplicate primary key. NO ROWS are
            update on this error.
        :return: The number of rows updates.
        """
        pass

### RDBDataTable

- This implementation provides the functions ```'DELETE, UPDATE``` and ```INSERT.```


- You simply need to implement ```find_by_primary_key()``` and ```find_by_template().```


- The implementation also defined the required behavior for ```CSVDataTable.``` ```CSVDataTable``` must behave exactly the same and produce the same outputs, except be implemented using the CSV file.

- For the CSV part, my class looks something like

In [4]:
class SCSVDataTable:

    data_dir = "/Users/donaldferguson/Dropbox/ColumbiaCourse/Courses/Fall2018/W4111/Data/"

    # t_name: The "Name" of the collection.
    # t_file: The name of the CSV file. The class looks in the data_dir for the file.
    def __init__(self, t_name, t_file, key_columns):
        # Your code goes here
        pass

    
    # Pretty print the CSVTable and its attributes.
    def __str__(self):
        # Your code goes here.
        # Optional
        pass

    # loads the data from the file into the class instance data.
    # You decide how to store and represent the rows from the file.
    def load(self):
        # Your code goes here
        pass
    
    # Obvious
    def save(self):
        pass


    # The input is:
    # t: The template to match. The result is a list of rows
    # whose attribute/value pairs exactly match the template.
    # fields: A subset of the fields to include for each result.
    # Raises an exception if the template or list of fields contains
    # a column/attribute name not in the file.
    def find_by_template(self, t, fields=None):
        # Your code goes here
        pass

    
    # Inserts the row into the table. 
    # Raises on duplicate key or invalid columns.
    def insert(self, r):
        # Your code goes here
        pass

       
    # t: A template.
    # Deletes all rows matching the template.
    def delete(self, t):
        # Your code goes here.
        pass

##### Example

- This is an example to give you a feel for the behavior.


- The CAs and I will run a standard set of tests against your implementation.
    - We will not provide the tests in advance.
    - Defining good, complete test cases and coverage is part of application and solution design, and is an important skills to master.

In [1]:
import CSVTable
import json
import copy

In [2]:
people_csvt = CSVTable.CSVTable("People", "People.csv", ["playerID"])
people_csvt.load()

In [3]:
try:
    t1 = { "nameFirst": "Ted", "nameLast": "Williams"}
    print("Testing template ", t1, " on table", "People")
    result = people_csvt.find_by_template(t1)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameFirst': 'Ted', 'nameLast': 'Williams'}  on table People
Query result is
[
  {
    "playerID": "willite01",
    "birthYear": "1918",
    "birthMonth": "8",
    "birthDay": "30",
    "birthCountry": "USA",
    "birthState": "CA",
    "birthCity": "San Diego",
    "deathYear": "2002",
    "deathMonth": "7",
    "deathDay": "5",
    "deathCountry": "USA",
    "deathState": "FL",
    "deathCity": "Inverness",
    "nameFirst": "Ted",
    "nameLast": "Williams",
    "nameGiven": "Theodore Samuel",
    "weight": "205",
    "height": "75",
    "bats": "L",
    "throws": "R",
    "debut": "1939-04-20",
    "finalGame": "1960-09-28",
    "retroID": "willt103",
    "bbrefID": "willite01"
  }
]

In [4]:
try:
    t2 = { "nameLast": "Williams", "throws": "R"}
    fields2 = ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
    print("Testing template ", t1, " on table", "People")
    print("With field list = ", fields2)
    result = people_csvt.find_by_template(t2, fields2)
    print("Query result is ")
    print(json.dumps(result, indent=2))
except Exception as e:
    print("Got exception = ", str(e))

Testing template  {'nameFirst': 'Ted', 'nameLast': 'Williams'}  on table People
With field list =  ['nameLast', 'nameFirst', 'birthCountry', 'throws', 'bats']
Query result is
[
  {
    "nameLast": "Williams",
    "nameFirst": "Al",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Albert",
    "birthCountry": "Nicaragua",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Art",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bernie",
    "birthCountry": "P.R.",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Billy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Bob",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Brian",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Charlie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dale",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Davey",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dana",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Denny",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dewey",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dib",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Dick",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Don",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Don",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Earl",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Eddie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Frank",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "George",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Gerald",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "George",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Glenn",
    "birthCountry": "Australia",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Harry",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jackson",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jerome",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jimmy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jimy",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Jim",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Johnnie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Smokey Joe",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ken",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Keith",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Marsh",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Matt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mason",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mike",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Mutt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Otto",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Papa",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Reggie",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rip",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rinaldo",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Rick",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Shad",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Steamboat",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Stan",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Taylor",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "B"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Ted",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "L"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Todd",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Trevor",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Walt",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  },
  {
    "nameLast": "Williams",
    "nameFirst": "Woody",
    "birthCountry": "USA",
    "throws": "R",
    "bats": "R"
  }
]

### Ten Greatest Hitters

The algorith is:

- For each unique playerID in Batting
    - Find the batting records for each year.
    - If at least one of the batting records has yearID >= 1960. Compute over all years
        - Total at bats (AB)
        - Total hits (H)
        - Batting average = total_H/total_AB
        
        
- For every result from above, use the playerID to look the name up in Master. Add to result.


- Sort result by batting average descending.


- Print the top 10 elements.

### Logistics

- Due: 10-Feb-19 at 23:59:59 (11:59 PM)


- Submission format is a zip file of the format
    - Data
        - People.csv
        - Batting.csv
        - Appearances.csv
    - CSV
        - src
            - CSVQueryProcessor
            - CSVDataTable
            - TenGreatestHitters
        - tests
            - CSVT1
                - Source
                - Execution screenshot
            - CSVT2
                - Source
                - Execution screen shot
            - ...
            - TenGreatesHistterTest
                - Source
                - Execution screen shot
    - RDB
        - src
            - RDBQueryProcessor
            - RDBDataTable
        - tests
            - RDBT1
                - Source
                - Execution screenshot
            - RDBT2
                - Source
                - Execution screenshot
            - ...

- I have a reputation for assigning vague, hard homeworks.


- Transforming a vague request into a concrete specification and implementation is __THE__ core skill of a computer scientist or data engineer.


- My vague homeworks are much, much more precise than things you will get from a customer or business professional.


- I do not expect you to complete the homework or get it completely correct. We learn more from the feedback on mistakes and you cannot learn without mistakes.


- We will grade very leniently focusing on feedback, not deducting points.


- You have to figure out your test cases. This is an __ESSENTIAL__ skill for a computer scientist or data engineer.


- The CAs and I will try to break your program with our own tests.