<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.3;">W4111 $-$ Introduction to Databases: <br>Modeling Patterns, DBMS Implementation, Disks, Indexes</h1>

## Helper Code

In [1]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

import pymysql.cursors
import pandas as pd
import json

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.


# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2017',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

1 rows affected.

In [2]:
import json
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

In [3]:
def run_q(q, args, fetch=False):
    """
    # Helper method to centralize database queries and returning responses.
    :param q: SQL query string that MAY contain %s entries to be filled with args.
    :param args: Optional args to include with query submission to insert into %s
    :param fetch: If true, call and return fetchall(). Not all SQL statements return a value.
    :return: Query result or None
    """
    print("run_q: q= " + q, args)

    result  =   None
    cursor = cnx.cursor()
    cursor.execute(q, args)

    # Obtain query results if requested.
    if fetch:
        result = cursor.fetchall()

    cnx.commit()    # Commit operation, release active session and release locks.
    return result

__NOTE: Show the class the new connection code or they will be miserable, i.e. closing connections!!!__

## Lecture Overview

- Overview: Entity $-$ Relationship Modeling, Object$-$Oriented Modeling, Object Relational Mapping (ORM)
<br><br>
- Modeling patterns and realizations:
    - Many-to-Many relationships.
    - Inheritance.
    - Functional dependency.
<br><br>
- Module II Topics: Reminder
<br><br>
- Disks, storage and input/output.

## Modeling and Notation

### Data Modeling

#### Crow's Foot Notation

- I normally use this notation in class.


- MySQL Workbench Designer also uses an extended version of this notation.

| <img src="../images/crows_foot_notation.jpeg" width="75%"> |
| --- |
| [Crow's Foot Notation](http://www.vivekmchawla.com/erd-crows-foot-relationship-symbols-cheat-sheet/) |

#### Chen Notation
- I tend to use simple entity-relationationship notation in class. This is not a data modeling course.


- Crow's Foot is simple and precise, and good enough for our purposes.


- The textbook uses Chen Notation, which is more complete and complex.

| <img src="../images/chen_notation.jpeg">
| --- |
| __Chen Notation__ |

## Lahman 2017 Data Model

## Object Relational Mapping (ORM)

### Overview

- Object oriented systems/programming have four characteristics
    - Abstraction
    - Encapsulation
    - Inheritance
    - Polymorphism
    
    
- Abstraction, encapsulation and polymorphism are principles that apply to the application.


- _Inheritance_ applies to data and is a type of _relationship_ between data types. $\rightarrow$ Must be able to model/represent in a database because "relational data" is about "relations" between entity properties and entity types.

#### Unified Modeling Language

Ramakrishnan and Gehrke, section 2.7

- There are many ways to classify ER relationships
    - Optional versus Mandatory.
    - Endpoint cardinality.
    - Logical containment (Weak Entity) versus references.
    
    
- Objected oriented adds an additional type of relationship, _Is A._
    - A student _Enrolls In_ classes. Students and classes have different schema and data elements.
    - A student _Is A_ person. A student's schema and properties is somehow linked to person.

- The [Unified Modeling Language (UML)](https://en.wikipedia.org/wiki/Unified_Modeling_Language) is the most common notation for object-oriented modeling.


- UML relationships

| <img src="../images/UML_relationships.jpeg"> |
| --- |
| __UML Relationships__ |

### Object Oriented and Inheritance Modeling Patterns

#### Overview

- This is an incredibly complex problem in general.


- There is an industry of products and tools for [object relational mapping (ORM).](https://en.wikipedia.org/wiki/Object-relational_mapping) 


- We are going to focus on core, simple cases because
    - The pattern is common in database design and implementation scenarios.
    - A use case that shows roles of views, constraints, triggers, functions and procedures.
    
    
- There are [three basic patterns:](http://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database) 1 table, 2 table and 3 table.


- The technical term for _inheritance_ and _realization_ is _specialization._


- There are two core _constraints_ or _facets_ of specialization
    - _Incomplete/complete_
        - In an incomplete specialization only some instances of the parent class are specialized (have unique attributes). Other instances of the parent class have only the common attributes.
        - In a complete specialization, every instance of the parent class has one or more unique attributes that are not common to the parent class.
    - _Disjoint/overlapping_
        - In a disjoint specialization, an object could be a member of only one specialized subclass.
        - In an overlapping specialization, an object could be a member of more than one specialized subclass.

#### One Table Solution

##### Overview and Views

| <img src="../images/inheritance_one.jpeg"> |
| --- |
| __One Table Solution__ |

- There is a single table containing all data for all instances of all types.


- Database views implement _projection_ to create the entity types _student_ and _faculty._

```
CREATE TABLE `person_one` (
  `uni` varchar(32) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `email` varchar(45) GENERATED ALWAYS AS (concat(`uni`,'@columbia.edu')) STORED,
  `type` enum('S','F') NOT NULL,
  `title` varchar(45) DEFAULT NULL,
  `year` varchar(45) DEFAULT NULL,
  `school` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`uni`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE VIEW
	faculty_one
AS SELECT
	uni, last_name, first_name, email, title
FROM
	University.person_one
WHERE
	University.person_one.type = 'F';
    
CREATE VIEW
	student_one
AS SELECT
	uni, last_name, first_name, school, year
FROM
	University.person_one
WHERE
	University.person_one.type = 'S';

```

- This approach is fine for _retrieve,_ but what about _create, update_ and _delete._
    - Programmers think in terms of create, update and delete student/faculty but need to know implementation details that may change. What is I add a new type _staff?_ This could force changing client programs.
    - There are some odd constraints. _year_ must be NULL if _type_ is _F_ but NOT NULL if type is _S._
    
    
- Our solution will be
    - Implement CREATE, UPDATE and DELETE triggers on _Person._
    - Restrict access to INSERT, UPDATE and DELETE on _Person_ to specific security roles.
    - Provide procedures _create_student, delete_student, update_student, create_faculty, delete_faculy_ and _update_faculty._
    
    
- This approach improves data integrity, simplifies client application development and isolates applications from schema and design changes.

##### Person One

- Identify the more complex integrity rules. We will "protect" the person table behind procedures but still need to protect the table's integrity.

```
CREATE DEFINER=`root`@`localhost` TRIGGER `University`.`person_one_BEFORE_INSERT`
	BEFORE INSERT ON `person_one` FOR EACH ROW
BEGIN

	SET New.uni = LOWER(generate_uni(New.last_name, New.first_name));
    
    IF New.type = 'S' THEN
    
		IF (New.year IS NULL) OR (New.school is NULL) OR (New.title IS NOT NULL) THEN
			SIGNAL SQLSTATE '45001'
				SET MESSAGE_TEXT = 'Invalid properties for student', MYSQL_ERRNO=9001;
		END IF;
        
	ELSE
    
		IF (New.year IS NOT NULL) OR (New.school is NOT NULL) OR (New.title IS NULL) THEN
			SIGNAL SQLSTATE '45001'
				SET MESSAGE_TEXT = 'Invalid properties for faculty', MYSQL_ERRNO=9001;
		END IF;
		
	END IF;

END
```

- We would do a similar procedure for UPDATE.


- Now, we need to stop client applications from directly messing things up. So, we will limit the privileges for the applications.

```
REVOKE ALL ON * FROM university_client;
GRANT SELECT ON University.student_one TO university_client;
GRANT SELECT ON University.faculty_one TO university_client;
```

- The REVOKE and GRANT syntaxes are complicated, and the exact model and syntax vary between database management systems.


- The common core elements of any _role based access control rule_(https://en.wikipedia.org/wiki/Role-based_access_control) are
    - [Least privilege principle](https://en.wikipedia.org/wiki/Principle_of_least_privilege): Give a user/role ONLY the permissions necessary to implement functions. 
    - The user (role, group), e.g. citizenship, clearance, etc.
    - The resource e.g. schema/database, table, view, etc.
    - The action, e.g. INSERT, DROP TABLE, ...
    - The context e.g. time, location, source IP, ...
    

- Applied to relational (MySQL) this means

```
GRANT sql_verb(s) ON sql_resource(s) TO user_id(s)
```

##### Procedures

- There will be a set of procedures encapsulating the underlying table.


- The client applications
    - Cannot INSERT, UPDATE, DELETE tables.
    - Can CALL procedures.
    - The databasea analyst carefully develops procedures to ensure integrity. The procedures can INSERT, UPDATE and DELETE the base tables because they run with the permissions of the procedure writer.

```
CREATE DEFINER=`root`@`localhost` PROCEDURE
	`create_student_one`(IN last_name VARCHAR(64), IN first_name VARCHAR(64),
		IN year CHAR(4), IN school CHAR(6))
BEGIN

	DECLARE msg VARCHAR(32);
    
	IF NOT EXISTS (SELECT * FROM schools WHERE code = school) THEN
		SET msg = concat("Invalid school code=",school);
		SIGNAL sqlstate '50001'
			set message_text=msg;
	END IF;
    
    IF year <= year(now()) OR year >= (year(now())+8) THEN
		SET msg = concat("Year ust be between ",year(now())," - ", (year(now())+8));
		SIGNAL sqlstate '50002'
			set message_text=msg;
    END IF;
    
    INSERT INTO person_one(last_name,first_name,type,year,school)
		VALUES(last_name,first_name,"S",year,school);
    
END
```

- We would do similar functions
    - delete_person_one, update_person_one
    - create_faculty_one, update_faculty_one, delete_faculty_one
    - And update, delete, etc. triggers for person_one
    
    
__Note: the _one on the end is just because there are also two and three table solutions.__

- The GRANT statement

```
GRANT  SELECT  ON University.* TO university_client;
GRANT  EXECUTE  ON PROCEDURE University.create_student_one TO university_client;
```

- Demo of connecting as university_client but not being able to do some things.

##### Two Table Solution

| <img src="../images/two_table.jpeg">
| :---: |
| __Two Table Solution__ |

- Some (incomplete schema)

```
CREATE TABLE `faculty_two` (
  `uni` varchar(32) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `email` varchar(45) DEFAULT NULL,
  `title` varchar(45) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `student_two` (
  `uni` varchar(32) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `school` varchar(45) DEFAULT NULL,
  `year` varchar(45) DEFAULT NULL,
  `email` varchar(45) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `person_two` AS
    SELECT 
        `student_two`.`uni` AS `uni`,
        `student_two`.`last_name` AS `last_name`,
        `student_two`.`first_name` AS `first_name`,
        'S' AS `type`,
        `student_two`.`year` AS `year`,
        `student_two`.`school` AS `school`,
        `student_two`.`email` AS `email`,
        NULL AS `title`
    FROM
        `student_two` 
    UNION SELECT 
        `faculty_two`.`uni` AS `uni`,
        `faculty_two`.`last_name` AS `last_name`,
        `faculty_two`.`first_name` AS `first_name`,
        'F' AS `type`,
        NULL AS `year`,
        NULL AS `school`,
        `faculty_two`.`email` AS `email`,
        `faculty_two`.`title` AS `title`
    FROM
        `faculty_two`
```

- Would need to do
    - The CREATE, DELETE and UPDATE procedures.
    - Triggers and various constraints.
    
    
- __Note: Finding the next UNI must use the view, and not an individual table.__

##### Three Table Solution

| <img src="../images/three_table.jpeg"> |
| :---: |
| __Three Table Solution__ |


__Note: Constraints, etc. not added.__

```
CREATE TABLE `person_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `last_name` varchar(45) NOT NULL DEFAULT '',
  `first_name` varchar(45) NOT NULL DEFAULT '',
  `type` varchar(1) NOT NULL DEFAULT '',
  `email` varchar(45) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `student_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `year` varchar(45) DEFAULT NULL,
  `school` varchar(45) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `faculty_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `title` varchar(45) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `faculty_3_full` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `faculty_three`.`title` AS `title`
    FROM
        (`person_three`
        JOIN `faculty_three` ON ((`person_three`.`uni` = `faculty_three`.`uni`)))
        
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `person_3_full` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `student_three`.`school` AS `school`,
        `student_three`.`year` AS `year`
    FROM
        (`person_three`
        JOIN `student_three` ON ((`person_three`.`uni` = `student_three`.`uni`)))
```
        
- Still need to do all of the triggers, functions, procedures, etc.

## Associative and Weak Entity

| <img src="../images/entity_types_1.jpeg"> |
| :---: |
| __Associative and Weak Entities__ |

- Ramakrishnan and Gehrke
    - Weak Entity: section 2.4.3, 3.5.5
    - Associative Entity: sections 2.3, 3.5.2, 3.5.3  
- __Note: Textbook does not use term "associative entity."__


- "An [associative entity](https://en.wikipedia.org/wiki/Associative_entity) is a term used in relational and entity–relationship theory. A relational database requires the implementation of a base relation (or base table) to resolve many-to-many relationships. A base relation representing this kind of entity is called, informally, an "associative table" (though it is a table like any other)."

| <img src="../images/Associate_Entity.png"> |
| :---: |
| __Associative Entity__ |


- "In a relational database, a [weak entity](https://en.wikipedia.org/wiki/Weak_entity) is an entity that cannot be uniquely identified by its attributes alone; therefore, it must use a foreign key in conjunction with its attributes to create a primary key. The foreign key is typically a primary key of an entity it is related to."

| <img src="../images/university_logical.jpeg"> |
| :---: |
| __University Conceptual Model__ |

## Module II $-$ Database Management System Implementation/Architecture (Reminder)

1. Storage management, disk management, buffer management, indexes.
<br><br>
1. Query processing and optimization:  Query evaluation, query parsing and parse trees, operator implementation algorithms, query rewrite, query optimization techniques.
<br><br>
1. Concurrency control and transaction management.

| <img src="../images/Module_II__DIsks_Indexes-2.jpg" width="90%"> |
| :---: |
| |
<br>

| <img src="../images/Module_II__DIsks_Indexes-3.jpg" width="90%"> |
| :---: |
| |

| <img src="../images/dbms_subsystems.jpeg" width="700px"> |
| :---: |
| __DBMS Engine Overview__ |

## HW3 Preview

Homework 3 will focus on applying some of the concepts of
- Constraints
- Triggers
- Procedures
- Inheritance
- Various entity patterns
to cleaning up the Baseball datamodel.