<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
# Introduction to Databases: SELECT Continued, Views, Constraints, HW 2

## Some Helper Code Used in Cells in the Notebook

In [55]:
# We need a module (library) that can communicate with the
# database server.
import pymysql.cursors
import pandas as pd
import json


# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.
config = {
  'user': 'dbuser',
  'password': 'dbuser',
  'host': '10.0.1.4',
  'database': 'lahman2016',
  'raise_on_warnings': True,
  'charset' : 'utf8'
}

# Connect
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2016',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

def run_query(q):
    print("Execution query = \n",q)
    with cnx.cursor() as cursor:
        # Create a new record
        cursor.execute(q)

    df_mysql = pd.read_sql(q,cnx)
    return df_mysql


def print_result(msg, pf):
    print(msg)
    print(pf)
    
def run_and_print_q(msg,q):
    r = run_query(q)
    print("\n",msg,"\n",r)
    
    
def run_query_to_d(q):
     with cnx.cursor() as cursor:
        # Create a new record
        cursor.execute(q)
        
     r = cursor.fetchall()
     return r

## Questions, Comments, Discussion

### Questions or Comments?

In [35]:
animal_1 = "Aardvark"
animal_2 = "Zebra"

if animal_1 < animal_2:
    print(animal_1, " is LT ", animal_2)

Aardvark  is LT  Zebra

- The database server is "on the network." Any application with proper credentials can connect to the database.


- There could be many, many applications written by many, many teams.


- Assuming that every team will get all the constraints correct in their application is risky.


- Changing constraints as the business/data model evolves requires finding and mondifying many programs.


- Integrity constraints defined as part of the data model and enforced by the database management system for all clients is a fundamental function of the relational model.

## Data Design and Views

Ramakrishnan and Gehrke, section 19.1

- Why isn't the player's name and other useful information in Appearances, Batting, etc.

<img src="../images/L5_views_1.jpeg">

- Why not store the player and team/franchise names in the Batting and other tables?


- Redundancy Problem:
    - Inefficient use of storage.
    - Anamolies
        - Update: Some one, somewhere will forget to update the replicas.
        - Insertion: We cannot insert new data without knowing all of the other places we need a copy.
        - Deletion: We may delete one instances, but leave other instances undeleted.
        
        
- Relational databases focus on _integrity,_ which implies avoiding redundancy.


- No problem. I can just get the data I want by  ...

```
SELECT 
	playerID, 
    (select nameLast from Master where Master.playerID = Batting.playerID) as last_name,
    (select nameFirst from Master where Master.playerID = Batting.playerID) as first_name,
    (select franchName from TeamsFranchises WHERE
		TeamsFranchises.franchID = 
                (select franchID from Teams where Teams.teamID = 
                    Batting.teamID and Teams.yearID = Batting.yearID))
                        as franchise_name,
    teamID, yearID, round((h/ab),3) as batting_avg FROM
    lahman2016.batting where ab > 100
    order by batting_avg DESC;
```

- And then what if I want to query THAT data. This is getting out of hand.



- Relational databases have the concept of a _view._

"In a database, a view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object. This pre-established query command is kept in the database dictionary. ... Changes applied to the data in a relevant underlying table are reflected in the data shown in subsequent invocations of the view." (https://en.wikipedia.org/wiki/View_(SQL))


- Creating the view

```
CREATE VIEW PlayerBattingYearView
	As SELECT 
	playerID, 
    (select nameLast from Master where Master.playerID = Batting.playerID) as last_name,
    (select nameFirst from Master where Master.playerID = Batting.playerID) as first_name,
    (select franchName from TeamsFranchises WHERE
		TeamsFranchises.franchID = 
			(select franchID from Teams where Teams.teamID = 
                Batting.teamID and Teams.yearID = Batting.yearID)) as franchise_name,
    teamID, yearID, round((h/ab),3) as batting_avg FROM
    lahman2016.batting where ab > 100
    order by batting_avg DESC;
```

- Querying the view

In [12]:
q = "SELECT last_name, first_name, yearID, batting_avg FROM " + \
    " lahman2016.playerbattingyearview where last_name='Williams';"
run_and_print_q("Good hitters named Williams", q)

Execution query =
 SELECT last_name, first_name, yearID, batting_avg FROM  lahman2016.playerbattingyearview where last_name='Williams';

 Good hitters named Williams
     last_name first_name  yearID  batting_avg
0    Williams        Ted    1941        0.406
1    Williams        Ted    1957        0.388
2    Williams        Ted    1948        0.369
3    Williams        Ken    1923        0.357
4    Williams        Ted    1942        0.356
5    Williams        Ted    1955        0.356
6    Williams      Jimmy    1899        0.355
7    Williams        Ken    1921        0.347
8    Williams         Cy    1926        0.345
9    Williams        Ken    1929        0.345
10   Williams        Ted    1954        0.345
11   Williams        Ted    1956        0.345
12   Williams        Ted    1940        0.344
13   Williams        Ted    1947        0.343
14   Williams        Ted    1949        0.343
15   Williams     Bernie    1999        0.342
16   Williams        Ted    1946        0.342
17   Williams     Bernie    1998        0.339
18   Williams       Matt    1995        0.336
19   Williams     Bernie    2002        0.333
20   Williams      Billy    1972        0.333
21   Williams        Ken    1922        0.332
22   Williams         Cy    1925        0.331
23   Williams      Eddie    1994        0.331
24   Williams        Ken    1925        0.331
25   Williams     Bernie    1997        0.328
26   Williams         Cy    1924        0.328
27   Williams        Ted    1958        0.328
28   Williams        Ted    1939        0.327
29   Williams         Cy    1920        0.325
..        ...        ...     ...          ...
148  Williams       Earl    1976        0.237
149  Williams      Woody    1945        0.237
150  Williams      Jimmy    1908        0.236
151  Williams       Dick    1957        0.234
152  Williams     Gerald    2004        0.233
153  Williams        Art    1902        0.231
154  Williams      Denny    1925        0.229
155  Williams      Jimmy    1905        0.228
156  Williams       Matt    1992        0.227
157  Williams         Cy    1913        0.224
158  Williams       Otto    1903        0.223
159  Williams      Davey    1954        0.222
160  Williams      Lefty    1920        0.218
161  Williams       Earl    1976        0.212
162  Williams      Billy    1976        0.211
163  Williams     Gerald    2001        0.207
164  Williams       Dick    1961        0.206
165  Williams        Ken    1989        0.205
166  Williams       Matt    1988        0.205
167  Williams       Otto    1903        0.203
168  Williams        Gus    1915        0.202
169  Williams       Matt    1989        0.202
170  Williams      Eddie    1996        0.200
171  Williams       Otto    1904        0.200
172  Williams        Pop    1902        0.198
173  Williams      Jimmy    1909        0.195
174  Williams       Matt    1987        0.188
175  Williams      Harry    1914        0.163
176  Williams        Ken    1988        0.159
177  Williams     George    1996        0.152

[178 rows x 4 columns]

- We will go into views in more detail in the next lecture, but I am going to give you a view for HW2 and want to introduce the concept.

## An Interlude on Indexes

BTW, the query

```
SELECT 
    playerID, 
    (select nameLast from Master where Master.playerID = Batting.playerID) as last_name,
    (select nameFirst from Master where Master.playerID = Batting.playerID) as first_name,
    (select franchName from TeamsFranchises WHERE
        TeamsFranchises.franchID = 
                (select franchID from Teams where Teams.teamID = 
                    Batting.teamID and Teams.yearID = Batting.yearID))
                        as franchise_name,
    teamID, yearID, round((h/ab),3) as batting_avg FROM
    lahman2016.batting where ab > 100
    order by batting_avg DESC;
```

runs for 1.5 seconds if there is an index on TeamsFranchises.franchID and 85 seconds if there is no index.

## Homework 2

### Part 1 -- Conceptual Data Model

| <img src="../images/L5_HW_2_CM.jpeg"> | 
|:--:| 
|__HW 2 Conceptual Model__ |

### Logical and Physical Data Model

1. Download and install the full Lahman's 2016 Baseball Database SQL Version. The CAs and I will provide instructions and help.
<BR><BR>
1. HW2 only uses the tables above. Do not worry about the other tables for now.
<br><br>
1. Determine a _primary key_ for each table.
    1. Reminder
        1. A _super key_ is a combination of columns that uniquely identifies a row in a table.
        2. A _candidate key_ is a minimal super key.
        3. A _primary key_ is one of the candidate keys chosen by the data designer/modeler.
    1. I showed you how to determine candidate keys by trying queries. (Lecture 4)
    1. Modify the tables to add a _primary key._ You can use MySQL Workbench or some other tool. 
<br><br>
1. Determine a _foreign key_ relationship for each of the relationships in the diagram above. Create the foreign keys using MySQL Workbench or another tool. The foreign keys will be
    1. There will be two foreign keys in Appearances, Batting, Pitching, Fielding and Salaries.
    1. For each table, one foreign key references Master and one foreign key references Teams.

### Data Access Service API

#### API

- You will write a data access service API. For now, this will be a single function.

```
def dataservice_get(path,fields,filter):
    result = {}
    # Your code goes here.
    return result
```


- path can be of the form
    - /resource
    - /resource/metadata
    - /resource/primary-key
    - /resource/primary-key/resource
    
    
    
- If the path is of the form /resource/primary-key, /resource/primary-key/resource
    - _filter_ will be None
    - _fields_ is a list of fields to get from the identified resources.
    - The function returns a JSON object containing the identified resources and the selected properties.
    
    
    
- If path is of the form /resource
    - _filter_ is a SQL WHERE clause.
    - _fields_ is a list of columns to retrieve.
    - The function returns a JSON object containing the selected resources and the selected properties.
    
    
    
- If path is of the form /resource/metadata, the query returns a JSON object containing the information about the resources columns and keys.



- If the path contains a primary-key, the implementation uses "SHOW KEYS FROM resource" statement to
    - Convert the key in the path of the form k1-k2-k3
    - To the correct WHERE clause.

#### Examples

- Reource query
```
dataservice_get("/master",["nameLast","nameFirst","birthCountry"],"nameLast='Willis'")
```
returns
```
[
  {
      "nameLast": "Willis",
      "nameFirst": "Carl",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Dale",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Dontrelle",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Jim",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Joe",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Lefty",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Les",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Mike",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Ron",
      "birthCountry": "USA"
   },
   {
      "nameLast": "Willis",
      "nameFirst": "Vic",
      "birthCountry": "USA"
   }
]
```

- /resource/primary-key: dataservice_get('/Batting/willite01-1940-1',[ '*' ] , None)

In [64]:
d=run_query_to_d("SHOW KEYS FROM Batting WHERE Key_name='PRIMARY'")
print("Batting keys = \n",json.dumps(d,indent=3))

Batting keys =
 [
   {
      "Table": "batting",
      "Non_unique": 0,
      "Key_name": "PRIMARY",
      "Seq_in_index": 1,
      "Column_name": "playerID",
      "Collation": "A",
      "Cardinality": 18603,
      "Sub_part": null,
      "Packed": null,
      "Null": "",
      "Index_type": "BTREE",
      "Comment": "",
      "Index_comment": ""
   },
   {
      "Table": "batting",
      "Non_unique": 0,
      "Key_name": "PRIMARY",
      "Seq_in_index": 2,
      "Column_name": "yearID",
      "Collation": "A",
      "Cardinality": 93857,
      "Sub_part": null,
      "Packed": null,
      "Null": "",
      "Index_type": "BTREE",
      "Comment": "",
      "Index_comment": ""
   },
   {
      "Table": "batting",
      "Non_unique": 0,
      "Key_name": "PRIMARY",
      "Seq_in_index": 3,
      "Column_name": "stint",
      "Collation": "A",
      "Cardinality": 102492,
      "Sub_part": null,
      "Packed": null,
      "Null": "",
      "Index_type": "BTREE",
      "Comment": "",
      "Index_comment": ""
   }
]

    - Defines the key of Batting to be of the form playerID-yearID-stint
    
    - Which means the path /Batting/willite01-1940-1
    
    - Maps to the SQL Query
    
```
SELECT * FROM batting where playerid='willite01' AND yearID='1940' AND stint='1'
```

- The function call dataservice_get(/Master/willite01/Batting,['yearID','ab'],None) maps to the SQL statement
```
SELECT yearID, ab FROM Batting where playerID='willite01'
```

- The function call dataservice_get('/Master/metadata',None,None) returns

```
{
   "fields": [
      {
         "Field": "playerID",
         "Type": "varchar(255)",
         "Null": "NO",
         "Key": "PRI",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "yearID",
         "Type": "int(11)",
         "Null": "NO",
         "Key": "PRI",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "stint",
         "Type": "int(11)",
         "Null": "NO",
         "Key": "PRI",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "teamID",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "lgID",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "G",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "AB",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "R",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "H",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "2B",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "3B",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "HR",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "RBI",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "SB",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "CS",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "BB",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "SO",
         "Type": "int(11)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "IBB",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "HBP",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "SH",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "SF",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      },
      {
         "Field": "GIDP",
         "Type": "varchar(255)",
         "Null": "YES",
         "Key": "",
         "Default": null,
         "Extra": ""
      }
   ],
   "keys": [
      {
         "Table": "batting",
         "Non_unique": 0,
         "Key_name": "PRIMARY",
         "Seq_in_index": 1,
         "Column_name": "playerID",
         "Collation": "A",
         "Cardinality": 18603,
         "Sub_part": null,
         "Packed": null,
         "Null": "",
         "Index_type": "BTREE",
         "Comment": "",
         "Index_comment": ""
      },
      {
         "Table": "batting",
         "Non_unique": 0,
         "Key_name": "PRIMARY",
         "Seq_in_index": 2,
         "Column_name": "yearID",
         "Collation": "A",
         "Cardinality": 93857,
         "Sub_part": null,
         "Packed": null,
         "Null": "",
         "Index_type": "BTREE",
         "Comment": "",
         "Index_comment": ""
      },
      {
         "Table": "batting",
         "Non_unique": 0,
         "Key_name": "PRIMARY",
         "Seq_in_index": 3,
         "Column_name": "stint",
         "Collation": "A",
         "Cardinality": 102492,
         "Sub_part": null,
         "Packed": null,
         "Null": "",
         "Index_type": "BTREE",
         "Comment": "",
         "Index_comment": ""
      }
   ]
}
```